/* Navbar */

.lights.off .navbar-default .navbar-nav > .active > a,
.lights.off .navbar-default .navbar-nav > .active > a:hover,
.lights.off .navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
}

.lights.off .navbar-default .navbar-nav > li > a:hover,
.lights.off .navbar-default .navbar-nav > li > a:focus,
.lights.off .navbar-default .navbar-nav > .open > a,
.lights.off .navbar-default .navbar-nav > .open > a:hover,
.lights.off .navbar-default .navbar-nav > .open > a:focus {
    color: #FFFFff;
    background-color: rgba(255, 255, 255, 0.05);
}


/* Reader */

.explore .cover {
    background-position: center;
    background-size: 100%;
    height: 200px;
}

.explore .panel-body a:hover {
    color: #d17100;
}

.explore .panel-body,
.explore .panel-body a {
    color: #222;
}

.explore .panel-body p {
    font-size: 16px;
    line-height: 25px;
}

.reader-tabs a:not(.active) {
    color: #555;
}


/* Reader detail */

.container-fluid.reader-cover {
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
    margin-top: 45px !important;
    box-shadow: inset 0 10000px rgba(0, 0, 0, 0.2);
    color: #fff;
    padding: 110px 90px;
}

.container-fluid.reader-cover .container {
    margin-top: 0;
    display: initial;
}

.container-fluid.reader-cover h1 {
    font-weight: 700;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-size: 42px;
}

.reader-wrapper {
    background: #eeeeee;
}

.reader-wrapper .container {
    margin-top: 0 !important;
}

.reader-content {
    word-break: break-word;
    color: #333;
    background: #FFFFFF;
    padding: 50px;
    margin-bottom: 50px;
    margin-top: 100px;
    transition: ease-in-out all 0.1s;
}

.container-fluid.reader-cover + .reader-wrapper .reader-content {
    margin-top: -150px;
}

.lights.off .reader-wrapper {
    background-color: #222222;
}

.lights.off .reader-content {
    background: #333333;
}

.reader-wrapper .title {
    line-height: 50px;
    font-weight: 700;
}

.lights.off .bottom-bar {
    bottom: 0;
    background: #333333;
    color: #ccc;
}

.lights.off .bottom-bar a {
    color: #fff;
}

.reader-content strong {
    color: #333;
}

.reader-content p {
    color: #555;
    line-height: 30px !important;
}

.lights.off .reader-content h1,
.lights.off .reader-content h2,
.lights.off .reader-content h3,
.lights.off .reader-content h4,
.lights.off .reader-content h5,
.lights.off .reader-content h6,
.lights.off .reader-content h1,
.lights.off .reader-content h1,
.lights.off .reader-content p,
.lights.off .reader-content strong,
.lights.off .reader-content li {
    color: #fff;
}

.lights.off .reader-wrapper hr {
    border-color: #1a1b2c;
}


/* Comment section */

.comments {
    margin-bottom: 100px;
}

.comments .media,
.comments .media .media-body {
    overflow: visible;
}

.comments textarea {
    resize: vertical;
}

.lights.off .comments.panel,
.lights.off .comments .panel-heading {
    color: #fff !important;
    background-color: #333333 !important;
    border-color: transparent !important;
}

.lights.off .comments textarea {
    background: #222222;
    border-color: transparent;
    color: #fff !important;
}

.lights.off .panel-body .media:not(:last-child) {
    border-bottom-color: rgba(0, 0, 0, 0.2);
}

/* Full screen mode */

.full-screen {
    position: absolute;
    top: 0;
    padding: 0;
    width: 100% !important;
    height: 100%;
    margin: 0 !important;
    z-index: 10000;
    display: table;
}

.full-screen + .bottom-bar {
    z-index: 10000;
    opacity: 0;
    visibility: hidden;
}

.full-screen-buttons i {
    position: fixed;
    bottom: 30px;
    left: 50px;
    line-height: 2em;
    font-size: 1.5em;
    z-index: 10000;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    visibility: hidden;
    opacity: 0;
    transition: ease-in-out all 0.1s;
}

.full-screen ~ .full-screen-buttons i {
    opacity: 0.6;
    visibility: visible;
}

.full-screen-buttons i:hover {
    background: #dddddd;
    opacity: 1;
    color: #000;
    transform: scale(1.2);
}

.full-screen-buttons i.fa-compress {
    right: 50px;
    left: unset;
}

.full-screen-buttons .tooltip {
    z-index: 10000;
    position: fixed;
    bottom: 80px !important;
    top: unset !important;
}


/* Bottom bar */

.bottom-bar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.06);
    padding: 10px;
    color: #444;
    transition: ease-in-out 0.2s;
}

.bottom-bar img {
    margin: 1px 15px 0 0;
}

.bottom-bar a {
    color: #222;
    font-weight: 700;
}

.bottom-bar a:hover {
    text-decoration: underline;
}

.bottom-bar .container {
    margin-top: 0 !important;
    line-height: 24px;
}

.bottom-bar .flex-container {
    display: flex;
    align-items: center;
}

.bottom-bar .flex-container .flex-auto {
    flex: auto;
}

.bottom-bar .flex-container i {
    font-size: 1.5em;
    line-height: 1.5em;
    opacity: 0.5;
}

.bottom-bar .flex-container i:hover {
    opacity: 1;
}

.bottom-bar .flex-container button {
    background: transparent;
    color: #d17100;
    transition: ease-in-out all 0.1s;
}

.bottom-bar .flex-container button:hover,
.bottom-bar .flex-container button.active {
    background: #d17100;
    color: #fff;
    box-shadow: none;
}
