<!-- Main -->
<div class="container container-light pad-top">
  <!-- Entry grid -->
  <div class="animated fadeIn">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <ul class="nav nav-pills s-mar-y reader-tabs">
          <li role="presentation" ng-class="{'active': currentTab == tab}" ng-repeat="tab in tabs">
            <a ng-click="setCurrentTab(tab)"><h4>{{ tab.label }}</h4></a>
          </li>
        </ul>
        <!-- Nothing text -->
        <nothing text="{{ nothingText }}" view="true" ng-if="!explore.length && !loading"></nothing>
        <!-- Reader -->
        <div ng-if="!loading && explore.length">
          <!-- Posts -->
          <div class="panel panel-default explore animated fadeIn s-pad-no" ng-repeat="post in explore">
            <div class="cover" ng-if="post.media.cover_image"
              ng-style="{'background-image':'url({{ post.media.cover_image.file  }})'}">
            </div>
            <!-- Body -->
            <div class="panel-body break-word">
              <!-- Title -->
              <a ui-sref="reader.detail({ entryId: post.id })">
                <h2 class="t-bold">{{ post.title }}</h2>
              </a>
              <!-- Excerpt -->
              <p class="s-mar-top-soft o-fade-soft">{{ post.excerpt }}</p>
              <!-- Read more -->
              <a ui-sref="reader.detail({ entryId: post.id })" class="s-mar-top-soft" translate>READ_MORE</a>
            </div>
            <!-- Footer -->
            <div class="panel-footer">
              <p class="small pull-left s-mar-no">
                <!-- User picture || Site logo -->
                <img class="img-circle" width="32" ng-src="{{ bottomImage(post) }}">
                <!-- Username -->
                <a ng-href="{{ post.user.get_absolute_uri }}">{{ post.user.username }}</a>
                <!-- Date published -->
                &middot; {{ post.published | date }}
              </p>
              <div class="text-right">
                <!-- Voting and vote counts -->
                <button class="btn btn-light btn-sm" ng-class="{'btn-danger': post.is_voted}"
                  disable-on-request="readerService.vote(post)">
                  <i class="fa fa-heart fa-fw"></i>
                  <span ng-show="post.vote_count">{{ post.vote_count }}</span>
                </button>
                <!-- Bookmark -->
                <button class="btn btn-light btn-sm"
                  disable-on-request="readerService.bookmark(post)">
                  <i class="fa fa-bookmark fa-fw"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
