<div class="container container-light pad-top">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default s-box">
      <div class="panel-body s-pad">
        <form ng-submit="createSite(form)" name="form">
          <h3 class="o-fade-soft">Create a new site</h3>
          <hr>
          <div class="form-group" ng-class="{'has-error': form.errors.url}">
            <div class="input-group">
              <input id="url" class="form-control input-lg" type="text" ng-model="form.url"
                placeholder="Subdomain" required aria-describedby="subdomain">
              <span class="input-group-addon" id="subdomain">
                <span class="text-primary">.gonevis.com</span>
              </span>
            </div>
            <small id="url" class="help-block">{{ form.errors.url[0] }}</small>
          </div>
          <div class="form-group" ng-class="{'has-error': form.errors.title}">
            <input id="title" class="form-control input-lg" type="text"
              ng-model="form.title" placeholder="Title" required/>
            <small id="title" class="help-block">{{ form.errors.title[0] }}</small>
          </div>
          <div class="form-group" ng-class="{'has-error': form.errors.description}">
            <textarea id="description" class="form-control input-lg"
              type="text" ng-model="form.description" placeholder="Description">
              <small id="description" class="help-block">{{ form.errors.description[0] }}</small>
            </textarea>
          </div>
          <button class="btn btn-success btn-block btn-lg"
            ng-disabled="form.loading || form.$invalid">Create
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
