<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <!-- Comment header -->
      <div class="modal-header">
        <img class="modal-image" ng-src="{{ comment.get.user.media.picture ?
          comment.get.user.media.thumbnail_128x128 : 'assets/img/avatar.png'
        }}">
        <a ng-href="{{ comment.get.user.get_absolute_uri }}" target="_blank">
          {{ comment.get.user.name }}
        </a>
        <small class="pull-right">{{ comment.get.created | date }}</small>
      </div>
      <div class="modal-body">
        <!-- Comment content -->
        <h3>{{ comment.get.comment }}</h3>
        <br>
        <blockquote>
          <a class="c-grey" ui-sref="dash.entry-edit({ entryId: comment.get.commented_object_minimal_data.id })">
            {{ comment.get.commented_object_minimal_data.title }}
          </a>
        </blockquote>
        <hr>
        <!-- Reply -->
        <form ng-submit="comment.reply(form.comment)" name="form">
          <div class="row">
            <!-- Reply comment -->
            <div class="form-group col-md-10">
              <textarea ng-model="form.comment"
                placeholder="@{{comment.get.user.name}}"
                class="form-control comment">
              </textarea>
            </div>
            <!-- Reply buttom -->
            <div class="form-group col-md-2">
              <button class="btn btn-sm btn-primary btn-block" ng-disabled="comment.isReplying">Reply</button>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <!-- Delete comment -->
        <button class="btn btn-sm btn-danger pull-left"
          ng-click="comment.remove()"
          data-dismiss="modal">
          <i class="fa fa-trash"></i>
        </button>
        <!-- Comment status -->
        <div class="dropdown options col-md-3 pull-right s-pad-no">
          <button class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
            {{ comment.getStatus().label }} <li class="fa fa-caret-down"></li>
          </button>
          <ul class="dropdown-menu">
            <li class="dropdown-header">Change status</li>
            <li ng-repeat="status in statuses" ng-class="{active: comment.getStatus().label === status.label}">
              <a ng-click="comment.setStatus(status.property, status.value)">
                <i class="fa fa-{{ status.icon }}"></i> {{ status.label }}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>