<!-- Navbar -->
<nav class="navbar navbar-default navbar-fixed-top" ng-class="{'push-out': state.includes('dash.entry-edit')}">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="start" translate ng-if="!auth.isAuthenticated()">GONEVIS</a>
    </div>
    <!-- Authenticated -->
    <div class="collapse navbar-collapse" id="navbar" ng-if="auth.isAuthenticated()">
      <ul class="nav navbar-nav">
        <li class="dropdown dis-g" ng-if="user.getSites().length">
          <!-- Header -->
          <a class="main dropdown-toggle t-line" data-toggle="dropdown">
            <!-- Logo -->
            <img ng-src="{{ currentSiteLogo(currentSite.media.logo ? currentSite : null) }}">
            <!-- Title -->
            <span>{{ currentSite.title }}</span>
            <!-- Caret -->
            <i class="fa fa-caret-down o-fade fa-fw"></i>
          </a>
          <!-- Header dropdown -->
          <ul class="dropdown-menu">
            <!-- Sites -->
            <li ng-repeat="site in user.getSites()" ng-class="{active: currentSite.id === site.id}">
              <a ui-sref="dash.main({s: $index})" ng-click="setSite($index)">{{ site.title }}</a>
            </li>
            <li class="divider"></li>
            <!-- New blog -->
            <li>
              <a ui-sref="site-new({s: param.s})">
                <small translate>START_A_BLOG</small>
              </a>
            </li>
          </ul>
        </li>
        <!-- New blog -->
        <li ng-if="!user.getSites().length" ng-class="{active: state.includes('site-new')}">
          <a ui-sref="site-new"><small translate>START_A_BLOG</small></a>
        </li>
        <li ng-class="{active: state.includes('reader')}">
          <a ui-sref="reader.explore-feed({view: 'feed'})" translate ng-click="set.sidebar = false">READER</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <!-- Happy new year -->
        <li class="new-year" ng-if="showNewYearMessage">
          <a ng-click="happyNewYear()">
            <span>2</span>
            <span>0</span>
            <span>1</span>
            <span>9</span>
          </a>
        </li>
        <!-- Visit Blog -->
        <li><a ng-click="visitBlog(currentSite.url)" target="_blank" translate>VISIT_BLOG</a></li>
        <!-- Account dropdown -->
        <li class="dropdown" ng-class="{active: state.includes('user')}">
          <!-- Header -->
          <a class="main main-light dropdown-toggle t-line" data-toggle="dropdown">
            <!-- Profile picture -->
            <img width="30" ng-src="{{ user.getMedia('tiny') }}" alt="{{ user.getDisplayName() }}"/>
          </a>
          <!-- Header dropdown -->
          <ul class="dropdown-menu">
            <!-- Account settings -->
            <li ng-class="{active: state.includes('user')}">
              <a ui-sref="user({s: param.s})">{{ "VIEW_ACCOUNT" | translate }}<br><span
                class="o-fade">{{ user.get.email }}</span></a>
            </li>
            <li class="divider"></li>
            <!-- Log out -->
            <li><a ng-click="auth.signOut()"><i class="fa fa-sign-out"></i> {{ 'LOG_OUT' | translate }}</a></li>
          </ul>
        </li>
        <!-- Feedback -->
        <li><a ng-click="feedback()" translate>FEEDBACK</a></li>
      </ul>
    </div>
    <!-- Not authenticated -->
    <div class="collapse navbar-collapse" id="navbar" ng-if="!auth.isAuthenticated()">
      <ul class="nav navbar-nav">
        <li ng-class="{active: state.includes('start')}">
          <a ui-sref="start" translate>GET_STARTED</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-class="{active: state.includes('signin')}">
          <a ui-sref="signin" translate>LOGIN</a>
        </li>
        <li ng-class="{active: state.includes('signup') || state.includes('collaborate')}">
          <a ui-sref="signup" translate>REGISTER</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Sidebar content -->
<div class="sidebar-content noselect" ng-class="{'sidebar-close': !set.sidebar || state.includes('dash.entry-edit')}"
  ng-if="auth.isAuthenticated()">
  <!-- Main navs -->
  <div class="navigations">
    <!-- Indicator -->
    <div class="indicator"></div>
    <!-- Navigations -->
    <a ng-href="{{ state.href(nav.sref, {s: param.s ? param.s : set.lastSite, view: nav.view ? nav.view : null}) }}"
      ng-repeat="nav in mainNavs" ng-class="{active: state.includes(nav.sref)}" name="{{ nav.sref }}">
      <!-- More -->
      <div class="more">{{ nav.label }}</div>
      <i class="fa fa-fw {{ nav.icon }}"></i>
      <span>{{ nav.label }}</span>
      <!-- <span class="arrow"></span> -->
    </a>
  </div>
  <!-- Toggle view -->
  <a class="sidebar-collapse" ng-click="set.sidebar = !set.sidebar">
    <i class="fa fa-fw" ng-class="{'fa-chevron-circle-right': !set.sidebar, 'fa-chevron-circle-left': set.sidebar}"></i>
    <span translate>COLLAPSE</span>
  </a>
</div>

<!-- Toaster -->
<toaster-container toaster-options="{'position-class': 'toast-bottom-right'}"></toaster-container>

<!-- Popover -->
<div class="popover tour animated">
  <div class="arrow"></div>
  <div class="popover-title"></div>
  <div class="popover-content"></div>
  <div class="popover-footer">
    <button class="btn btn-default" ng-click="tour.skip()" translate>SKIP</button>
    <button class="btn btn-success" ng-click="tour.nextStep()">
      <i class="fa fa-check"></i> {{ 'NEXT' | translate }}
    </button>
  </div>
</div>

<!-- Popover hideout -->
<div class="popover-hideout"></div>
