<div class="container container-light">
  <div class="col-md-10 col-md-offset-1">
    <div class="panel panel-default">
      <div class="panel-body s-pad s-box">
        <form ng-submit="update(form)" name="form">
          <h3 class="o-fade-soft">Edit entry</h3>
          <ng-include src="'entry/includes/entry_form.html'"></ng-include>
          <div class="btn-group btn-group-lg pull-right">
            <button type="button" class="btn btn-default" ng-click="delete(form.id)" title="Delete entry">
              <i class="fa fa-trash"></i>
            </button>
            <button class="btn btn-primary" ng-disabled="form.loading || form.$invalid">
              <span ng-if="form.loading">
                <i class="fa fa-circle-o-notch fa-spin" ng-show="form.loading"></i>
              </span>
              <i class="fa fa-check fa-fw" ng-hide="form.loading"></i> Update Entry
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
