<!-- Add button -->
<button type="button" class="btn btn-success btn-corner" ui-sref="dash.entry-new">
  <i class="fa fa-plus"></i>
</button>
<!-- Main -->
<div class="container container-light pad-top">
  <div class="col-md-8 col-md-offset-2">
    <!-- Search form -->
    <ng-include src="'basement/search/search_form.html'" class="dis-b s-mar-bottom-soft"></ng-include>
    <!-- Search noresult -->
    <ng-include src="'basement/search/search_noresult.html'"></ng-include>
    <!-- Nothing -->
    <ng-include src="'basement/nothing/nothing.html'" ng-if="!entries.length && !searchForm.noResult"></ng-include>
    <!-- List -->
    <div class="panel panel-default s-box" ng-if="entries.length">
      <!-- Header -->
      <div class="panel-heading">
        <!-- Action dropdown -->
        <div class="dropdown options pull-right" title="options">
          <button class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
            Action <i class="fa fa-caret-down"></i>
          </button>
          <ul class="dropdown-menu">
            <!-- Status -->
            <li class="dropdown-header">Set status to</li>
            <li ng-repeat="s in statuses">
              <a ng-click="setStatus(s.id)">
                <i class="fa fa-{{ s.icon }} text-{{ s.color }}"></i>{{ s.label }}
              </a>
            </li>
            <li class="divider"></li>
            <li class="dropdown-header">Other actions</li>
            <!-- Delete -->
            <li>
              <a ng-click="removeSelected()">
                <i class="fa fa-trash text-danger"></i> Delete
              </a>
            </li>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>

      <!-- List -->
      <div class="panel-body s-pad-y-no b-left-no">
        <ul class="list-unstyled s-mar-no">
          <!-- Entry -->
          <li class="row list-panel b-left b-color-{{ e.status | lowercase }} s-fade"
            ng-repeat="e in entries" ng-show="!e.isDeleted">
            <!-- Title and slug -->
            <div class="col-md-8">
              <input type="checkbox" ng-model="e.selected" ng-click="checked(e)" name="checkbox">
              <a ui-sref="dash.entry-edit({entryId: e.id})">{{ e.title }}</a>
              <small class="dis-b o-fade">/{{ e.slug }}</small>
            </div>
            <!-- Date -->
            <div class="col-md-3 text-right o-fade">
              {{ e.status = 2 ? e.publication_date : e.created | date }}
              <small class="dis-b o-fade">{{ e.status = 2 ? "Publication" : "Creation" }}</small>
            </div>
            <!-- Tools -->
            <div class="col-md-1 text-right">
              <i class="fa fa-fw fa-2x fa-ellipsis-v o-fade-hard c-p h-opacity dropdown-toggle"
                style="padding: 4px" data-toggle="dropdown"></i>
              <ul class="dropdown-menu">
                <li class="dropdown-header" ng-if="e.comment_enabled">
                  <i init class="fa fa-fw fa-comments text-info"></i> Comment enabled
                </li>
                <li class="dropdown-header" ng-if="e.featured ">
                  <i init class="fa fa-fw fa-star text-info"></i> Featured
                </li>
                <li class="dropdown-header" ng-if="e.password ">
                  <i init class="fa fa-fw fa-lock text-danger"></i> Passworded
                </li>
                <li class="divider "></li>
                <li><a ng-click="remove(e)"><i class="fa fa-fw fa-trash text-danger"></i> Delete entry</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- More -->
    <ng-include src="'basement/pagination/pagination_loadmore.html'"></ng-include>
  </div>
</div>
