<!-- Add button -->
<button type="button" class="btn btn-primary btn-corner" ng-click="tagService.viewCreate()">
  <i class="fa fa-plus"></i>
</button>
<!-- Main -->
<div class="container container-light pad-top">
  <div class="col-md-8 col-md-offset-2">
    <!-- Search form -->
    <ng-include src="'basement/search/search_form.html'" class="dis-b s-mar-bottom-soft animated fadeIn" ng-if="initialled">
    </ng-include>
    <!-- Search noresult -->
    <ng-include src="'basement/search/search_noresult.html'"></ng-include>
    <!-- Nothing -->
    <ng-include src="'basement/nothing/nothing.html'" ng-if="!tags.length && !searchForm.noResult && initialled">
    </ng-include>
    <!-- List -->
    <div class="panel panel-defaul s-box animated fadeInUp" ng-if="tags.length">
      <div class="panel-body s-pad-y-no">
        <ul class="list-unstyled s-mar-no">
          <!-- Entry -->
          <li class="row list-panel s-fade" ng-repeat="tag in tags" ng-show="!tag.isDeleted">
            <!-- Title and slug -->
            <img class="tag pull-left img-rounded" ng-src="{{tag.media.cover_image.thumbnail ? tag.media.cover_image.thumbnail : ' '}}">
            <div class="col-md-3">
              <a ng-click="tagService.view(tag)">{{ tag.name }}</a>
              <small class="dis-b o-fade">#{{ tag.slug }}</small>
            </div>
            <!-- Date -->
            <div class="col-md-8 text-left o-fade">
              {{ tag.description }}
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- More -->
    <ng-include src="'basement/pagination/pagination_loadmore.html'" ng-if="initialled"></ng-include>
  </div>
</div>