<div class="container container-light pad-top">
  <div class="col-md-8 col-md-offset-2">
    <!-- Search form -->
    <ng-include src="'basement/search/search_form.html'" ng-if="initialled">
    </ng-include>
    <!-- Search noresult -->
    <ng-include src="'basement/search/search_noresult.html'"></ng-include>
    <!-- Nothing -->
    <ng-include src="'basement/nothing/nothing.html'" ng-if="!comments.length && !searchForm.noResult && initialled"
      ng-init="nothingText = 'You have no comments.'">
    </ng-include>
    <!-- List -->
    <div class="panel panel-default animated fadeIn" ng-if="comments.length">
      <ul class="panel-body panel-list">
        <li class="panel-list-item b-left {{ comment.getStatus().class }}" ng-class="{'animated fadeOut': comment.isDeleted}"
          ng-repeat="comment in comments" ng-show="!comment.isDeleted">
          <!-- User -->
          <img class="comment pull-left img-circle"
            ng-src="{{
              comment.get.user.media.picture ? comment.get.user.media.thumbnail_48x48 : 'assets/img/avatar.png'
            }}">
          <small>
            <a ng-href="{{ comment.get.user.get_absolute_uri }}" target="_blank">
              {{ comment.get.user.name }}
            </a>
            responded to
            <a ui-sref="dash.entry-edit({ entryId: comment.get.commented_object_minimal_data.id })">
              {{ comment.get.commented_object_minimal_data.title }}
            </a>
            <span class="o-fade-soft">{{ comment.get.created | date }}</span>
          </small>
          <br>
          <!-- Comment -->
          <a ng-click="comment.view()">{{ comment.get.comment }}</a>
          <!-- Options -->
          <span class="panel-list-item-button">
            <i class="fa fa-fw fa-ellipsis-v" data-toggle="dropdown"></i>
            <ul class="dropdown-menu">
              <li class="dropdown-header">Change status</li>
              <li ng-repeat="status in statuses" ng-class="{'active': comment.getStatus().label == status.label}">
                <a ng-click="comment.setStatus(status.property, status.value)">
                  <i class="fa fa-{{ status.icon }}"></i> {{ status.label }}
                </a>
              </li>
              <li class="divider"></li>
              <li>
                <a ng-click="comment.remove()">
                  <i class="fa fa-fw fa-trash text-danger"></i> Delete comment
                </a>
              </li>
            </ul>
          </span>
        </li>
      </ul>
    </div>
    <!-- More -->
    <ng-include src="'basement/pagination/pagination_loadmore.html'" ng-if="initialled"></ng-include>
  </div>
</div>