<div class="container container-light pad-top">
  <div class="col-md-12">
    <!-- Search form -->
    <ng-include src="'basement/search/search_form.html'" ng-if="initialled">
    </ng-include>
    <!-- Search noresult -->
    <ng-include src="'basement/search/search_noresult.html'"></ng-include>
    <!-- Nothing -->
    <ng-include src="'basement/nothing/nothing.html'" ng-if="!comments.length && !searchForm.noResult && initialled"
      ng-init="nothingText = 'You have no comments.'">
    </ng-include>
    <!-- List -->
    <div class="comments" ng-if="comments.length">
      <div class="media animated fadeIn" ng-repeat="comment in comments" ng-show="!comment.isDeleted">
        <div class="media-left">
          <img class="media-object img-circle" ng-src="{{ comment.user.getMedia('tiny') }}">
        </div>
        <div class="media-body">
          <div class="media-heading s-mar-no">
            <a ng-href="{{ comment.user.get.get_absolute_uri }}" target="_blank">{{ comment.user.getDisplayName() }}</a>
            <small class="o-fade-soft">responded to</small>
            <a ui-sref="dash.entry-edit({ entryId: comment.get.commented_object_minimal_data.id })">
              {{ comment.get.commented_object_minimal_data.title }}
            </a>
            <!-- Option -->
            <div class="dropdown pull-right">
              <a class="dropdown-toggle" data-toggle="dropdown">
                <i class="fa fa-fw fa-ellipsis-v"></i>
              </a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header" translate>Change status</li>
                <li ng-repeat="status in statuses" ng-class="{'active': comment.getStatus().label == status.label}">
                  <a ng-click="comment.setStatus(status.property, status.value)">
                    <i class="fa fa-{{ status.icon }}"></i> {{ status.label }}
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a ng-click="comment.remove()">
                    <i class="fa fa-fw fa-trash text-danger"></i> <span translate>Delete comment</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- Comment -->
          <p class="s-mar-no">{{ comment.get.comment }}</p>
          <!-- Info -->
          <small>
            <span class="o-fade-soft">
              {{ comment.get.created | date }} &middot;
              <span ng-if="comment.get.status !== 1">{{ comment.getStatus().label }} &middot;</span>
            </span>
            <a ng-click="comment.view()">Open</a>
          </small>
        </div>
      </div>
    </div>
    <!-- More -->
    <ng-include src="'basement/pagination/pagination_loadmore.html'" ng-if="initialled"></ng-include>
  </div>
</div>
