<div class="container container-light pad-top">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default s-box">
      <div class="panel-body s-pad">
        <form ng-submit="passwordReset(form)" name="form">
          <h3 class="o-fade-soft"><i class="fa fa-key"></i> Reset Password</h3>
          <hr>
          <div class="form-group" ng-class="{'has-error': form.errors.password}">
            <input id="password" class="form-control input-lg" type="password" ng-model="form.currentpassword" placeholder="Current Password" required/>
            <small id="password" class="help-block">{{ form.errors.password[0]}}</small>
          </div>
          <div class="form-group" ng-class="{'has-error': form.errors.password}">
            <input id="password" class="form-control input-lg" type="password" ng-model="form.password" placeholder="New Password" required/>
            <small id="password" class="help-block">{{ form.errors.password[0]}}</small>
          </div>
          <button class="btn btn-danger btn-block btn-lg" ng-disabled="form.loading || form.$invalid">Reset</button>
        </form>
      </div>
    </div>
  </div>
</div>