/* Editor */

.editor-container {
    transition: ease-in-out all 0.3s;
}

.ql-snow .ql-direction:not(.ql-active) i.fa-flip-horizontal {
    display: none;
}

.ql-snow .ql-direction.ql-active i:first-child {
    display: none;
}

.ql-snow span.ql-formats:last-child {
    float: right;
    margin-right: 0;
}

.ql-snow span.ql-formats:last-child button {
    border-left: 1px solid #e7e7e7;
    transition: ease-in-out border 0.3s;
}

.ql-snow span.ql-formats:first-child {
    margin-right: 30px;
}

.ql-snow a {
    color: #d17100 !important;
    text-decoration: none !important;
}

.ql-container.ql-snow {
    border: none !important;
}

.ql-container.ql-snow .ql-editor {
    min-height: 400px;
}

.ql-toolbar.ql-snow {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background: #fff;
    z-index: 9;
    border: none !important;
    transition: ease-in-out all 0.3s;
    border-bottom: 1px solid #e7e7e7 !important;
    padding: 0 !important;
}

.lights.off .ql-toolbar.ql-snow .ql-fill,
.lights.off .ql-toolbar.ql-snow .ql-stroke.ql-fill {
    fill: #fff !important;
}

.lights.off .ql-toolbar.ql-snow .ql-stroke {
    stroke: #fff !important;
}

.lights.off .ql-toolbar.ql-snow {
    background: #333;
    border-bottom: 1px solid #222 !important;
}

.lights.off .ql-toolbar.ql-snow .ql-picker-options {
    background: #333;
    color: #fff;
}

.lights.off .ql-toolbar.ql-snow .ql-picker-label {
    color: #fff;
}

.lights.off .ql-toolbar.ql-snow button:hover,
.lights.off .ql-snow.ql-toolbar button.ql-active {
    background-color: #222 !important;
}

.lights.off .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label,
.lights.off .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
    border-color: #222 !important;
}

.lights.off .ql-toolbar.ql-snow .ql-formats button {
    border-color: #222 !important;
    color: #fff;
    line-height: 0;
    padding: 0;
}

.lights.off .ql-toolbar.ql-snow .ql-picker-options .ql-picker-item:hover,
.lights.off .ql-snow button.ql-light {
    background-color: #222;
}

.ql-snow .ql-icon-picker .ql-picker-item {
    width: unset !important;
}

.ql-snow.ql-toolbar button {
    width: 40px !important;
    height: 60px !important;
    font-size: 0.7em;
    color: #444;
}

.ql-snow.ql-toolbar button svg,
.ql-snow .ql-toolbar button svg {
    height: unset !important;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow.ql-toolbar button.ql-active {
    background-color: #eee !important;
}

.ql-snow.ql-toolbar button.ql-active,
.lights.off .ql-snow button.ql-light  {
    box-shadow: inset 0 -2px;
}

.ql-picker {
    height: 60px !important;
}

.ql-snow .ql-picker-label {
    border-top: none !important;
    border-bottom: none !important;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label,
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
    border-color: #e7e7e7;
}

.ql-snow span.ql-header .ql-picker-label {
    line-height: 63px;
}

.ql-snow span.ql-icon-picker .ql-picker-label {
    line-height: 60px;
}

.ql-snow .ql-picker-options {
    padding: 0 !important;
    margin-top: 1px !important;
    border-top: none !important;
    box-shadow: none !important;
}

.ql-snow span.ql-header .ql-picker-options .ql-picker-item {
    padding: 5px 20px !important;
}

.ql-snow .ql-picker-options .ql-picker-item:active,
.ql-picker-label.ql-active,
.ql-snow .ql-picker.ql-expanded .ql-picker-label,
.lights.off .ql-snow button.ql-light {
    color: #d17100 !important;

}

.ql-snow .ql-picker-options .ql-picker-item:hover {
    background-color: #eee;
    color: #d17100 !important;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: #d17100 !important;
}

.editor {
    font-size: 1.4em;
    position: relative;
    z-index: 1;
}

.editor #title {
    box-shadow: none !important;
    background: transparent !important;
    border: none;
    font-size: 1.5em;
    padding: 10px;
    margin-top: 60px;
}

.ql-editor.ql-blank::before {
    color: #888888;
}

.ql-editor {
    font-size: 1.4em;
}

.ql-editor p {
    line-height: 24px;
    margin-bottom: 16px;
}

.ql-editor h1,
.ql-editor h2,
.ql-editor h3 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.ql-editor img {
    max-width: 100%;
    background: #eee;
}

.lights.off .ql-editor img {
    background: #222;
}

.ql-editor li+li {
    margin-top: 0.25em;
}


/* Custom buttons */

.ql-back {
    border-right: 1px solid #eee !important;
    width: 100% !important;
    padding: 0px !important;
    transition: ease-in-out border 0.3s;
}

.ql-snow.ql-toolbar button.ql-publish,
.ql-snow.ql-toolbar button.ql-update {
    width: 100px !important;
    display: none;
}

ng-quill-editor.form-loading .ql-snow.ql-toolbar button.ql-publish,
ng-quill-editor.form-loading .ql-snow.ql-toolbar button.ql-update {
    cursor: not-allowed;
    color: #aaa !important;
}

ng-quill-editor.publishing .ql-snow.ql-toolbar button.ql-publish {
    display: block !important;
}

ng-quill-editor:not(.publishing) button.ql-update {
    display: block !important;
}

.divider {
    border: none;
    color: #222;
    letter-spacing: 1em;
    text-align: center;
    line-height: 5px;
    height: 20px;
    font-size: 1.2em
}

.lights.off .divider {
    color: #fff;
}

.divider:before {
    content: '...';
}


/* Preview */

iframe.post-preview {
    border: none;
    width: 100%;
    height: 450px;
    margin-bottom: -5px;
}

.modal#preview .modal-dialog {
    min-width: 400px;
    transition: cubic-bezier(0.99,-0.46, 0, 0.97) all 0.5s !important;
}

.modal#preview .modal-header {
    padding: 20px;
}

.lights.off .container-fluid {
    box-shadow: 0 0 0 10000px #333;
}

.lights.off .container-fluid,
.lights.off .editor-container,
.lights.off .editor .form-control {
    background: #333 !important;
    border-color: #222 !important;
    color: #fff !important;
}

.lights.off .editor-draft-mode,
.lights.off #content~.medium-editor-toolbar .medium-editor-action {
    color: #ddd !important;
    border-color: #222;
}

.lights.off #content~.medium-editor-toolbar-active .medium-editor-action.active {
    background: #222 !important;
}

.lights.off code {
    color: #faa;
    background: #222;
}

.lights.off pre {
    background: #222;
    color: #ddd;
    border-color: #333;
}

.editor-draft-mode:hover {
    opacity: 1;
}

.editor,
.form-control,
.editor-draft-mode,
.navbar .active a,
code,
pre {
    transition-duration: 0.3s;
    transition-property: background, box-shadow, color, border;
    transition-timing-function: ease-in-out;
}

.navbar-fixed-top.push-out {
    top: -50px;
}
