/* Editor */

.editor-container {
    transition: linear background 0.3s, linear border 0.3s;
}

.ql-snow span.ql-formats:last-child {
    float: right;
}

.ql-snow a {
    color: #d17100 !important;
    text-decoration: none !important;
}

.ql-container.ql-snow {
    border: none !important;
}

.ql-container.ql-snow .ql-editor {
    min-height: 400px;
}

.ql-toolbar.ql-snow {
    position: fixed;
    left: 0;
    right: 0;
    top: 45px;
    background: #fff;
    z-index: 9;
    border: none !important;
    transition: linear background 0.3s,
                linear border 0.3s,
                cubic-bezier(1, 0.02, 0, 0.99) 0.5s top;
    border-bottom: 1px solid #e7e7e7 !important;
    padding: 0 45px 0 45px !important;
}

.lights.off .ql-toolbar.ql-snow .ql-fill,
.lights.off .ql-toolbar.ql-snow .ql-stroke.ql-fill {
    fill: #fff !important;
}

.lights.off .ql-toolbar.ql-snow .ql-stroke {
    stroke: #fff !important;
}

.lights.off .ql-toolbar.ql-snow {
    background: #333;
    border-bottom: 1px solid #222 !important;
}

.lights.off .ql-toolbar.ql-snow .ql-picker-options {
    background: #333;
    color: #fff;
}

.lights.off .ql-toolbar.ql-snow .ql-picker-label {
    color: #fff;
}

.lights.off .ql-toolbar.ql-snow button:hover,
.lights.off .ql-snow.ql-toolbar button.ql-active {
    background-color: #222 !important;
}

.lights.off .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label,
.lights.off .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
    border-color: #222 !important;
}

.lights.off .ql-toolbar.ql-snow .ql-picker-options .ql-picker-item:hover,
.lights.off .ql-snow button.ql-light {
    background-color: #222;
}

.ql-snow .ql-icon-picker .ql-picker-item {
    width: unset !important;
}

.ql-snow.ql-toolbar button {
    width: 45px !important;
    height: 60px !important;
    padding: 14px !important;
}

.ql-snow.ql-toolbar button svg,
.ql-snow .ql-toolbar button svg {
    height: unset !important;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow.ql-toolbar button.ql-active {
    background-color: #eee !important;
}

.ql-snow.ql-toolbar button.ql-active,
.lights.off .ql-snow button.ql-light  {
    box-shadow: inset 0 -2px;
}

.ql-picker {
    height: 60px !important;
}

.ql-snow .ql-picker-label {
    border-top: none !important;
    border-bottom: none !important;
}

.ql-snow span.ql-header .ql-picker-label {
    line-height: 63px;
}

.ql-snow span.ql-icon-picker .ql-picker-label {
    line-height: 67px;
}

.ql-snow .ql-picker-options {
    padding: 0 !important;
    margin-top: 0 !important;
}

.ql-snow span.ql-header .ql-picker-options .ql-picker-item {
    padding: 5px 20px !important;
}

.ql-snow .ql-picker-options .ql-picker-item:active,
.ql-picker-label.ql-active,
.ql-snow .ql-picker.ql-expanded .ql-picker-label,
.lights.off .ql-snow button.ql-light {
    color: #d17100 !important;

}

.ql-snow .ql-picker-options .ql-picker-item:hover {
    background-color: #eee;
    color: #d17100 !important;
}

.ql-snow.ql-toolbar button:hover .ql-stroke,
.ql-snow .ql-toolbar button:hover .ql-stroke,
.ql-snow.ql-toolbar button:focus .ql-stroke,
.ql-snow .ql-toolbar button:focus .ql-stroke,
.ql-snow.ql-toolbar button.ql-active .ql-stroke,
.ql-snow .ql-toolbar button.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke,
.ql-snow.ql-toolbar button:hover .ql-stroke-miter,
.ql-snow .ql-toolbar button:hover .ql-stroke-miter,
.ql-snow.ql-toolbar button:focus .ql-stroke-miter,
.ql-snow .ql-toolbar button:focus .ql-stroke-miter,
.ql-snow.ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar button.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter,
.ql-snow .ql-picker-options .ql-picker-item:active .ql-stroke,
.ql-picker-label.ql-active .ql-stroke,
.ql-snow .ql-picker.ql-expanded .ql-picker-label .ql-stroke {
    stroke: #d17100 !important;
}

.ql-snow.ql-toolbar button:hover .ql-fill,
.ql-snow .ql-toolbar button:hover .ql-fill,
.ql-snow.ql-toolbar button:focus .ql-fill,
.ql-snow .ql-toolbar button:focus .ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill,
.ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill,
.ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
    fill: #d17100 !important;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: #d17100 !important;
}

.editor {
    font-size: 1.4em;
    position: relative;
    z-index: 1;
}

.editor #title {
    box-shadow: none !important;
    background: transparent !important;
    border: none;
    font-size: 1.5em;
    padding: 10px;
    margin-top: 60px;
}

.ql-editor.ql-blank::before {
    color: #888888;
}

.ql-editor {
    font-size: 1.4em;
}

.ql-editor p {
    line-height: 24px;
    margin-bottom: 16px;
}

.ql-editor h1,
.ql-editor h2,
.ql-editor h3 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.ql-editor img {
    max-width: 100%;
    background: #eee;
}

.lights.off .ql-editor img {
    background: #222;
}

.ql-editor li+li {
    margin-top: 0.25em;
}

/* Preview */

iframe.post-preview {
    border: none;
    width: 100%;
    height: 450px;
    margin-bottom: -5px;
}

.modal#preview .modal-dialog {
    min-width: 400px;
    transition: cubic-bezier(0.99,-0.46, 0, 0.97) all 0.5s !important;
}

.modal#preview .modal-header {
    padding: 20px;
}


/* Top toolbar */

.entry-toolbar {
    position: fixed;
    width: 100%;
    top: 0;
    min-height: 45px;
    background: #fff;
    z-index: 10;
    border-bottom: 1px solid #e7e7e7;
}

.entry-toolbar {
    transition: cubic-bezier(1, 0.02, 0, 0.99) 0.4s top,
                linear background 0.3s,
                linear border 0.3s
}

.lights.off .entry-toolbar {
    background: #333;
}

.entry-toolbar.push-out {
    transition: cubic-bezier(1, 0.02, 0, 0.99) 0.6s top;
    top: -45px;
}

nav.push-out {
    top: -60px;
}

div.ql-toolbar.ql-snow.push-out {
    top: 0;
}

.entry-toolbar ul {
    height: 100%;
    margin-bottom: 0;
}

.entry-toolbar ul li {
    list-style: none;
    display: block;
    float: left;
    transition: linear 0.3s border,
}

.entry-toolbar ul li a {
    display: block;
    position: relative;
    color: #555;
    padding: 12px 20px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.lights.off .entry-toolbar ul li a,
.lights.off .entry-toolbar ul li.site {
    color: #fff;
}

.lights.off .entry-toolbar ul li a:hover {
    color: #31FF8F;
    background-color: #222;
}

.entry-toolbar ul li {
    border-left: 1px solid #e7e7e7;
}

.lights.off .entry-toolbar ul li,
.lights.off .entry-toolbar {
    border-color: #222;
}

.entry-toolbar ul li:last-child {
    border-right: 1px solid #e7e7e7;
}

.entry-toolbar ul li[disabled=disabled] {
    cursor: not-allowed;
}

.entry-toolbar ul li[disabled=disabled] a {
    pointer-events: none;
    color: #999 !important;
}

.entry-toolbar ul li a:hover {
    color: #222;
}

.entry-toolbar ul li img {
    width: 32px;
    margin-right: 5px;
}

.entry-toolbar ul li.site {
    padding: 6px;
}

.entry-toolbar ul li.site div {
    font-size: 80%;
}
