/* Editor */

.editor-container {
    margin-top: 30px !important;
    transition: ease-in-out all 0.3s;
}

.ql-snow .ql-direction:not(.ql-active) i.fa-flip-horizontal {
    display: none;
}

.ql-snow .ql-direction.ql-active i:first-child {
    display: none;
}

.ql-snow span.ql-formats:last-child {
    float: right;
    margin-right: 0;
}

.ql-snow span.ql-formats:last-child button {
    border-left: 1px solid #e7e7e7;
    transition: ease-in-out border 0.3s;
}

.ql-snow span.ql-formats:first-child {
    margin-right: 30px;
}

.ql-snow a {
    color: #d17100 !important;
    text-decoration: none !important;
}

.ql-container.ql-snow {
    border: none !important;
}

.ql-container.ql-snow strong {
    color: #444;
}

.ql-container.ql-snow .ql-editor {
    min-height: 400px;
}

.ql-toolbar.ql-snow {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    background: #fff;
    z-index: 9;
    border: none !important;
    transition: ease-in-out all 0.3s;
    border-bottom: 1px solid #e7e7e7 !important;
    padding: 0 !important;
}

.ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke,
.ql-snow.ql-toolbar .ql-picker.ql-expanded .ql-stroke {
    stroke: #d17100;
}

.lights.off .ql-toolbar.ql-snow .ql-fill,
.lights.off .ql-toolbar.ql-snow .ql-stroke.ql-fill {
    fill: #fff !important;
}

.lights.off .ql-toolbar.ql-snow .ql-stroke {
    stroke: #fff !important;
}

.lights.off .ql-toolbar.ql-snow {
    background: #333;
    border-bottom: 1px solid #222 !important;
}

.lights.off .ql-toolbar.ql-snow .ql-picker-options {
    background: #333;
    color: #fff;
}

.lights.off .ql-toolbar.ql-snow .ql-picker-label,
.lights.off .ql-editor strong {
    color: #fff;
}

.lights.off .ql-toolbar.ql-snow button:hover,
.lights.off .ql-snow.ql-toolbar button.ql-active {
    background-color: #222 !important;
}

.lights.off .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label,
.lights.off .ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
    border-color: #222 !important;
}

.lights.off .ql-toolbar.ql-snow .ql-formats button {
    border-color: #222 !important;
    color: #fff;
    line-height: 0;
    padding: 0;
}

.lights.off .ql-toolbar.ql-snow .ql-picker-options .ql-picker-item:hover,
.lights.off .ql-snow button.ql-light {
    background-color: #222;
}

.ql-snow .ql-icon-picker .ql-picker-item {
    width: unset !important;
}

.ql-snow.ql-toolbar button {
    width: 40px !important;
    height: 50px !important;
    font-size: 0.7em;
    color: #444;
}

.ql-snow.ql-toolbar button svg,
.ql-snow .ql-toolbar button svg {
    height: unset !important;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow.ql-toolbar button.ql-active {
    background-color: #eee !important;
}

.ql-snow.ql-toolbar button.ql-active,
.lights.off .ql-snow button.ql-light  {
    box-shadow: inset 0 -2px;
}

.ql-picker {
    height: 50px !important;
}

.ql-snow .ql-picker-label {
    border-top: none !important;
    border-bottom: none !important;
}

.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-label,
.ql-toolbar.ql-snow .ql-picker.ql-expanded .ql-picker-options {
    border-color: #e7e7e7;
}

.ql-snow span.ql-header .ql-picker-label {
    line-height: 53px;
}

.ql-snow span.ql-icon-picker .ql-picker-label {
    line-height: 50px;
}

.ql-snow .ql-picker-options {
    padding: 0 !important;
    margin-top: 0 !important;
    border-top: none !important;
    box-shadow: none !important;
}

.ql-snow span.ql-header .ql-picker-options .ql-picker-item {
    padding: 5px 20px !important;
}

.ql-snow .ql-picker-options .ql-picker-item:active,
.ql-picker-label.ql-active,
.ql-snow .ql-picker.ql-expanded .ql-picker-label,
.lights.off .ql-snow button.ql-light {
    color: #d17100 !important;

}

.ql-snow .ql-picker-options .ql-picker-item:hover {
    background-color: #eee;
    color: #d17100 !important;
}

.ql-snow.ql-toolbar button:hover,
.ql-snow .ql-toolbar button:hover,
.ql-snow.ql-toolbar button:focus,
.ql-snow .ql-toolbar button:focus,
.ql-snow.ql-toolbar button.ql-active,
.ql-snow .ql-toolbar button.ql-active,
.ql-snow.ql-toolbar .ql-picker-label:hover,
.ql-snow .ql-toolbar .ql-picker-label:hover,
.ql-snow.ql-toolbar .ql-picker-label.ql-active,
.ql-snow .ql-toolbar .ql-picker-label.ql-active,
.ql-snow.ql-toolbar .ql-picker-item:hover,
.ql-snow .ql-toolbar .ql-picker-item:hover,
.ql-snow.ql-toolbar .ql-picker-item.ql-selected,
.ql-snow .ql-toolbar .ql-picker-item.ql-selected {
    color: #d17100 !important;
}

.editor {
    font-size: 1.4em;
    position: relative;
    z-index: 1;
}

.editor #title {
    box-shadow: none !important;
    background: transparent !important;
    border: none;
    font-size: 2em;
    margin-top: 60px;
    color: #333;
    font-weight: 700;
    padding: 0 15px;
}

.ql-editor.ql-blank::before {
    color: #888888;
    font-style: normal;
    letter-spacing: 1px;
}

.ql-editor {
    font-size: 1.4em;
}

.ql-editor p {
    line-height: 24px;
    margin-bottom: 16px;
}

.ql-editor h1,
.ql-editor h2,
.ql-editor h3 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.ql-editor img {
    max-width: 100%;
    background: #eee;
}

.lights.off .ql-editor img {
    background: #222;
}

.ql-editor li+li {
    margin-top: 0.25em;
}


/* Custom buttons */

.ql-back {
    border-right: 1px solid #eee !important;
    width: 100% !important;
    padding: 0px !important;
    transition: ease-in-out border 0.3s;
}

.ql-snow.ql-toolbar button.ql-publish,
.ql-snow.ql-toolbar button.ql-update {
    width: 100px !important;
    display: none;
}

ng-quill-editor.form-loading .ql-snow.ql-toolbar button.ql-publish,
ng-quill-editor.form-loading .ql-snow.ql-toolbar button.ql-update {
    cursor: not-allowed;
    color: #aaa !important;
}

ng-quill-editor.publishing .ql-snow.ql-toolbar button.ql-publish {
    display: block !important;
}

ng-quill-editor:not(.publishing) button.ql-update {
    display: block !important;
}

.divider {
    border: none;
    color: #222;
    letter-spacing: 1em;
    text-align: center;
    line-height: 5px;
    height: 20px;
    font-size: 1.2em
}

.lights.off .divider {
    color: #fff;
}

.divider:before {
    content: '...';
}


/* Preview */

.modal#preview {
    margin: 20px;
    padding-right: 0 !important;
}

.modal#preview .modal-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    left: 50%;
    transform: translate(-50%, 0);
    transition: cubic-bezier(1, -0.35, 0, 1.24) all 0.5s;
}

.modal#preview .modal-header {
    padding: 20px;
}

.modal#preview .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
    border: none;
    user-select: none;
}

iframe.post-preview {
    position: fixed;
    left: 0;
    height: calc(100% - 75px);
    width: 100%;
    border: none;
}

.lights.off .container-fluid,
.lights.off .editor-container,
.lights.off .editor .form-control {
    background: #333 !important;
    border-color: #222 !important;
    color: #fff !important;
}

.lights.off .editor-draft-mode,
.lights.off #content~.medium-editor-toolbar .medium-editor-action {
    color: #ddd !important;
    border-color: #222;
}

.lights.off #content~.medium-editor-toolbar-active .medium-editor-action.active {
    background: #222 !important;
}

.lights.off code {
    color: #faa;
    background: #222;
}

.lights.off pre {
    background: #222;
    color: #ddd;
    border-color: #333;
}

.editor-draft-mode:hover {
    opacity: 1;
}

.editor,
.form-control,
.editor-draft-mode,
.navbar .active a,
code,
pre {
    transition-duration: 0.3s;
    transition-property: background, box-shadow, color, border;
    transition-timing-function: ease-in-out;
}

.navbar-fixed-top.push-out {
    top: -51px;
}


/* Editor sidebar */

.wrapper {
    position: relative;
    width: 100%;
}

.editor-sidebar {
    position: fixed;
    right: -286px;
    top: 50px;
    bottom: 0;
    overflow-y: auto;
    display: flex;
    width: 286px;
    background: #EAEDF1;
    border-left: 1px solid #e7e7e7;
    z-index: 20;
    color: #444;
    flex-direction: column;
}

.editor-sidebar,
.wrapper {
    transition: ease-in-out all 0.1s;
}

.editor-sidebar .header i {
    float: right;
    line-height: 34px;
}

.editor-sidebar.on {
    right: 0;
}

.editor-sidebar.on + .wrapper {
    width: calc( 100% - ( 286px )) !important;
}

.editor-sidebar .section {
    background: #fff;
    border-bottom: 1px solid #e7e7e7;
}

.editor-sidebar .section .header-collapse {
    color: #555;
    background: #fff;
    font-weight: 700;
    border: none;
    width: 100%;
    text-align: unset;
    transition: ease-in-out all 0.1s;
}

.editor-sidebar .section .header-collapse:hover {
    color: #d17100;
}

.editor-sidebar .section .header-collapse,
.editor-sidebar .header {
    padding: 15px;
}

.editor-sidebar .section .expandable {
    padding: 0 15px;
}

.editor-sidebar .section:last-child .expandable {
    padding: 10px 15px;
}

.editor-sidebar .section .header-collapse i {
    line-height: 20px;
}

.editor-sidebar .section .header-collapse i:first-child {
    margin-right: 10px;
}

.editor-sidebar .section .header-collapse i:last-child {
    float: right;
}

.editor-sidebar .section .dropdown {
    width: 100%;
}

.editor-sidebar .section .dropdown.open button {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.editor-sidebar .section .dropdown button {
    width: 100%;
    text-align: left;
    padding: 0 20px;
    line-height: 40px;
    font-size: 1em;
    font-weight: 700;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.editor-sidebar .section .dropdown button:hover,
.editor-sidebar .section .dropdown button:active,
.editor-sidebar .section .dropdown button:focus {
    background-color: #eee;
    box-shadow: none;
    border-color: #ddd;
}

.editor-sidebar .section .dropdown .dropdown-menu {
    width: 100%;
    padding: 0px !important;
    margin-top: 0;
    border-top: none;
    border-color: #ddd;
    border-radius: 0 0 4px 4px;
    box-shadow: none;
}

.editor-sidebar .section .dropdown .dropdown-menu li:last-child a {
    border-radius: 0 0 4px 4px;
}

.editor-sidebar .section .dropdown .dropdown-menu li a {
    padding: 0 20px !important;
    line-height: 40px;
}

.editor-sidebar .section .dropdown .dropdown-menu li.active a i {
    color: #fff !important;
}

.editor-sidebar .section .dropdown .dropdown-menu li a i {
    margin-right: 5px;
}

.editor-sidebar .section .dropdown button > i {
    line-height: 40px;
}

.editor-draft-mode + .tooltip {
    position: fixed;
    bottom: 60px;
    top: unset !important;
}

.post-cover {
    position: relative;
    height: 256px;
    width: 256px;
    background-color: #eee;
    background-position: center;
    background-size: cover;
}

.post-cover .edit .content {
    color: #333;
}

.post-cover.has-cover:hover {
    box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.4);
}

.post-cover .edit {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
}

.post-cover .edit .icon {
    opacity: 0;
    display: none;
}

.post-cover.has-cover:hover .edit .icon {
    display: block;
    opacity: 1;
}

.editor-sidebar .remove {
    margin: auto 0 0;
    padding: 15px;
    border-top: 1px solid #ddd;
}

.editor-sidebar .remove a {
    color: #555;
    font-weight: 700;
}

.editor-sidebar .remove a:hover {
    color: red;
}

.revert {
    color: #a94442;
    border-color: #a94442;
}

.revert:hover,
.revert:focus,
.revert:active {
    color: #fff !important;
    border-color: #a94442 !important;
    background-color: #a94442 !important;
}


/* Media */

@media (max-width: 992px) {
    .ql-toolbar.ql-snow {
        white-space: nowrap;
        overflow-x: auto;
        overflow-y: hidden;
    }
    .ql-snow span.ql-formats:last-child {
        float: unset;
        margin-left: 50px;
    }
    .ql-snow.ql-toolbar button.ql-active,
    .lights.off .ql-snow button.ql-light {
        box-shadow: inset 0 -3px;
    }
    .editor-sidebar.on + .wrapper {
        width: 100% !important;
    }
}

@media (max-width: 576px) {
    .editor-sidebar.on {
        width: 100%;
    }
}

@media (max-width: 768px) {
    .modal#preview .modal-header {
        padding: 10px;
    }
    iframe.post-preview {
        height: calc(100% - 55px);
    }
}


/* Tags */

div.host > div.tags {
    border-top: none;
    border-right: none;
    border-left: none;
    border-image: initial;
    border-bottom: 1px solid rgb(221, 221, 221);
    box-shadow: 0px 0px 0px;
    padding: 5px 0px;
    border-radius: 0px !important;
}

.tag-list .tag-item {
    background-color: #222 !important;
    color: #fff !important;
    padding: 0px 10px !important;
    border-radius: 5px !important;
    line-height: 28px !important;
}

.tag-list .tag-item.selected {
    background-color: #d17100 !important;
}

.tag-list .tag-item a {
    color: #fff !important;
}
