<!-- Sidebar -->
<div class="editor-sidebar" ng-class="{'on': sidebar}">
  <div class="header">
    <!-- New button -->
    <button class="btn btn-primary" ng-if="!editing"
      ng-disabled="form.loading || editorForm.$invalid" ng-click="save(form)" translate>SUBMIT</button>

    <!-- Update Buttpm -->
    <button class="btn btn-info" type="button" ng-if="editing" ng-disabled="form.loading || editorForm.$invalid"
      translate ng-click="save(form)">UPDATE</button>
    <i class="fa fa-times fa-fw" ng-click="sidebar = false"></i>
  </div>
  <!-- Status -->
  <div class="section">
    <!-- Status -->
    <button type="button" class="header-collapse"
      ng-click="isStatus=!isStatus">
      <i class="fa fa-newspaper-o fa-fw"></i> {{ 'STATUS' | translate }} <i class="fa fa-angle-down fa-fw"></i>
    </button>
    <div ng-show="isStatus" class="expandable">
      <div class="form-group">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown">
            <i class="fa fa-fw fa-{{ currentStatus.icon }} text-{{ currentStatus.color }}" style="margin-right: 5px;"></i>
            {{ currentStatus.label }}
            <i class="fa fa-angle-down pull-right"></i>
          </button>
          <ul class="dropdown-menu">
            <li ng-repeat="status in statuses" ng-class="{active: form.get.status === status.id}">
              <a ng-click="form.get.status = status.id">
                <i class="fa fa-fw fa-{{ status.icon }} text-{{ status.color }}" init></i> {{ status.label }}
              </a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Start Publication -->
      <div class="form-group">
        <p class="small" translate>START_PUBLICATION</p>
        <input id="startDate" ng-model="form.get.start_publication" type="datetime-local" class="form-control">
      </div>
      <div class="form-group">
        <button type="button" ng-click="discardChanges()" ng-if="postChanged"
          class="btn btn-default btn-block btn-sm text-danger revert" ng-disabled="form.loading">
          <i class="fa fa-undo fa-fw"></i> {{ 'DISCARD_CHANGES' | translate }}
        </button>
      </div>
    </div>
  </div>
  <!-- Tags -->
  <div class="section">
    <button type="button" class="header-collapse"
      ng-click="showTags=!showTags">
      <i class="fa fa-tags fa-fw"></i> {{ 'TAGS' | translate }} <i class="fa fa-angle-down fa-fw"></i>
    </button>

    <div ng-show="showTags" class="expandable">
      <!-- Tag -->
      <div class="form-group" ng-class="{'has-error': form.errors.tag_ids}">
        <tags-input ng-model="tagsToSubmit"
          placeholder="{{ 'ADD_TAGS' | translate }}" display-property="name" replace-spaces-with-dashes="false"
          add-from-autocomplete-only="false">
          <auto-complete source="loadTags($query)" min-length="0" max-results-to-show="10" template="tag">
          </auto-complete>
        </tags-input>
        <script type="text/ng-template" id="tag">
          <div class="autocomplete-template">
            <small>
              <span ng-bind-html="$highlight($getDisplayText())"></span>
              <span>{{ data.count }}</span>
            </small>
          </div>
        </script>
      </div>
    </div>
  </div>
  <!-- Cover image -->
  <div class="section">
    <button type="button" class="header-collapse"
      ng-click="isCover=!isCover">
      <i class="fa fa-image fa-fw"></i> {{ 'Post Cover' | translate }} <i class="fa fa-angle-down fa-fw"></i>
    </button>
    <div ng-show="isCover" class="expandable text-center">
      <div class="post-cover s-mar-bottom-soft" ng-class="{'has-cover': form.get.media.cover_image}"
        style="background-image: url({{ form.get.media.cover_image.thumbnail_256x256 }})"
        ng-click="dolphinService.viewSelection('entryCover')">
        <div class="edit">
          <div class="content" ng-if="!form.get.media.cover_image">
            <i class="fa fa-image fa-2x"></i>
            <br>
            <span translate>SELECT_COVER_IMAGE</span>
          </div>
          <div class="icon">
            <i class="fa fa-pencil fa-2x"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <button type="button" class="header-collapse"
      ng-click="moreOptions=!moreOptions">
      <i class="fa fa-plus fa-fw"></i> {{ 'MORE_OPTIONS' | translate }} <i class="fa fa-angle-down fa-fw"></i>
    </button>
    <div ng-show="moreOptions" class="expandable s-pad-soft">
      <!-- Slug -->
      <div class="form-group" ng-class="{'has-error': form.errors.slug}">
        <p class="small" translate>SLUG</p>
        <input id="slug" class="form-control" type="text" ng-model="form.get.slug"
          placeholder="{{ 'SLUG_URL' | translate }}" />
        <small id="slug" class="help-block">{{ form.errors.slug[0] }}</small>
      </div>
      <!-- Meta Description -->
      <div class="form-group">
        <p class="small" translate>META_DESCRIPTION</p>
        <input ng-model="form.get.meta_description"
          placeholder="{{ 'META_DESCRIPTION_LIMIT' | translate }}"
          class="form-control"
          maxlength="200">
      </div>
      <!-- Community -->
      <div class="form-group">
        <p class="small" translate>COMMUNITY</p>
        <!-- Enable commenting -->        
        <div class="checkbox checkbox-primary s-mar-bottom-no">
          <input id="comments_enabled" type="checkbox" ng-model="form.get.comment_enabled">
          <label for="comments_enabled" translate>ENABLE_COMMENTING</label>
        </div>
        <!-- Featured -->
        <div class="checkbox checkbox-primary">
          <input id="featured" type="checkbox" ng-model="form.get.featured">
          <label for="featured" translate>FEATURED</label>
        </div>
        <!-- Is page -->
        <div class="checkbox checkbox-primary">
          <input id="is_page" type="checkbox" ng-model="form.get.is_page">
          <label for="is_page" translate>SET_AS_PAGE</label>
        </div>
      </div>
    </div>
  </div>
  <div class="remove" ng-if="editing">
    <a ng-click="undoService.prompt('REMOVE_ENTRY_PROMPT', fromState, 'deletedEntry', form)">
      <i class="fa fa-trash fa-fw"></i> {{ 'DELETE_POST' | translate }}
    </a>
  </div>
</div>

<!-- Wrapper -->
<div class="wrapper">
  <div class="container-fluid">
    <div class="container editor-container">
      <form ng-submit="save(form)" class="s-mar-top-soft" name="editorForm">

        <!-- Draft mode -->
        <div ng-show="form.get.status === entryStatus.DRAFT"
          class="editor-draft-mode animated"
          uib-tooltip="{{ 'DRAFT_MODE_TOOLTIP' | translate }}"
          tooltip-placement="top"
          ng-click="sidebar = true"
          ng-class="{
            'fadeInUp': form.get.status === entryStatus.DRAFT,
            'fadeOutDown': form.get.status === entryStatus.PUBLISH
          }">
          <i class="fa fa-pencil fa-fw"></i> {{ 'DRAFT_MODE' | translate }}
        </div>

        <!-- Main -->
        <div class="col-md-12">
          <!-- Nevis -->
          <div class="form-group editor" ng-class="{'editingContent': editingContent}">
            <!-- Title -->
            <textarea id="title" type="text" auto-resize class="form-control" ng-model="form.get.title"
              ng-focus="updatingTitle=true"
              ng-blur="updatingTitle=false"
              placeholder="{{ 'TITLE' | translate }}"
              autocomplete="off" style="resize: none" required></textarea>
            <!-- Title error -->
            <small class="help-block" ng-show="form.errors.title">{{ form.errors.title[0] }}</small>
            <br>
            <!-- Editor (description) -->
            <ng-quill-editor theme="snow" modules="options" bounds="'self'" scrolling-container="'html, body'"
              ng-model="form.get.content" placeholder="{{ 'L_CONTENT' | translate }}"
              on-editor-created="onEditorInit(editor)"
              ng-class="{
                'publishing': !editing || form.get.status === entryStatus.DRAFT,
                'form-loading': form.loading || form.$invalid
              }">
            </ng-quill-editor>
            <!-- Entry formats -->
            <div class="entry-formats" ng-if="form.get.format !== formats.text.id">
              <!-- Image -->
              <a class="thumbnail" ng-if="form.get.format === formats.image.id"
                ng-href="{{ form.get.media.cover_image.file }}" target="_blank">
                <img ng-src="{{ form.get.media.cover_image.file }}" alt="{{ form.get.title }}">
              </a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
