<!-- Add button -->
<button type="button" class="btn btn-primary btn-corner" ng-click="invite()">
  <i class="fa fa-user-plus"></i>
</button>

<!-- Main -->
<div class="container container-light pad-top">
  <div class="col-md-8 col-md-offset-2">
    <!-- List -->
    <div class="panel panel-default s-box animated fadeIn" ng-if="initialled">
      <div class="panel-heading">Team</div>
      <div class="panel-body s-pad-no">
        <!-- Team -->
        <div class="list-group s-mar-no">
          <a class="list-group-item b-no" ng-repeat="t in team.list" ng-show="!t.isRemoved" ng-click="view(t)">
            <h4>
              <!-- Avatar -->
              <img class="img-circle" ng-class="{'o-fade-hard': t.isPending || !t.user.media.picture}"
                height="64" ng-src="{{
                  !t.isPending && t.user.media.picture ? t.user.media.thumbnail_128x128 : 'assets/img/avatar.jpg'
                }}">
              <!-- Name/email -->
              <span class="s-mar-left">{{ !t.isPending ? t.user.name : t.email }}</span>
              <!-- Right side -->
              <span class="pull-right" style="margin-top: 22px">
                <!-- Pending label -->
                <span class="t-small outline text-muted" ng-if="t.isPending">PENDING</span>
                <!-- Role label -->
                <span class="t-small outline {{ teamRoles[t.role].color }}" style="margin-top: 8px">
                  {{ teamRoles[t.role].label | uppercase }}
                </span>
            </h4>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>