<div class="container container-light pad-top">

  <div class="row">

    <!-- Files -->
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-6" ng-repeat="d in dolphins" ng-show="!d.isDeleted">
          <!-- Dolphin -->
          <a ng-click="viewDolphin(d.id)" class="dolphin" style="background-image: url({{ d.file }})">
            <p class="caption">{{ d.meta_data.name }}</p>
          </a>
        </div>
      </div>
    </div>

    <!-- Upload -->
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-fw fa-upload text-info"></i> Upload File</div>
        <div class="panel-body">
          <button type="file" class="btn btn-primary" ngf-select="uploadFiles($files, $invalidFiles)" ngf-accept="upload.accept" ngf-max-size="25MB" ngf-multiple="true">
            <i class="fa fa-fw fa-plus"></i> Select File
          </button>
        </div>
        <div class="panel-footer fade" ng-show="upload.files[0].progress">
          <div class="progress" ng-repeat="file in upload.files" ng-class="{'s-mar-no': $last}">
            <div class="progress-bar progress-bar-striped" style="width: {{ file.progress }}%">
              <span class="sr-only">{{ file.progress }}% Complete</span> <span ng-if="file.progress == 100">Done</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>