<div class="container container-light pad-top">
  <div class="panel panel-body s-box s-mar-top s-pad col-md-4 col-md-offset-4 text-center">
    <span ng-if="loading">
      <i class="fa fa-circle-o-notch fa-spin fa-5x text-primary"></i>
      <hr>
      <h3 class="o-fade">Verifying your email...</h3>
    </span>
    <span ng-if="!loading && error">
      <i class="fa fa-close fa-5x text-danger"></i>
      <br>
      <h4 class="text-danger">Oh... Invalid confirmation link.</h4>
      <hr>
      <form ng-submit="resend(form)">
        <div class="form-group" ng-class="{'has-error': form.errors.email}">
          <input type="email" class="form-control" placeholder="Email address" ng-model="form.email" required>
          <small id="email" class="help-block" ng-show="form.errors.email">{{ form.errors.email[0] }}</small>
        </div>
        <button class="btn btn-default t-bold btn-block">Resend Confirmation Link</button>
      </form>
    </span>
  </div>
</div>
