<div class="modal fade" id="dolphinSelection">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4>
          <i class="fa fa-image text-primary fa-fw"></i> <span translate>Select an image</span>
          <i class="fa fa-close close pull-right" data-dismiss="modal"></i>
        </h4>
      </div>
      <div class="modal-body">
        <!-- Tabs -->
        <ul class="nav nav-tabs s-mar-bottom-soft">
          <li ng-class="{active: currentTab == 'dolphin'}">
            <a ng-click="currentTab = 'dolphin'" translate>Files</a>
          </li>
          <li ng-class="{active: currentTab == 'upload'}">
            <a ng-click="currentTab = 'upload'">
              <i class="fa fa-upload"></i> <span translate>Upload More</span></a>
          </li>
          <button class="btn btn-link pull-right" ng-click="action(null)" data-dismiss="modal">
            <span class="text-danger" translate>Remove Media</span>
          </button>
        </ul>

        <!-- List -->
        <div ng-show="currentTab == 'dolphin'">
          <!-- Search form -->
          <ng-include src="'basement/search/search_form.html'" ng-if="initialled"></ng-include>

          <!-- Search noresult -->
          <ng-include src="'basement/search/search_noresult.html'"></ng-include>

          <!-- Nothing -->
          <ng-include src="'basement/nothing/nothing.html'" ng-init="nothingPadding = false"
            ng-if="!dolphins.length && !searchForm.noResult && initialled">
          </ng-include>

          <!-- Loading -->
          <div class="s-pad text-center" ng-if="!initialled">
            <i class="fa fa-5x fa-arrow-down fa-spin animated infinity bounce text-primary"></i>
          </div>

          <!-- Dolphins -->
          <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-6 animated fadeIn" ng-repeat="dolphin in dolphins"
              ng-show="!dolphin.isDeleted" ng-if="dolphin.get.is_image" data-dismiss="modal">
              <a ng-click="action(dolphin)"
                class="dolphin"
                style="background-image: url({{ dolphin.get.thumbnail_256x256 }})">
                <p class="caption">{{ dolphin.get.meta_data.name }}</p>
              </a>
            </div>
            <!-- Load more -->
            <ng-include src="'basement/pagination/pagination_loadmore.html'"
              ng-init="pageForm = dolphinForm" ng-if="initialled">
            </ng-include>
          </div>
        </div>

        <!-- Upload -->
        <div class="text-center" ng-show="currentTab == 'upload'">
          <!-- Select -->
          <ng-include src="'dolphin/upload/upload.html'"></ng-include>
        </div>
      </div>
    </div>
  </div>
</div>
