<div class="container container-light pad-top">
  <div class="row">
    <!-- Files -->
    <div class="col-md-9">
      <!-- Nothing -->
      <ng-include src="'basement/nothing/nothing.html'" ng-if="!dolphins.length"></ng-include>

      <!-- List -->
      <div class="row" ng-if="dolphins.length">
        <div class="col-md-3 col-sm-3 col-xs-6 a-fade" ng-repeat="d in dolphins" ng-show="!d.isDeleted">
          <!-- Link -->
          <a ng-click="action(d)" class="dolphin" style="background-image: url({{ d.file }})">
            <p class="caption">{{ d.meta_data.name }}</p>
          </a>
          <!-- Options -->
          <div class="dropdown options" title="options">
            <button class="btn btn-default btn-circle dropdown-toggle btn-sm o-fade"
                    id="options{{ $index }}" data-toggle="dropdown">
              <i class="fa fa-fw fa-ellipsis-v"></i>
            </button>
            <ul class="dropdown-menu">
              <li><a ng-click="dolphinService.view(d)"><i class="fa fa-eye"></i> View</a></li>
              <li><a ng-click="dolphinService.remove(d)"><i class="fa fa-trash text-danger"></i> Delete</a></li>
            </ul>
          </div>
        </div>
      </div>

      <!-- More -->
      <ng-include src="'basement/pagination/pagination_loadmore.html'" ng-init="paginationForm = dolphinForm">
      </ng-include>
    </div>

    <!-- Upload -->
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading"><i class="fa fa-fw fa-upload text-info"></i> Upload File</div>
        <div class="panel-body">
          <!-- Select -->
          <button type="file" class="btn btn-primary" ngf-select="uploadFile($files, $invalidFiles)"
            ngf-accept="upload.accept" ngf-max-size="25MB" ngf-multiple="true">
            <i class="fa fa-fw fa-plus"></i> Select File
          </button>

          <!-- Progress -->
          <div class="progress s-mar-top-soft s-mar-no a-fade" ng-class="{active: file.progress != 100}" 
               ng-repeat="file in upload.files" ng-hide="file.dismiss">
            <div class="progress-bar progress-bar-striped" style="width: {{ file.progress }}%">
              <span>{{ file.progress == 100 ? "Done" : file.progress + "%" }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
