<div class="container container-light pad-top">
  <form ng-submit="newFile(form)" class="jumbotron">
    <input type="file" name="file" ng-model="form.file">
    <button class="btn btn-primary pull-right"><i class="fa fa-plus"></i> Upload</button>
  </form>
  <div class="row">
    <div class="col-md-3" ng-repeat="dolphin in dolphins">
      <div class="thumbnail" ng-if="dolphin.is_image">
        <img ng-src="{{ dolphin.file }}">
        <div class="caption text-center">
          <h4>{{ dolphin.file_name }}</h4>
        </div>
      </div>
      <div class="thumbnail text-center" ng-if="!dolphin.is_image">
        <h1 class="o-fade">ZIP</h1>
        <div class="caption text-center">
          <h4>{{ dolphin.file_name }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
