<div class="container container-light pad-top">
  <div>
    <div class="panel panel-defaul s-box">
      <div class="panel-body s-pad">
        <div ng-repeat="entry in entries" class="jumbotron col-md-12" ng-hide="entry.isDeleted">
          <div class="text-center">
            <h3><a ui-sref="dash.entry-edit({entryId: entry.id})">{{entry.title}}</a></h3>
          </div>
          <hr>
          <div>
            <p>Content: {{entry.content}}</p>
          </div>
          <hr>
          <div>
            <span>Slug: {{entry.slug}}</span>
          </div>
          <div>
            <p>Lead: {{entry.lead}}</p>
          </div>
          <div>
            <p>Excerpt: {{entry.excerpt}}</p>
          </div>
          <br>
          <hr>
          <div>
            <p>Published at: {{entry.created | date}}</p>
          </div>
          <div ng-repeat="tag in entry.tags">
            Tags: <p>{{tag.name}}</p>
          </div>
          <div>
            <button class="btn btn-danger pull-right s-box" ng-click="deleteEntry(entry.id, $index)"><i class="fa fa-trash"></i> Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
