<div class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <form ng-submit="updateComment(form)">
          <h3 class="o-fade-soft">{{ form.comment }}</h3>
          <span class="o-fade"><i class="fa fa-calendar"></i> {{ form.created | date }}</span>
          <hr>
          <span>by: {{form.user.name}}</span>
          <br>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" ng-model="form.is_active"> Active
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" ng-model="form.needs_approval"> Approval
            </label>
          </div>
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="checkbox" ng-model="form.is_hidden"> Hide it
            </label>
          </div>
          <hr>
          <div class="btn-group btn-group-lg">
            <button type="button" class="btn btn-default" ng-click="delete(form.id)" title="Delete Comment">
              <i class="fa fa-trash"></i>
            </button>
            <button class="btn btn-primary" ng-disabled="form.loading">Update Comment</button>
          </div>
          <button class="btn btn-default pull-right" type="button" data-dismiss="modal">
            <i class="fa fa-close fa-fw"></i> Cancel
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
