<!-- Site cover image -->
<!-- <div class="container-fluid container-image" ng-if="site.media.cover_image" ng-click="selectImage('cover_image')"
  style="background-image: url('{{ site.media.cover_image.file }}')">
  <p><i class="fa fa-fw fa-edit"></i> {{ 'CHANGE_COVER_IMAGE' | translate }}</p>
</div> -->

<!-- Restricted page -->
<restricted-page ng-if="isRestrict"></restricted-page>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="settings-tab">
        <ul class="list-unstyled">
          <li>
            <a ng-click translate>SETTINGS</a>
          </li>
          <li>
            <a ng-click translate>APPEARANCE</a>
          </li>
          <li>
            <a ng-click translate>ADVANCED</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>