<div class="container container-light pad-top" id="dolphin">
  <div class="row">
    <!-- Top bar -->
    <div class="row animated fadeIn s-mar-no popover-relative" ng-show="initialled">
      <!-- Search form -->
      <div class="col-sm-9">
        <ng-include src="'basement/search/search_form.html'"></ng-include>
      </div>
      <!-- View buttons -->
      <div class="col-sm-3 col-md-2 col-xs-9">
        <ng-include src="'basement/view/view_buttons.html'"></ng-include>
      </div>
      <!-- Upload -->
      <div class="col-sm-12 col-md-1 col-xs-3 s-mar-bottom-soft">
        <button type="file" class="btn btn-primary btn-block" ngf-select="uploadFile($files, $invalidFiles)"
          ngf-accept="upload.accept" ngf-max-size="100MB" ngf-multiple="true">
          <i class="fa fa-fw fa-upload"></i>
        </button>
      </div>
    </div>

    <!-- Search noresult -->
    <ng-include src="'basement/search/search_noresult.html'"></ng-include>

    <!-- Nothing -->
    <ng-include src="'basement/nothing/nothing.html'" ng-if="!dolphins.length && !searchForm.noResult && initialled">
    </ng-include>

    <!-- Uploading preview -->
    <div class="dolphin-uploads text-center dis-ib sz-full">
      <div class="col-md-3 col-sm-3 col-xs-6 animated fadeIn" ng-repeat="file in upload.files" ng-if="!file.done">
        <div class="dolphin" ngf-thumbnail="file" ngf-as-background="true" style="display: block !important"
          ngf-resize="{quality: 1}" ng-class="{'not-image': !file.isImage}">
          <i class="fa fa-5x fa-file-o c-white" ng-if="!file.isImage"></i>
          <p class="caption progress progress-striped">
            <span class="progress-bar progress-bar-primary active" style="width: {{ file.progress }}%"></span>
          </p>
        </div>
      </div>
    </div>

    <!-- List -->
    <div ng-if="initialled && dolphins.length">

      <!-- Grid view -->
      <div class="col-md-3 col-sm-3 col-xs-6 text-center" ng-repeat="dolphin in dolphins"
        ng-show="!dolphin.isDeleted" ng-class="{'animated zoomOut': dolphin.isDeleted}" ng-if="view == 'grid'">
        <!-- Link -->
        <a ng-click="action(dolphin)" class="dolphin" style="background-image: url({{ dolphin.get.thumbnail_256x256 }})"
          ng-class="{'not-image': !dolphin.get.is_image}">
          <!-- Icon -->
          <i class="fa fa-5x" ng-class="{
            'fa-file-archive-o': dolphin.extension == 'ZIP',
            'fa-file-pdf-o': dolphin.extension == 'PDF'
            }" ng-if="!dolphin.get.is_image">
          </i>
          <!-- Caption -->
          <p class="caption">{{ dolphin.get.meta_data.name }}</p>
        </a>
        <!-- Options -->
        <div class="dropdown options" title="options">
          <button class="btn btn-default dropdown-toggle o-fade-hard o-fade-hover-full bg-no c-white b-no"
            id="options{{ $index }}" data-toggle="dropdown">
            <i class="fa fa-ellipsis-v"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            <li><a ng-click="dolphin.view()"><i class="fa fa-eye"></i> <tranlate>View</tranlate> </a></li>
            <li><a ng-href="{{ dolphin.get.file }}" download><i class="fa fa-download"></i> Download</a></li>
            <li class="divider"></li>
            <li><a ng-click="dolphin.remove()"><i class="fa fa-trash text-danger"></i> Delete</a></li>
          </ul>
        </div>
      </div>

      <!-- List View -->
      <div class="list-view s-mar-x-soft" ng-if="view == 'list'">
        <div class="media s-fade" ng-repeat="dolphin in dolphins" ng-show="!dolphin.isDeleted"
          ng-class="{'animated zoomOut': dolphin.isDeleted}">
          <!-- Image -->
          <div class="media-left">
            <!-- Img -->
            <img class="media-object" style="max-width: 48px"
              ng-src="{{ dolphin.get.thumbnail_48x48 }}" ng-if="dolphin.get.is_image">
            <!-- Icon -->
            <i class="fa fa-2x o-fade media-object" style="background: #eee;padding: 10px 12px;" ng-class="{
              'fa-file-archive-o': dolphin.extension == 'ZIP',
              'fa-file-pdf-o': dolphin.extension == 'PDF'
              }" ng-if="!dolphin.get.is_image">
            </i>
          </div>
          <div class="media-body">
            <div class="media-heading s-mar-no">
              <a ng-click="action(dolphin)">{{ dolphin.get.meta_data.name }}</a>
              <!-- Option -->
              <div class="dropdown pull-right">
                <button class="btn btn-default btn-circle dropdown-toggle btn-sm o-fade" id="options{{ $index }}" data-toggle="dropdown">
                  <i class="fa fa-fw fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li><a ng-click="dolphin.view()"><i class="fa fa-eye"></i> View</a></li>
                  <li><a ng-href="{{ dolphin.get.file }}" download><i class="fa fa-download"></i> Download</a></li>
                  <li class="divider"></li>
                  <li><a ng-click="dolphin.remove()"><i class="fa fa-trash text-danger"></i> Delete</a></li>
                </ul>
              </div>
            </div>
            <!-- Info -->
            <small class="o-fade-soft">
              <span>
                <i class="fa fa-fw fa-hdd-o"
                  title="Size"></i> {{ dolphin.get.size_human }}
                <i class="fa fa-fw fa-file-o s-mar-left-soft"
                  title="Extension"></i> {{ dolphin.extension | lowercase }}
              </span>
              <a class="s-mar-left-soft" ng-click="dolphin.view()">Open</a>
            </small>
          </div>
        </div>
      </div>
    </div>

    <!-- More -->
    <ng-include src="'basement/pagination/pagination_loadmore.html'"
      ng-init="pageForm = dolphinForm" ng-if="initialled">
    </ng-include>
  </div>
</div>
