<!-- Back area -->
<div class="container-fluid container-image" ng-if="site.media.cover_image" ng-click="selectImage('cover_image')"
  style="background-image: url({{ site.media.cover_image.file }})" title="Click to change cover image"></div>
<!-- Main -->
<div class="container container-light animated fadeIn">
  <!-- Site settings -->
  <div class="col-md-7">
    <div class="panel panel-default s-box s-mar-top">
      <h3 class="panel-heading">
        <!-- Logo -->
        <img class="img-circle heading-image" ng-if="site.media.logo" ng-src="{{ site.media.logo.thumbnail_48x48 }}">
        <!-- Title -->
        {{ site.title }}
        <!-- Separator -->
        <hr class="hidden visible-xs">
        <!-- Visit -->
        <a class="btn btn-default btn-sm pull-right s-mar-left-soft"
          href="{{ site.absolute_uri }}" target="_blank" title="Go to site.">
          <i class="fa fa-external-link"></i> View site
        </a>
        <!-- Image -->
        <div class="btn-group pull-right" role="group">
          <button class="btn btn-default btn-sm" ng-click="selectImage('logo')" title="Change site logo.">
            <i class="fa fa-image"></i> Logo
          </button>
          <button class="btn btn-default btn-sm" ng-click="selectImage('cover_image')" title="Change site cover image.">
            <i class="fa fa-image"></i> Cover Image
          </button>
        </div>
        <div class="clearfix"></div>
      </h3>
      <div class="panel-body s-pad">
        <!-- Title -->
        <div class="panel panel-default panel-body">
          <span editable-text="site.title" onbeforesave="updateSite('title', $data)">
            {{ site.title || "Nothing here..." }}
          </span>
          <small class="o-fade pull-right">TITLE</small>
        </div>
        <!-- URL -->
        <div class="panel panel-default panel-body">
          <span title="Can not be changed.">
            {{ site.url || "Nothing here..." }}
          </span>
          <small class="o-fade pull-right">URL</small>
        </div>
        <!-- Description -->
        <div class="panel panel-default panel-body">
          <span editable-textarea="site.description" onbeforesave="updateSite('description', $data)">
            {{ site.description || "Nothing here..." }}
          </span>
          <small class="o-fade pull-right">DESCRIPTION</small>
        </div>
        <!-- Meta Title -->
        <div class="panel panel-default panel-body">
          <span editable-text="site.meta_title" onbeforesave="updateSite('meta_title', $data)">
            {{ site.meta_title || "Nothing here..." }}
          </span>
          <small class="o-fade pull-right">META TITLE</small>
        </div>
        <!-- Meta Description -->
        <div class="panel panel-default panel-body">
          <span editable-textarea="site.meta_description" onbeforesave="updateSite('meta_description', $data)">
            {{ site.meta_description || "Nothing here..." }}
          </span>
          <small class="o-fade pull-right">META DESCRIPTION</small>
        </div>
      </div>
      <div class="panel-footer">
        <!-- Delete -->
        <button class="btn btn-danger btn-sm" ng-click="remove(site.id)">
          <i class="fa fa-trash"></i> Delete Site
        </button>
      </div>
    </div>
  </div>
  <!-- Template -->
  <div class="col-md-5 animated fadeIn" ng-if="siteTemplate">
    <form class="panel panel-default s-box s-mar-top">
      <h3 class="panel-heading">Appearance</h3>
      <div class="panel-body">
        <!-- Template modal -->
        <div class="form-group s-mar-no">
          <label>Template:</label>
          <button class="btn btn-primary btn-block stack-element btn-lg t-shadow-small"
            ng-click="siteTemplates()" ng-disabled="loadingTemplate">
            <i class="fa btn-icon fa-cube"></i> {{ siteTemplate.name | uppercase }}
          </button>
        </div>
      </div>
      <div class="panel-footer" ng-if="siteTemplate.fields">
        <!-- Template fields -->
        <div class="form-grop" ng-repeat="(key, field) in siteTemplate.fields"
          ng-class="{'checkbox checkbox-primary': field.type === 'boolean'}">
          <hr ng-if="!$first">
          <!-- Char and boolean field -->
          <input id="{{ key }}" name="{{ key }}" type="{{ field.type === 'char' ? 'text' : 'checkbox' }}"
            class="form-control" ng-if="field.type !== 'text'" placeholder="{{ field.verbose_name }}"
            ng-model="siteTemplate.fields[key].value">
          <!-- Field label -->
          <label for="{{ key }}">{{ field.verbose_name }}</label>
          <!-- Text field -->
          <textarea name="{{ key }}" type="text" class="form-control" ng-if="field.type === 'text'"
            placeholder="{{ field.verbose_name }}" ng-model="siteTemplate.fields[key].value">
          </textarea>
          <span class="help-block">{{ field.help_text }}</span>
        </div>
        <hr>
        <!-- Update button -->
        <button class="btn btn-sm btn-default btn-block" ng-click="saveConfig()" ng-disabled="loadingTemplate">
          <i class="fa fa-fw fa-check"></i> Save Changes
        </button>
      </div>
    </form>
  </div>
</div>
