<!-- Back area -->
<div class="container-fluid container-image" ng-if="site.media.cover_image" ng-click="selectImage('cover_image')"
  style="background-image: url('{{ site.media.cover_image.file }}')" title="Click to change cover image">
  <h1><i class="fa fa-edit"></i></h1>
</div>
<!-- Main -->
<div class="container container-light animated fadeIn">
  <!-- Site settings -->
  <div class="col-md-8">
    <div class="panel panel-default s-box s-mar-top">
      <h3 class="panel-heading">
        <!-- Logo -->
        <img class="img-circle heading-image" ng-if="site.media.logo" ng-src="{{ site.media.logo.thumbnail_48x48 }}">
        <!-- Title -->
        <span style="line-height: 40px">{{ site.title }}</span>
        <!-- Visit -->
        <a class="btn btn-default btn-sm pull-right"
          href="{{ site.absolute_uri }}" target="_blank" title="Go to site.">
          <i class="fa fa-external-link"></i> View site
        </a>
        <div class="clearfix"></div>
      </h3>
      <div class="panel-body s-pad">
        <!-- Title -->
        <div class="panel panel-default panel-body">
          <div class="row">
            <div class="col-xs-3 col-sm-2">
              <small>TITLE</small>
            </div>
            <div class="col-xs-9 col-sm-10">
              <span editable-text="site.title" onbeforesave="updateSite('title', $data)">
                {{ site.title || "Nothing here..." }}
              </span>
            </div>
          </div>
        </div>
        <!-- URL -->
        <div class="panel panel-default panel-body">
          <div class="row">
            <div class="col-xs-3 col-sm-2">
              <small>URL</small>
            </div>
            <div class="col-xs-9 col-sm-10 t-line">
              <a ng-href="{{ site.absolute_uri }}" target="_blank" title="Can not be changed.">
                {{ site.absolute_uri || "Nothing here..." }}
              </a>
            </div>
          </div>
        </div>
        <!-- Description -->
        <div class="panel panel-default panel-body">
          <div class="row">
            <div class="col-xs-12 col-sm-2">
              <small>DESCRIPTION</small>
            </div>
            <div class="col-xs-9 col-sm-10">
              <span editable-textarea="site.description" onbeforesave="updateSite('description', $data)">
                {{ site.description || "Nothing here..." }}
              </span>
            </div>
          </div>
        </div>
        <!-- Advanced Options -->
        <a class="btn btn-default btn-sm"
          ng-model="advanced" ng-init="advanced = true" ng-click="advanced = !advanced">
          <i class="fa fa-fw text-left" ng-class="{'fa-chevron-up': !advanced, 'fa-chevron-down': advanced}"></i>
          Advanced options
        </a>
        <br>
        <br>
        <div uib-collapse="advanced">
          <!-- Meta Description -->
          <div class="panel panel-default panel-body">
            <div class="row">
              <div class="col-xs-12 col-sm-2">
                <small>META DESCRIPTION</small>
              </div>
              <div class="col-xs-9 col-sm-10">
                <span editable-textarea="site.meta_description" e-maxlength="160"
                  onbeforesave="updateSite('meta_description', $data)">
                  {{ site.meta_description || "Nothing here..." }}
                </span>
              </div>
            </div>
          </div>
          <!-- Post Per Page -->
          <div class="panel panel-default panel-body">
            <div class="row">
              <div class="col-xs-8 col-sm-9">
                <small style="margin-top: 10px" class="dis-b">NUMBER OF POSTS PER PAGE</small>
              </div>
              <div class="col-xs-4 col-sm-3">
                <select class="form-control" ng-model="site.paginate_by"
                  ng-change="updateSite('paginate_by', site.paginate_by)">
                  <option ng-value="$index" ng-if="$index" ng-repeat="number in postPerPage track by $index">
                    {{ $index }}
                  </option>
                </select>
              </div>
            </div>
          </div>
          <!-- Commenting -->
          <div class="panel panel-default panel-body">
            <div class="checkbox checkbox-primary checkbox-small">
              <input id="commenting" type="checkbox" ng-model="site.commenting"
                ng-change="updateSite('commenting', site.commenting)">
              <label for="commenting">Allow visitors to comment on my posts</label>
            </div>
          </div>
          <!-- Voting -->
          <div class="panel panel-default panel-body">
            <div class="checkbox checkbox-primary checkbox-small">
              <input id="voting" type="checkbox" ng-change="updateSite('voting', site.voting)" ng-model="site.voting">
              <label for="voting">Allow visitors to vote on my posts</label>
            </div>
          </div>
          <!-- Voting -->
          <div class="panel panel-default panel-body">
            <div class="checkbox checkbox-primary checkbox-small">
              <input id="search_engine_visibility" type="checkbox"
                ng-change="updateSite('search_engine_visibility', site.search_engine_visibility)"
                ng-model="site.search_engine_visibility">
              <label for="search_engine_visibility">Let search engine discover my site</label>
            </div>
          </div>
        </div>
        <!-- Domain -->
        <a class="btn btn-default btn-sm"
          ng-model="domain" ng-init="domain = true" ng-click="domain = !domain">
          <i class="fa fa-fw text-left" ng-class="{'fa-chevron-up': !domain, 'fa-chevron-down': domain}"></i>
          Custom Domain
        </a>
        <br>
        <br>
        <div uib-collapse="domain">
          <!-- Custom URL -->
          <div class="panel panel-default panel-body">
            <div class="row">
              <div class="col-xs-3 col-sm-2">
                <small>Domain</small>
              </div>
              <div class="col-xs-9 col-sm-10 t-line">
                <span editable-textarea="site.description" onbeforesave="updateSite('description', $data)">
                  {{ site.description || "Nothing here..." }}
                </span>
              </div>
            </div>
          </div>
        </div>
        <!-- Image -->
        <div class="btn-group stack stack-equal" role="group">
          <button class="btn btn-default" ng-click="selectImage('logo')" title="Change site logo.">
            <i class="fa fa-image"></i> Logo
          </button>
          <button class="btn btn-default" ng-click="selectImage('cover_image')" title="Change site cover image.">
            <i class="fa fa-image"></i> Cover Image
          </button>
        </div>
      </div>
      <div class="panel-footer">
        <!-- Delete -->
        <button class="btn btn-danger btn-sm" ng-click="remove(site.id)">
          <i class="fa fa-trash"></i> Delete Site
        </button>
      </div>
    </div>
  </div>
  <!-- Template -->
  <div class="col-md-4 animated fadeIn" ng-if="siteTemplate">
    <form class="panel panel-default s-box s-mar-top">
      <h3 class="panel-heading" style="line-height: 40px">Appearance</h3>
      <div class="panel-body">
        <!-- Template modal -->
        <div class="form-group s-mar-no">
          <label>Template:</label>
          <button class="btn btn-primary btn-block stack-element btn-lg t-shadow-small"
            ng-click="siteTemplates()" ng-disabled="loadingTemplate">
            <i class="fa btn-icon fa-cube"></i> {{ siteTemplate.name | uppercase }}
          </button>
        </div>
      </div>
      <div class="panel-footer" ng-if="siteTemplate.hasFields">
        <!-- Template fields -->
        <div class="form-grop" ng-repeat="(key, field) in siteTemplate.fields"
          ng-class="{'checkbox checkbox-primary': field.type === 'boolean'}">
          <hr ng-if="!$first">
          <!-- Char and boolean field -->
          <input id="{{ key }}" name="{{ key }}" type="{{ field.type === 'char' ? 'text' : 'checkbox' }}"
            class="form-control" ng-if="field.type !== 'text'" placeholder="{{ field.verbose_name }}"
            ng-model="siteTemplate.fields[key].value">
          <!-- Field label -->
          <label for="{{ key }}">{{ field.verbose_name }}</label>
          <!-- Text field -->
          <textarea name="{{ key }}" type="text" class="form-control" ng-if="field.type === 'text'"
            placeholder="{{ field.verbose_name }}" ng-model="siteTemplate.fields[key].value">
          </textarea>
          <span class="help-block" style="margin-left: 20px">{{ field.help_text }}</span>
        </div>
        <hr>
        <!-- Update button -->
        <button class="btn btn-default btn-block" ng-click="saveConfig()" ng-disabled="loadingTemplate">
          <i class="fa fa-fw fa-check text-primary"></i> Save Changes
        </button>
      </div>
    </form>
  </div>
</div>
