<div class="container">
  <div class="row">
    <!-- Left -->
    <div class="col-md-8">
      <!-- Alerts -->
      <div class="alert alert-danger" ng-if="!user.isProfileComplete(true)">
        <translate>INCOMPLETE_PROFILE</translate>
        <a class="btn btn-default pull-right" ui-sref="user({s: param.s})" translate>IMPROVE_PROFILE</a>
      </div>
      <!-- Latest comments -->
      <div class="panel panel-default" ng-if="!Comment.loading">
        <div class="panel-heading">
          <a ui-sref="dash.comment-list" class="header-link" translate>COMMENTS</a>
          <span class="panel-label">{{ Metrics.list.comment_count }}</span>
        </div>
        <h4 ng-if="!Comment.list.length" class="text-center s-pad-y o-fade">
          <em translate>NO_COMMENTS</em>
        </h4>
        <div class="list-group" ng-if="Comment.list.length">
          <!-- Comment -->
          <a class="list-group-item"
             ng-click="comment.view()"
             ng-repeat="comment in Comment.list"
             ng-if="!comment.isDeleted">
            <div class="row">
              <div class="col-md-9 col-sm-10 col-xs-8">
                <p class="list-group-item-text">
                  <span class="o-fade-soft small">{{ comment.user.getFullName() }}:</span>
                  <span ng-bind-html="comment.get.comment" class="break-word"></span>
                </p>
              </div>
              <div class="col-md-3 col-sm-2 col-xs-4">
                <span class="o-fade-soft pull-right small">{{ comment.get.created | date }}</span>
              </div>
            </div>
            <!-- Content -->
          </a>
        </div>
      </div>
      <!-- Latest entries -->
      <div class="panel panel-default" ng-if="!Entry.loading" id="entries">
        <!-- Title -->
        <div class="panel-heading">
          <a ui-sref="dash.entry-list.status({ status: 'published' })" class="header-link" translate>POSTS</a>
          <span class="panel-label">{{ Metrics.list.entry_count }}</span>
        </div>
        <!-- No entries message -->
        <h4 ng-if="!Entry.list.length" class="text-center s-pad-y o-fade">
          <em translate>NOTHING_MESSAGE</em>
        </h4>
        <!-- Entry list -->
        <div class="list-group" ng-if="Entry.list.length">
          <a class="list-group-item t-line"
             ng-repeat="entry in Entry.list"
             ng-if="!entry.isDeleted"
             ui-sref="dash.entry-edit({ entryId: entry.get.id })"
             ng-click="entry.cache()">
            <div class="row">
              <div class="col-md-8 col-xs-8 col-lg-9 col-sm-8">
                <p class="list-group-item-text t-line">{{ entry.get.title }}</p>
              </div>
              <div class="col-md-4 col-xs-4 col-lg-3 col-sm-4">
                <div class="list-group-label"
                  ng-if="entry.get.view_count || entry.get.comment_count || entry.get.vote_count">
                  <!-- Views -->
                  <span ng-if="entry.get.view_count">
                    <i class="fa fa-eye o-fade"></i> {{ entry.get.view_count }}
                  </span>
                  <!-- Comments -->
                  <span ng-if="entry.get.comment_count">
                    <i class="fa fa-comment-o o-fade"></i> {{ entry.get.comment_count }}
                  </span>
                  <!-- Votes -->
                  <span ng-if="entry.get.vote_count">
                    <i class="fa fa-heart-o o-fade"></i> {{ entry.get.vote_count }}
                  </span>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    <!-- Right -->
    <div class="col-md-4">
      <!-- Metrics:Entry -->
      <div class="panel panel-default" ng-if="Metrics.list">
        <!-- Title -->
        <div class="panel-heading lower">
          {{ 'PUBLICATION' | translate }} <div class="panel-label img-circle"><i class="fa fa-list-alt"></i></div>
        </div>
        <!-- Overview -->
        <ul class="panel-body list-group s-pad-no">
          <li class="list-group-item" ng-class="{'o-fade': !Metrics.list.entry_count}">
            {{ 'POSTS' | translate }} <b class="pull-right text-primary">{{ Metrics.list.entry_count }}</b>
          </li>
          <li class="list-group-item" ng-class="{'o-fade': !Metrics.list.published_entry_count}">
              {{ 'PUBLISHED_POSTS' | translate }} <b class="pull-right text-primary">{{ Metrics.list.published_entry_count }}</b>
          </li>
          <li class="list-group-item" ng-class="{'o-fade': !Metrics.list.draft_entry_count}">
            {{ 'DRAFT_POSTS' | translate }} <b class="pull-right text-primary">{{ Metrics.list.draft_entry_count }}</b>
          </li>
        </ul>
      </div>
      <!-- Metrics:Comment -->
      <div class="panel panel-default" ng-if="Metrics.list">
        <!-- Title -->
        <div class="panel-heading lower">
          {{ 'COMMENT_OVERVIEW' | translate }} <div class="panel-label img-circle"><i class="fa fa-comment"></i></div>
        </div>
        <!-- Overview -->
        <ul class="panel-body s-pad-no list-group">
          <li class="list-group-item">
            {{ 'ALL_COMMENTS' | translate }} <b class="pull-right text-primary">{{ Metrics.list.comment_count }}</b>
          </li>
          <li class="list-group-item">
            {{ 'ACTIVE_COMMENTS' | translate }} <b class="pull-right text-primary">{{ Metrics.list.active_comment_count }}</b>
          </li>
          <li class="list-group-item">
            {{ 'PENDING_COMMENTS' | translate }} <b class="pull-right text-primary">{{ Metrics.list.pending_comment_count }}</b>
          </li>
        </ul>
      </div>
      <!-- Blog Overview -->
      <div class="panel panel-default" ng-if="Metrics.list" id="site">
        <!-- Title -->
        <div class="panel-heading lower">
          <a ui-sref="dash.site.settings({ view: 'settings' })" class="header-link" translate>BLOG_OVERVIEW</a>
          <div class="panel-label img-circle"><i class="fa fa-globe"></i></div>
        </div>
        <!-- Overview -->
        <ul class="panel-body list-group s-pad-no">
          <!-- Followers -->
          <li class="list-group-item" ng-class="{'o-fade': !Metrics.list.subscriber_count}">
            <i class="fa fa-border fa-user-plus"></i> {{ 'FOLLOWERS' | translate }}
            <button class="btn btn-primary pull-right btn-sm" ng-click="siteFollowers()">
              <b>{{ Metrics.list.subscriber_count }}</b>
            </button>
          </li>
          <!-- Template -->
          <li class="list-group-item" ng-if="siteTemplate">
            <i class="fa fa-border fa-paint-brush"></i> {{ 'THEME_AND_LAYOUT' | translate }}
            <a class="pull-right btn btn-primary btn-sm" ui-sref="dash.site.settings({ view: 'appearance' })">
              {{ siteTemplate.name | uppercase }}
            </a>
          </li>
        </ul>
      </div>
      <!-- Metrics:Dolphin -->
      <div class="panel panel-default" ng-if="Metrics.list">
        <!-- Title -->
        <div class="panel-heading lower">
          <a ui-sref="dash.dolphin" class="header-link" translate>STORAGE</a>
          <div class="panel-label img-circle"><i class="fa fa-cubes"></i></div>
        </div>
        <!-- Overview -->
        <ul class="panel-body list-group s-pad-no">
          <li class="list-group-item" ng-class="{'o-fade': !Metrics.list.dolphin.file_count}">
            {{ 'FILES' | translate }} <b class="pull-right text-primary">{{ Metrics.list.dolphin.file_count }}</b>
          </li>
          <li class="list-group-item" ng-class="{'o-fade': !Metrics.list.dolphin.used_storage}">
            {{ 'USED_STORAGE' | translate }} <b class="pull-right text-primary">{{ Metrics.list.dolphin.used_storage | bytes }}</b>
          </li>
          <li class="list-group-item" ng-class="{'o-fade': !Metrics.list.dolphin.available_storage}">
            {{ 'AVAILABLE_STORAGE' | translate }}
            <b class="pull-right text-primary">
              {{ Metrics.list.dolphin.available_storage | bytes }}
            </b>
          </li>
        </ul>
        <!-- Footer (progress) -->
        <div class="panel-footer s-pad-no of-hidden">
          <div class="progress s-mar-no br-r-no"
               ng-init="dolphinProgress = Metrics.list.dolphin.used_storage_percentage">
            <div class="progress-bar progress-bar-striped"
                 role="progressbar" aria-valuemax="100" aria-valuemin="0"
                 aria-valuenow="{{ dolphinProgress }}" style="width: {{ dolphinProgress }}%"
                 ng-class="{
                'progress-bar-success': dolphinProgress < 80,
                'progress-bar-warning': dolphinProgress >= 80 && dolphinProgress < 90,
                'progress-bar-danger':  dolphinProgress >= 90
              }">
            </div>
            <span class="sr-only">{{ dolphinProgress }}% {{ 'AVAILABLE_STORAGE' | translate }}</span>
          </div>
        </div>
      </div>
      <!-- Metrics:Team -->
      <div class="panel panel-default" ng-if="Metrics.list">
        <!-- Title -->
        <div class="panel-heading lower">
          <a ui-sref="dash.team" class="header-link" translate>TEAM</a>
          <div class="panel-label img-circle"><i class="fa fa-users"></i></div>
        </div>
        <!-- Overview -->
        <ul class="panel-body list-group s-pad-no">
          <li class="list-group-item">
            {{ 'TEAM_MEMBERS' | translate }} <b class="pull-right text-primary">{{ Metrics.list.team_member_count }}</b>
          </li>
          <li class="list-group-item" ng-class="{'o-fade': !Metrics.list.pending_team_member_count}">
              {{ 'PENDING_TEAM_MEMBERS' | translate }} <b class="pull-right text-primary">{{ Metrics.list.pending_team_member_count }}</b>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
