<div class="container container-light">
	<form ng-submit="invite(form)" name="form">
		<h2 class="col-xs-12 o-fade">Invite<hr>
		</h2>
		<!-- Main -->
		<div class="col-md-9">
			<!-- Email -->
			<div class="form-group row" ng-class="{'has-error': form.errors.email}">
				<div class="col-sm-11 col-xs-10 col-md-5">
					<input type="email" class="form-control" type="text" ng-model="form.email" placeholder="Email" required/>
					<small class="help-block" ng-show="form.errors.email">{{ form.errors.email[0] }}</small>
				</div>
			<!-- Roles -->
			<div class="form-group col-md-3">
				<select ng-init="form.role = roles[1].id" ng-options="role.id as role.name for role in roles"
					ng-model="form.role" class="form-control"></select>
			</div>
      <button class="btn btn-success"><i class="fa fa-paper-plane"></i> Invite</button>
		</div>
	</form>
</div>