<!-- Add button -->
<button type="button" class="btn btn-primary btn-corner" ui-sref="dash.entry-edit({isPage: isPageView})">
  <i class="fa fa-plus"></i>
</button>
<!-- Main -->
<div class="container container-light pad-top">
  <!-- Top bar wrapper -->
  <div class="row top-bar-wrapper">
    <!-- Status -->
    <div class="col-md-3">
      <div class="btn-group stack stack-equal s-mar-bottom-soft">
        <button class="btn btn-default" ng-repeat="tab in tabs" ng-click="setCurrentTab(tab)"
                ng-class="{'active': tab.view === currentTab.view}">
          {{ tab.label }}
        </button>
      </div>
    </div>
    <!-- Top bar -->
    <div class="col-md-9">
      <top-bar search-form="searchForm" view="view" view-name="entryView"></top-bar>
    </div>
  </div>
  <!-- Search noresult -->
  <no-result search-form="searchForm" view="view"></no-result>
  <!-- Nothing -->
  <!-- TODO: Translate -->
  <nothing text="{{ nothingText }}" view="view"
           ng-if="!entries.length && !searchForm.noResult && initialled"></nothing>
  <!-- List -->
  <div ng-if="entries.length">
    <!-- Entry grid -->
    <div class="animated fadeIn" ng-if="view == 'grid'">
      <div class="col-xs-12 col-md-4" ng-repeat="entry in entries" ng-show="!entry.isDeleted">
        <div class="post">
          <div class="post-img" style="background-image: url({{ entry.get.media.cover_image.thumbnail_256x256 ?
            entry.get.media.cover_image.thumbnail_256x256 : codekit.getDefaultImage('medium') }});">
            <div class="post-featured" ng-if="entry.get.featured">
              <i class="fa fa-star-o fa-fw text-warning c-white"></i>
            </div>
            <!-- Options -->
            <div class="dropdown options" title="options">
              <button class="btn btn-default dropdown-toggle o-fade-hard o-fade-hover-full bg-no c-white b-no"
                      data-toggle="dropdown" style="padding: 5px;">
                <i class="fa fa-fw fa-ellipsis-v"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li>
                  <a ng-href="{{ entry.getUrl() }}" target="_blank">
                    <i class="fa fa-fw fa-external-link"></i> {{ 'VIEW_ON_BLOG' | translate }}
                  </a>
                </li>
                <li>
                  <a ng-click="entry.addToNavigation()">
                    <i class="fa fa-fw fa-bars"></i> {{ 'ADD_TO_NAVIGATION' | translate }}
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a ng-click="onDeletedEntry(entry)">
                    <i class="fa fa-fw fa-trash text-danger"></i> {{ 'DELETE' | translate }}
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="post-body" style="padding: 10px 15px">
            <!-- Status -->
            <p class="post-info o-fade s-mar-no">
              <span ng-if="entry.get.status === 1">{{ 'PUBLISHED' | translate }} &middot; {{ entry.get.published | date }}</span>
              <span
                ng-if="entry.get.status !== 1">{{ 'DRAFT' | translate }} &middot; {{ entry.get.created | date }}</span>
            </p>
            <!-- Title -->
            <a ui-sref="dash.entry-edit({ entryId: entry.get.id, isPage: isPageView })" ng-click="entry.cache()">
              <p class="s-mar-no t-line">{{ entry.get.title }}</p>
            </a>
            <!-- Updated by -->
            <small ng-show="entry.get.updated_by">
              <span class="o-fade" translate>UPDATED_BY</span>
              <a ng-href="{{ entry.get.updated_by.get_absolute_uri }}"
                 target="_blank">@{{ entry.get.updated_by.username }}</a>
            </small>
          </div>
          <!-- Entry Stats -->
          <div class="post-footer">
            <div class="row o-tooltip">
              <!-- Comments -->
              <div class="col-md-4 col-xs-4 text-center">
                <div class="s-pad-soft" title="Comments {{ entry.get.comment_enabled ? 'enabled' : 'disabled'}}">
                  <i class="fa fa-comments-o fa-fw"></i>
                  <small>{{ entry.get.comment_count }}</small>
                </div>
              </div>
              <!-- Views -->
              <div class="col-md-4 col-xs-4 text-center">
                <div class="s-pad-soft">
                  <i class="fa fa-eye fa-fw"></i>
                  <small>{{ entry.get.view_count }}</small>
                </div>
              </div>
              <!-- Likes -->
              <div class="col-md-4 col-xs-4 text-center">
                <div class="s-pad-soft">
                  <i class="fa fa-heart-o fa-fw"></i>
                  <small>{{ entry.get.vote_count }}</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Entry list -->
    <div class="panel panel-default s-box s-mar-x-soft animated fadeIn" ng-if="view == 'list'">
      <div class="panel-heading">
        <multi-select master="entries" actions="actions" prompt="removeSelectedPrompt"></multi-select>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body s-pad-no">
        <ul class="list-unstyled s-mar-no">
          <li class="post-list" ng-repeat="entry in entries" ng-show="!entry.isDeleted">
            <!-- Select -->
            <div class="section c-default" ng-click="entry.isSelected = !entry.isSelected">
              <input type="checkbox" class="c-p" ng-model="entry.isSelected">
            </div>
            <a class="section" ui-sref="dash.entry-edit({entryId: entry.get.id, isPage: isPageView})"
               ng-click="entry.cache()">
              <!-- Title -->
              <h4>{{ entry.get.title }}</h4>
              <!-- Published -->
              <small class="o-fade" ng-if="entry.get.status === 1" data-translate-values="{ date: entry.get.published }"
                     translate>
                PUBLISHED_ON
              </small>
              <!-- Draft -->
              <small class="o-fade" ng-if="entry.get.status === 0" data-translate-values="{ date: entry.get.created }"
                     translate>
                DRAFT_ON
              </small>
              <span class="featured" ng-if="entry.get.featured" translate>FEATURED</span>
            </a>
            <!-- Comment count -->
            <div class="section" style="flex: 1;">
              <a ui-sref="dash.comment-list({ entryId: entry.get.id })">
                <i class="fa fa-comment-o fa-fw"></i>
                <span class="small" translate>{{ entry.get.comment_count }}</small>
              </a>
            </div>
            <!-- More options -->
            <div class="dropdown section" style="flex: 0 auto">
              <button class="btn btn-default btn-circle dropdown-toggle btn-sm o-fade" data-toggle="dropdown">
                <i class="fa fa-fw fa-ellipsis-v"></i>
              </button>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header" ng-if="entry.get.comment_enabled">
                  <i init class="fa fa-fw fa-comments text-muted"></i> {{ 'COMMENTING_ENABLED' | translate }}
                </li>
                <li class="dropdown-header" ng-if="entry.get.password ">
                  <i init class="fa fa-fw fa-lock text-danger"></i> {{ 'PASSWORD_PROTECTED' | translate }}
                </li>
                <li class="divider"
                    ng-show="entry.get.password || entry.get.featured || entry.get.comment_enabled"></li>
                <li>
                  <a ng-href="{{ entry.getUrl() }}" target="_blank">
                    <i class="fa fa-fw fa-external-link"></i> {{ 'VIEW_ON_BLOG' | translate }}
                  </a>
                </li>
                <li>
                  <a ng-click="entry.addToNavigation()">
                    <i class="fa fa-fw fa-bars"></i> {{ 'ADD_TO_NAVIGATION' | translate }}
                  </a>
                </li>
                <li class="divider"></li>
                <li>
                  <a ng-click="undoService.remove(entry)">
                    <i class="fa fa-fw fa-trash text-danger"></i> {{ 'DELETE' | translate }}
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <!-- More -->
    <pagination page-form="pageForm" ng-if="initialled"></pagination>
  </div>
</div>
