/* Entry */

.post-list {
    display: flex;
}

.post-list:hover {
    background: rgba(0, 0, 0, 0.03);
    color: #222;
}

.post-list:not(:last-child) {
    box-shadow: inset 0 -1px #eee;
}

.post-list .section {
    padding: 10px;
    align-self: center;
}

.post-list .section:first-child {
    padding-left: 20px;
    align-self: auto;
}

.post-list a {
    flex: 10;
    color: #222;
}

.post-list a h4 {
    word-break: break-word;
    white-space: normal;
    font-weight: 700;
    margin-bottom: 5px;
}

.post-list a:hover {
    color: #d17100;
}

.post-list a:hover small {
    color: #222;
}

.post-list .featured {
    display: inline-block;
    padding: 2px 5px;
    color: #fff;
    font-weight: 600;
    background: #2588d0;
    border-radius: 3px;
    margin-left: 5px;
    font-size: 0.7em;
}

.post {
    margin-bottom: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #fff;
    -webkit-transition: ease-in-out all 0.1s;
    -moz-transition: ease-in-out all 0.1s;
    transition: ease-in-out all 0.1s;
}

.post-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 160px;
}

.post-img .options {
    position: absolute;
    z-index: 10;
    margin: 5px;
    right: 15px;
    top: 0;
}

.post-body .post-info {
    font-size: 0.65em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.post-footer {
    border-top: 1px solid #eee;
}

.post-featured {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 50px 50px 0px 0px;
    border-color: rgba(0, 0, 0, 0.6) transparent transparent transparent;
}

.post-featured .fa {
    position: absolute;
    top: 10px;
    left: 22px;
}


/* Entry Form Corner */

.entry-form-corner {
    position: fixed;
    top: 60px;
    right: 15px;
    height: 62px;
    width: 220px;
    z-index: 11;
    text-align: right;
}

.entry-form-corner .btn {
    margin: 12px 3px;
    text-transform: uppercase;
    font-weight: bold;
}

@media (max-width: 1000px) {
    .entry-form-corner {
        top: 62px;
    }
}


/* Top bar wrapper */

.top-bar-wrapper > div:first-child {
    padding-left: 30px;
    padding-right: 30px;
}

@media (min-width: 992px) {
    .top-bar-wrapper > div:first-child {
        padding-right: 0;
    }
}
