<!-- Add button -->
<button type="button" class="btn btn-primary btn-corner" ui-sref="dash.entry-new">
  <i class="fa fa-plus"></i>
</button>
<!-- Main -->
<div class="container container-light pad-top">
  <div class="col-md-8 col-md-offset-2">
    <!-- Top bar -->
    <ng-include src="'basement/view/top_bar.html'"></ng-include>
    <!-- Search noresult -->
    <ng-include src="'basement/search/search_noresult.html'"></ng-include>
    <!-- Nothing -->
    <ng-include src="'basement/nothing/nothing.html'" ng-if="!entries.length && !searchForm.noResult && initialled"
      ng-init="nothingText = 'No entries yet.'">
    </ng-include>
    <!-- List -->
    <div ng-if="entries.length">
      <!-- Entry grid -->
      <div class="animated fadeIn" ng-if="view == 'grid'">
        <div class="panel-body s-pad-y-no">
          <ul class="list-unstyled s-mar-no">
            <div class="row">
              <div class="col-md-4 col-sm-6" ng-repeat="entry in entries" ng-show="!entry.isDeleted">
                <a class="thumbnail s-pad-no" ui-sref="dash.entry-edit({ entryId: entry.get.id })"
                  ng-click="entry.cache()">
                  <img ng-src="{{ entry.get.media.cover_image.thumbnail_256x256 ?
                      entry.get.media.cover_image.thumbnail_256x256 : '../assets/img/default/256x256.png'
                    }}">
                  <div class="caption t-line">
                    <small class="text-primary">{{ entry.get.title }}</small>
                    <hr soft>
                    <i class="fa fa-fw fa-comments text-muted" ng-if="entry.get.comment_enabled"></i>
                    <i class="fa fa-fw fa-star text-primary" ng-if="entry.get.featured"></i>
                    <i class="fa fa-fw fa-lock text-danger" ng-if="entry.get.password"></i>
                  </div>
                </a>
              </div>
            </div>
          </ul>
        </div>
      </div>
      <!-- Entry list -->
      <div class="panel panel-default s-box s-mar-x-soft animated fadeIn" ng-if="view == 'list'">
        <div class="panel-heading">
            <!-- Action dropdown -->
          <div class="dropdown options pull-right" title="options">
            <button class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" ng-disabled="!selectCount">
              Action <i class="fa fa-caret-down"></i>
            </button>
            <ul class="dropdown-menu">
              <li ng-repeat="a in actions">
                <a ng-click="setProperty(a.property, a.value)">
                  <i class="fa fa-{{ a.icon }}"></i>{{ a.label }}
                </a>
              </li>
              <hr>
              <li>
                <a ng-click="removeSelected()">
                  <i class="fa fa-trash text-danger"></i> Remove selected
                </a>
              </li>
            </ul>
          </div>
          <div class="clearfix"></div>
        </div>
        <div class="panel-body s-pad-y-no">
          <ul class="list-unstyled s-mar-no">
            <li class="row list-panel b-left s-fade" ng-class="{'b-color-success': entry.get.status == 1}"
              ng-repeat="entry in entries" ng-show="!entry.isDeleted">
              <!--Title and slug-->
              <div class="col-xs-7 col-sm-8 col-md-8 col-lg-8 t-line">
                <input type="checkbox" ng-model="entry.isSelected" ng-change="countSelected(entry)">
                <a ui-sref="dash.entry-edit({entryId: entry.get.id})" ng-click="entry.cache()">{{ entry.get.title }}</a>
                <small class="dis-b o-fade">/{{ entry.get.slug }}</small>
              </div>
              <!-- Date -->
              <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3 text-right o-fade s-pad-no">
                <span class="hidden-xs">{{ entry.get.status == 1 ? entry.get.published : entry.get.created | date }}</span>
                <span class="visible-xs small">{{ entry.get.status == 1 ? entry.get.published : entry.get.created | date }}</span>
                <small class="dis-b o-fade" ng-if="entry.get.status === 1">Publication</small>
                <small class="dis-b o-fade" ng-if="entry.get.status === 0">Creation</small>
              </div>
              <!-- Tools -->
              <div class="col-xs-2 col-sm-1 col-md-1 col-lg-1 text-right s-pad-no">
                <button class="btn btn-default btn-circle dropdown-toggle btn-sm o-fade" data-toggle="dropdown"
                        style="margin-top: 5px;">
                  <i class="fa fa-fw fa-ellipsis-v"></i>
                </button>
                <ul class="dropdown-menu dropdown-menu-right">
                  <li class="dropdown-header" ng-if="entry.get.comment_enabled">
                    <i init class="fa fa-fw fa-comments text-muted"></i> Comments enabled
                  </li>
                  <li class="dropdown-header" ng-if="entry.get.featured ">
                    <i init class="fa fa-fw fa-star text-primary"></i> Featured
                  </li>
                  <li class="dropdown-header" ng-if="entry.get.password ">
                    <i init class="fa fa-fw fa-lock text-danger"></i> Passworded
                  </li>
                  <li class="divider" ng-show="entry.get.password || entry.get.featured || entry.get.comment_enabled"></li>
                  <li>
                    <a ng-href="{{ entry.getUrl() }}" target="_blank">
                      <i class="fa fa-fw fa-external-link"></i> View on site
                    </a>
                  </li>
                  <li>
                    <a ng-click="entry.addToNavigation()">
                      <i class="fa fa-fw fa-bars"></i> Add to navigation
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a ng-click="entry.remove()">
                      <i class="fa fa-fw fa-trash text-danger"></i> Delete entry
                    </a>
                  </li>
                </ul>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- More -->
    <ng-include src="'basement/pagination/pagination_loadmore.html'" ng-if="initialled"></ng-include>
  </div>
</div>
