<div class="container s-pad-y-hard">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <!-- Step: Domain -->
      <div class="animated fadeInUp" ng-class="{'fadeOutUp': isNexting, 'fadeOutDown': isPreving}" ng-if="steps[step] === 'domain'">

        <!-- Title -->
        <h2 class="text-center">Let's create your site</h2>
        
        <!-- Domain form -->
        <div class="form-group s-mar-y">
          <div class="input-group">
            <input type="text" name="siteName" ng-model="domainForm.name" ng-change="checkDomain(domainForm)"
              class="form-control input-xlg primary" placeholder="Enter site address"
              ng-model-options='{ debounce: 500 }' ng-minlength="3">
            <span class="input-group-addon" id="subdomain">
              <span class="text-primary">.gonevis.com</span>
            </span>
          </div>
        </div>

        <!-- Domain status -->
        <div class="popover popover-input bottom" ng-if="domainForm.checkedName">
          <div class="arrow"></div> 
          <div class="popover-content">
            <div ng-class="{'o-fade': domainForm.loading}">
              <span ng-if="domainForm.available">
                <b><i class="fa fa-fw fa-check text-success"></i> Awesome!</b> {{ domainForm.checkedName }} is available.
              </span>
              <span ng-if="!domainForm.available">
                <b><i class="fa fa-fw fa-times text-danger"></i> Oh...</b> {{ domainForm.error.domain[0] }}.
              </span>
            </div>
          </div>
        </div>

        <!-- Continue -->
        <div class="col-xs-12 s-mar-top-soft" ng-if="domainForm.available">
          <div class="animated fadeIn">
            <button class="btn btn-primary btn-lg col-md-3 col-md-offset-4 col-xs-12"
              ng-disabled="domainForm.loading" ng-click="next()">
              Continue <i class="fa fa-fw fa-arrow-right"></i>
            </button>
          </div>
        </div>
      </div>

      <!-- Step: Template -->
      <div class="animated fadeInUp" ng-class="{'fadeOutUp': isNexting, 'fadeOutDown': isPreving}" ng-if="steps[step] === 'template'">

        <!-- Go back -->
        <button class="btn btn-sm btn-default" ng-click="prev()">
          <i class="fa fa-fw fa-reply"></i> Go Back
        </button>

        <!-- Sub header -->
        <h4 class="page-header">
          Pick a theme
          <button class="btn btn-primary btn-sm pull-right"
            ng-click="selectTemplate(templates[0])">
            Skip <i class="fa fa-fw fa-arrow-right"></i>
          </button>
        </h4>

        <!-- Templatews -->
        <div class="row">
          <div class="col-md-4 col-sm-6 text-center" ng-repeat="template in templates">
            <div class="thumbnail thumbnail-selection dis-ib" ng-click="selectTemplate(template)"
              ng-class="{active: selectedTemplate.id === template.id}">
              <span>
                <i class="fa fa-3x" ng-class="{
                  'fa-check': selectedTemplate.id !== template.id,
                  'fa-check-circle': selectedTemplate.id === template.id
                }"></i>
              </span>
              <img preload-image ng-src="{{ template.media.thumbnail_512x512 }}" default-image="assets/img/default/512x512.png">
              <div class="t-cap">{{ template.name }}</div>
            </div>
          </div>
        </div>
      </div>

      <!-- Step: Sign up -->
      <div class="animated fadeInUp" ng-class="{'fadeOutUp': isNexting, 'fadeOutDown': isPreving}" ng-if="steps[step] === 'sign up'">

        <div class="row">
          <div class="col-md-6 col-md-offset-3">

            <!-- Title -->
            <h2 class="text-center">
              <!-- Go back -->
              <button class="btn btn-sm btn-default pull-left" ng-click="prev()" style="margin-top: 4px">
                <i class="fa fa-fw fa-reply"></i>
              </button>
              <span>You're almost done!</span>
            </h2>

            <!-- Signup form -->
            <form ng-submit="signup(signupForm)" ng-hide="success">
            
              <!-- Sub header -->
              <h4 class="page-header">Register</h4>

              <!-- Email -->
              <div class="form-group" ng-class="{'has-error': signupForm.errors.email}">
                <input id="email" class="form-control input-lg" type="email"
                  ng-model="signupForm.data.email" placeholder="Email" required/>
                <span class="help-block" ng-show="signupForm.errors.email">{{ signupForm.errors.email[0] }}</span>
              </div>

              <!-- Password -->
              <div class="form-group" ng-class="{'has-error': signupForm.errors.password}">
                <div class="input-group">
                  <!-- Input -->
                  <input id="password" class="form-control input-lg" type="{{ showPassword ? 'text' : 'password' }}"
                    uib-tooltip="Must be at least 8 characters." tooltip-trigger="'focus'" tooltip-class="init"
                    ng-model="password.password" ng-trim="false" placeholder="Password" required>
                  <!-- Show/hide button -->
                  <span class="input-group-btn">
                    <button class="btn btn-default btn-lg" type="button" ng-model="showPassword" uib-btn-checkbox>
                      <i class="fa fa-fw" ng-class="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}"></i>
                    </button>
                  </span>
                </div>
                <ng-include src="'basement/password/password_strength.html'"></ng-include>
                <span class="help-block" ng-show="signupForm.errors.password">{{ signupForm.errors.password[0] }}</span>
              </div>

              <!-- Error -->
              <div class="form-group alert alert-danger" ng-show="signupForm.errors.non_field_errors">
                {{ signupForm.errors.non_field_errors[0] }}
              </div>

              <!-- Button -->
              <button class="btn btn-success btn-block btn-lg"
                ng-disabled="signupForm.loading || signupForm.$invalid || !password.isValid()">
                Register
              </button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
