<div class="container s-pad-y-hard">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <!-- Site address -->
      <h2 class="text-center">Let's create your site.</h2>
      <!-- Site url input -->
      <div class="form-group s-mar-y col-md-12">
        <div class="input-group">
          <input type="text" name="siteName" ng-model="name"
            class="form-control input-xlg primary" placeholder="Enter site address">
          <span class="input-group-addon" id="subdomain">
            <span class="text-primary">.gonevis.com</span>
          </span>
        </div>
      </div>
      <!-- Site templates -->
      <div class="dis-ib animated slideInUp">
        <div class="col-md-4 col-sm-6" ng-repeat="template in templates">
          <div class="thumbnail thumbnail-selection">
            <span><i class="fa fa-3x fa-check"></i></span>
            <img ng-src="{{ template.media.thumbnail_256x256 }}">
            <div>{{ template.name }}</div>
          </div>
        </div>
      </div>

      <!-- Step: Sign up -->
      <div class="animated fadeInUp" ng-class="{'fadeOutUp': isNexting}" ng-if="steps[step] === 'sign up'">

        <!-- Title -->
        <h2 class="text-center">You're almost done!</h2>

        <!-- Signup form -->
        <form class="row" ng-submit="signup(signupForm)" ng-hide="success">
        
          <div class="col-md-6 col-md-offset-3">

            <!-- Sub header -->
            <h4 class="page-header">Register</h4>

            <!-- Email -->
            <div class="form-group" ng-class="{'has-error': signupForm.errors.email}">
              <input id="email" class="form-control input-lg" type="email"
                ng-model="signupForm.data.email" placeholder="Email" required/>
              <span class="help-block" ng-show="signupForm.errors.email">{{ signupForm.errors.email[0] }}</span>
            </div>

            <!-- Password -->
            <div class="form-group" ng-class="{'has-error': signupForm.errors.password}">
              <div class="input-group">
                <!-- Input -->
                <input id="password" class="form-control input-lg" type="{{ showPassword ? 'text' : 'password' }}"
                  uib-tooltip="Must be at least 8 characters." tooltip-trigger="'focus'" tooltip-class="init"
                  ng-model="password.password" ng-trim="false" placeholder="Password" required>
                <!-- Show/hide button -->
                <span class="input-group-btn">
                  <button class="btn btn-default btn-lg" type="button" ng-model="showPassword" uib-btn-checkbox>
                    <i class="fa fa-fw" ng-class="{'fa-eye': !showPassword, 'fa-eye-slash': showPassword}"></i>
                  </button>
                </span>
              </div>
              <ng-include src="'basement/password/password_strength.html'"></ng-include>
              <span class="help-block" ng-show="signupForm.errors.password">{{ signupForm.errors.password[0] }}</span>
            </div>

            <!-- Error -->
            <div class="form-group alert alert-danger" ng-show="signupForm.errors.non_field_errors">
              {{ signupForm.errors.non_field_errors[0] }}
            </div>

            <!-- Button -->
            <button class="btn btn-success btn-block btn-lg"
              ng-disabled="signupForm.loading || signupForm.$invalid || !password.isValid()">
              Register
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
