<div class="modal fade sidebar right" id="team">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-header-clickable" data-dismiss="modal">
        <i class="fa fa-chevron-left"></i>
      </div>
      <div class="modal-body">
        <!-- Cover -->
        <div class="cover" ng-class="{open: open}" ng-click="open = !open" 
          ng-init="open = false" style="background-image:
          url({{ team.user.get.media.picture && !team.isPending ? team.user.get.media.thumbnail_256x256 : 'assets/img/avatar.png' }})">
        </div>
        <!-- Name -->
        <h3 class="c-white t-shadow">
          <span ng-if="!team.isPending">{{ team.user.getFullName() || team.user.get.username }}</span>
          <br>
          <small class="c-white">{{ teamRoles[team.role].label }}</small>
        </h3>
        <br>
        <!-- Info -->
        <div class="s-mar-top-soft o-fade-soft">
          <!-- Username -->
          <h4 ng-if="!team.isPending">
            <small>Username:</small>
            <span class="pull-right">
              <small>@</small>{{ team.user.get.username }}
            </span>
            <hr>
          </h4>
          <!-- Email -->
          <h4 class="t-line kv" ng-if="team.user.get.email">
            <a href="mailto:{{ team.user.get.email }}" target="_blank">
              <i class="fa fa-envelope-o"></i>
              <span>{{ team.isPending ? team.email : team.user.get.email }}</span>
            </a>
          </h4>
          <hr>
          <h4 ng-if="!team.isPending && team.role != 0">
            <small>Role:</small>
            <div class="pull-right">
              <a data-toggle="dropdown" class="btn btn-link s-pad-no">{{ teamRoles[team.role].label }}</a>
              <ul class="dropdown-menu dropdown-menu-right">
                <li class="dropdown-header">Change Role</li>
                <li ng-repeat="role in teamRoles" ng-if="$index > 0">
                  <a ng-click="setRole(team.user.get.email, role)">{{ role.label }}</a>
                </li>
              </ul>
            </div>
            <hr>
          </h4>
        </div>
        <!-- Remove -->
        <button class="btn btn-danger stack-element"
          ng-click="remove(team)"
          ng-if="team.user.get.id !== user.get.id || team.isPending">
          <i class="fa fa-trash"></i> Remove from team
        </button>
      </div>
    </div>
  </div>
</div>
