<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="dash.main({s: param.s})">Dash</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav" ng-if="auth.isAuthenticated()">
        <li ng-class="{'active': state.includes('dash.entry-new')}">
          <a ui-sref="dash.entry-new">Nevis</a>
        </li>
        <li ng-class="{'active': state.includes('dash.entry-list')}">
          <a ui-sref="dash.entry-list">Entries</a>
        </li>
        <li ng-class="{'active': state.includes('dash.tag-list')}">
          <a ui-sref="dash.tag-list">Tags</a>
        </li>
        <li ng-class="{'active': state.includes('dash.comment-list')}">
          <a ui-sref="dash.comment-list">Comments</a>
        </li>
        <li ng-class="{'active': state.includes('dash.dolphin')}">
          <a ui-sref="dash.dolphin">Dolphin</a>
        </li>
        <li ng-class="{'active': state.includes('dash.navigation')}">
          <a ui-sref="dash.navigation">Navigations</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" ng-if="auth.isAuthenticated()">
          <a class="dropdown-toggle" data-toggle="dropdown">{{ user.username }} <i class="fa fa-caret-down o-fade-hard"></i></a>
          <ul class="dropdown-menu">
            <li><a ui-sref="dash.user({s: param.s})">View Account</a></li>
            <li role="separator" class="divider" ng-if="user.sites"></li>
            <li ng-repeat="site in user.sites" ng-class="{'active': param.s == $index}">
              <a ui-sref="dash.main({s: $index})">{{ site.title }}</a>
              <a ui-sref="dash.site-settings" class="nav-link-in-link"><i class="fa fa-cog" ng-if="param.s == $index"></i></a>
            </li>
            <li role="separator" class="divider"></li>
            <li><a ng-click="auth.logout()">Logout</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>