<nav class="navbar navbar-default navbar-static-top" ng-class="{'navbar-default': set.lights, 'navbar-inverse': !set.lights}">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ng-if="auth.isAuthenticated()"  ui-sref="dash.main({s: param.s})">Dash</a>
      <a class="navbar-brand" ng-if="!auth.isAuthenticated()" ui-sref="start">GoNevis</a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav" ng-if="auth.isAuthenticated() && param.s">
        <li ng-class="{'active': state.includes('dash.entry-new')}">
          <a ui-sref="dash.entry-new({s: param.s})">Nevis</a>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <span class="hidden visible-xs">Nevis More <i class="fa fa-caret-down"></i></span>
            <i class="fa fa-caret-down o-fade-hard hidden-xs"></i>
          </a>
          <ul class="dropdown-menu">
            <li class="dropdown-header hidden-xs">MORE TO NEVIS</li>
            <li role="separator" class="divider"></li>
            <li ng-repeat="(key, format) in entryFormats" ng-if="key !== 'text'">
              <a ng-click="nevis(key)" ng-disabled="format.disabled"
                ng-class="{'o-fade-soft': format.disabled}" title="{{ format.disabled ? 'Coming soon' : null }}">
                <i class="fa fa-{{ format.icon }}"></i> {{ format.label }}
              </a>
            </li>
            <li role="separator" class="divider hidden visible-xs"></li>
          </ul>
        </li>
        <li ng-class="{'active': state.includes('dash.entry-list')}">
          <a ui-sref="dash.entry-list({s: param.s})">Entries</a>
        </li>
        <li ng-class="{'active': state.includes('dash.tag-list')}">
          <a ui-sref="dash.tag-list({s: param.s})">Tags</a>
        </li>
        <li ng-class="{'active': state.includes('dash.comment-list')}">
          <a ui-sref="dash.comment-list({s: param.s})">Comments</a>
        </li>
        <li ng-class="{'active': state.includes('dash.dolphin')}">
          <a ui-sref="dash.dolphin({s: param.s})">Files</a>
        </li>
        <li ng-class="{'active': state.includes('dash.navigation')}">
          <a ui-sref="dash.navigation({s: param.s})">Navigations</a>
        </li>
        <li ng-class="{'active': state.includes('dash.team')}">
          <a ui-sref="dash.team({s: param.s})">Team</a>
        </li>
        <li ng-class="{'active': state.includes('dash.site')}">
          <a ui-sref="dash.site({s: param.s})">Settings</a>
        </li>
      </ul>
      <!-- If user is not Authenticated -->
      <ul class="nav navbar-nav" ng-if="!auth.isAuthenticated()">
        <li ng-class="{'active': state.includes('start')}">
          <a ui-sref="start">Get Started</a>
        </li>
      </ul>
      <!-- If user is not Authenticated -->
      <ul class="nav navbar-nav navbar-right" ng-if="!auth.isAuthenticated()">
        <li ng-class="{'active': state.includes('signin')}">
          <a ui-sref="signin">Login</a>
        </li>
        <li ng-class="{'active': state.includes('signup') || state.includes('collaborate')}">
          <a ui-sref="signup">Register</a>
        </li>
      </ul>
      <!-- If user is Authenticated -->
      <ul class="nav navbar-nav navbar-right" ng-if="auth.isAuthenticated()">
        <li class="animated fadeIn" ng-if="param.lights">
          <a ng-click="set.lights = !set.lights">
            <i class="fa fa-lightbulb-o nav-icon"></i>
          </a>
        </li>
        <!-- Account dropdown -->
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            {{ user.getDisplayName() }} <i class="fa fa-caret-down o-fade-hard"></i>
          </a>
          <ul class="dropdown-menu">
            <!-- Account settings -->
            <li>
              <a ui-sref="user({s: param.s})">
                View Account<br>
                <small class="o-fade">{{ user.email }}</small>
              </a>
            </li>
            <li role="separator" class="divider"></li>
            <!-- Sites -->
            <li ng-repeat="site in user.getSites()" ng-class="{'active': param.s == $index}">
              <a ui-sref="dash.main({s: $index})">{{ site.title }}</a>
            </li>
            <!-- New site -->
            <li><a ui-sref="site-new({s: param.s})" class="o-fade small">CREATE NEW SITE</a></li>
            <li role="separator" class="divider"></li>
            <!-- Feedback -->
            <li><a ng-href="mailto:hello@gonevis.com"><i class="fa fa-envelope-o"></i> Feedback</a></li>
            <!-- Sign out -->
            <li><a ng-click="auth.signOut()"><i class="fa fa-sign-out"></i> Sign out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<toaster-container
  toaster-options="{'position-class': 'toast-bottom-left'}">
</toaster-container>
