/*!
 * Ice
 *
 * Text colors:
 *  #6F7A8B
 *  #FFFFFF
 *
 * Background colors:
 *  #EAEDF1
 *  #FFFFFF
 *  #2F323B
 *
 * Border colors:
 *  #E8E8E8
 *  #F0F0F0
**/


/* Global */

body {
    background-color: #EAEDF1;
    font-family: "Lato", Helvetica, sans-serif;
    color: #6F7A8B;
    overflow-y: scroll;
    transition: ease-in-out background-color 0.2s
}

body.lights.off {
    background-color: #222222;
}

/* Panel */

.panel {
    border: none !important;
    cursor: default;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
}

.panel-heading {
    background-color: #FFFFFF !important;
    padding: 18px 12px !important;
    border-bottom: 2px solid #EAEDF1 !important;
}

.panel-heading,
.panel-heading a {
    color: #6F7A8B !important;
    font-weight: bold;
    letter-spacing: 0.03em;
}

.panel-heading:not(.lower),
.panel-heading:not(.lower) a {
    text-transform: uppercase;
}

.panel-footer {
    border-top: 2px solid #eaedf1;
}

.panel-body .btn {
    margin-bottom: 5px;
}

/* Panel label */

.panel-label {
    float: right;
    padding: 6px 10px;
    margin-top: -6px;
    background: #EAEDF1;
    border: 1px solid transparent;
    font-weight: bold;
    color: #6F7A8B;
}


/* Sidebar */

.sidebar-content {
    background: #fff;
    border-right: 1px solid rgb(221, 221, 221);
    color: #fff;
    position: fixed;
    height: calc(100% - 45px);
    width: 250px;
    left: 0;
    top: 45px;
    transition: all 0.2s ease-in-out;
    z-index: 100;
    padding-bottom: 60px;
}

.sidebar-content .navigations {
    height: calc(100% + 5px);
    overflow: hidden;
    overflow-y: auto;
}

.lights.off .sidebar-content {
    background: #222;
}

.sidebar-content.sidebar-close {
    width: 55px !important;
}

.sidebar-content .navigations a {
    padding: 13px 20px;
    display: block;
    color: #666;
    width: 100%;
    white-space: nowrap;
}

.sidebar-content .navigations a>.arrow {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #eaedf1;
    float: right;
    margin-right: -20px;
    margin-top: 2px;
    opacity: 0;
}

.lights.off .sidebar-content .navigations a>.arrow {
    border-right-color: #333;
}

.sidebar-content>a.active>.arrow {
    opacity: 1;
}

.sidebar-content .navigations a.active-minimal,
.sidebar-content .navigations a.active,
.sidebar-content .navigations a:focus,
.sidebar-content .navigations a:hover {
    color: #222;
    background: rgba(0, 0, 0, 0.05);
}

.sidebar-content .navigations a.active {
    box-shadow: inset 3px 0 0 #d17100;
}

.sidebar-content a.active,
.sidebar-content a.active-minimal {
    background: rgba(0, 0, 0, 0.3);
}

.sidebar-content a>.fa {
    margin-left: -2px;
}

.sidebar-content a>span {
    margin-left: 20px;
}

.sidebar-content a.active .fa {
    color: #d17100;
}

.sidebar-content a.main {
    padding: 20px;
    font-size: 1.4rem;
}

.sidebar-content a.main span {
    margin-left: 2px;
}

.sidebar-content a.main:not(.main-light) {
    background: #27282d;
    font-weight: bold;
    color: #fff;
}

.sidebar-content a.main .fa {
    margin-left: 5px;
}

.sidebar-content a.main img {
    margin: -5px -8px;
    margin-right: 12px;
    border-radius: 100%;
    width: 32px;
    height: 32px;
}

.sidebar-content .navigations a .more {
    position: absolute;
    background: #ffffff;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.075);
    border: 1px solid rgba(0,0,0,0.1);
    left: 54px;
    margin-top: -13px;
    padding: 0 15px;
    height: 46px;
    width: 150px;
    line-height: 43px;
    border-left: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    visibility: hidden;
    opacity: 0;
}

.sidebar-content.sidebar-close .navigations a:hover .more,
.sidebar-content.sidebar-close .navigations a .more:hover {
    visibility: visible;
    opacity: 1;
}

.sidebar-content.sidebar-close .navigations a .more:hover {
    background-color: #f2f2f2;
}

@media (max-height: 650px) {
    .sidebar-content a:not(.main) {
        padding: 8px 20px !important;
    }
}

@media (max-width: 768px) {
    .sidebar-content .navigations a .more {
        display: none;
    }
}

/* Sidebar button */

.sidebar-content>button {
    border-radius: 0 3px 3px 0;
    position: fixed;
    left: 250px;
    bottom: 25px;
    height: 60px;
    padding: 0;
    border: 0;
    padding-right: 2px;
    background: #2F323B !important;
    color: #fff !important;
    transition: all 0.2s ease-in-out;
}

.lights.off .sidebar-content>button {
    background: #222 !important;
}

.sidebar-content.sidebar-close>button {
    left: 60px;
}


/* Sidebar dropdown */

.sidebar-content .dropdown-menu {
    width: 250px;
    margin-top: -1px;
    margin-bottom: 0;
    border-radius: 0;
    padding: 0;
    background: #27282d;
    box-shadow: none;
}

.sidebar-content .dropdown-menu a {
    color: rgba(255, 255, 255, 0.6);
    padding: 15px 15px !important;
}

.sidebar-content .dropdown-menu .active a,
.sidebar-content .dropdown-menu a:hover,
.sidebar-content .dropdown-menu a:focus {
    color: #fff;
    background: transparent !important;
}

.sidebar-content .dropdown-menu .active a {
    background: rgba(0, 0, 0, 0.2) !important;
}

.sidebar-content .dropdown-menu .divider {
    background: #222;
}

.sidebar-content .dropup.open {
    background: rgba(0, 0, 0, 0.2);
}


/* List group label */

.list-group-label {
    font-size: smaller;
    color: #6f7a8b;
    background: #eaedf1;
    display: initial;
    float: right;
    padding: 4px 10px;
    margin: -3px;
    border-radius: 1000px;
    opacity: 0.4;
}

.list-group-label.visible {
    opacity: 1;
}

.list-group-item:hover .list-group-label {
    opacity: 1;
}

.list-group-label>span {
    margin-right: 10px;
}

.list-group-label>span:last-child {
    margin-right: 0;
}


/* List group item */

.list-group-item .pull-right.btn-sm {
    margin-top: -5px;
}

.list-group-item {
    border-color: #F0F0F0;
}


/* Dropdown */

.dropdown-menu a {
    text-transform: initial !important;
}


/* Alert */

.alert {
    border-radius: 3px;
    border: 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05);
    letter-spacing: 0.5;
}

.alert .btn.pull-right {
    margin-top: -6px;
    border: 0;
}


/* Collapse */

.sidebar-content a.sidebar-collapse {
    position: fixed;
    width: 55px !important;
    padding: 18px !important;
    height: 55px;
    background: ffffff;
    box-shadow: inset -1px 1px #ddd;
    bottom: 0;
    transition: ease-in-out 0.2s width;
    white-space: nowrap;
    overflow: hidden;
    color: #666;
}

.sidebar-content:not(.sidebar-close) a.sidebar-collapse {
    width: 250px !important;
}

header.no-sidebar .sidebar-content a.sidebar-collapse {
    visibility: hidden;
}

.sidebar-content a.sidebar-collapse:hover {
    color: #222;
}

.sidebar-content a.sidebar-collapse span {
    margin-left: 20px;
}

.sidebar-content a.sidebar-collapse .fa {
    margin: 0;
    line-height: 20px;
}
