/* Space */

.s-pad {
    padding: 30px;
}

.s-pad-hard {
    padding: 50px;
}

.s-pad-soft {
    padding: 5px;
}

.s-pad-no {
    padding: 0;
}

.s-pad-no-force {
    padding: 0 !important;
}

.s-pad-top-soft {
    padding-top: 15px;
}

.s-pad-y-no {
    padding-top: 0;
    padding-bottom: 0;
}

.s-mar-soft {
    margin: 15px;
}

.s-mar-x-soft {
    margin-right: 15px;
    margin-left: 15px;
}

.s-mar-no {
    margin: 0;
}

.s-mar-top-no {
    margin-top: 0;
}

.s-mar-left {
    margin-left: 15px;
}

.s-mar-top {
    margin-top: 30px;
}

.s-mar-y {
    margin-top: 30px;
    margin-bottom: 30px;
}

.s-mar-y-soft {
    margin-top: 15px;
    margin-bottom: 15px;
}

.s-mar-top-hard {
    margin-top: 80px;
}

.s-mar-top-soft {
    margin-top: 15px;
}

.s-mar-bottom {
    margin-bottom: 30px;
}

.s-mar-bottom-soft {
    margin-bottom: 15px;
}

.s-mar-bottom-no {
    margin-bottom: 0;
}

.s-child-mar-bottom-soft>* {
    margin-bottom: 15px;
}

.s-mar-bottom-list {
    margin-bottom: 5px !important;
}

.s-mar-right {
    margin-right: 30px;
}

.s-mar-right-soft {
    margin-right: 10px;
}

.s-mar-left {
    margin-left: 30px;
}

.s-mar-left-soft {
    margin-left: 10px;
}

.s-pad-x {
    padding-right: 30px;
    padding-left: 30px;
}

.s-pad-x-soft {
    padding-right: 15px;
    padding-left: 15px;
}

.s-pad-x-no {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.s-pad-y {
    padding-top: 30px;
    padding-bottom: 30px;
}

.s-pad-y-hard {
    padding-top: 50px;
    padding-bottom: 50px;
}

.s-pad-y-soft {
    padding-top: 15px;
    padding-bottom: 15px;
}

.s-pad-left-no {
    padding-left: 0;
}

.s-pad-right-no {
    padding-right: 0;
}

.s-pad-left-soft {
    padding-left: 15px;
}

.s-pad-right-soft {
    padding-right: 15px;
}


/* Vertical Alignment */

.va-m {
    vertical-align: middle;
}


/* Sizes */

.sz-full {
    width: 100% !important;
}


/* Opacity */

.o-fade {
    opacity: 0.6;
}

.o-fade-hard {
    opacity: 0.3;
}

.o-fade-soft {
    opacity: 0.7;
}

.o-fade-max {
    opacity: 0;
}

.o-fade-hover-full:hover {
    opacity: 1;
}


/* Shadow */

.s-box {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}


/* Border */

.b-no {
    border: none;
}

.b-left {
    border-left: 4px solid rgba(0, 0, 0, 0.2);
}

.b-left-no {
    border-left: none;
}

.b-right-no {
    border-right: none !important;
}

.b-color-0 {
    border-color: orange;
}

.b-color-2,
.b-color-success {
    border-color: limegreen;
}

.b-primary {
    border-color: #d17100;
}


/* Background colors */

.bg-white {
    background-color: #fff;
}


/* Displays */

.dis-b {
    display: block;
}

.dis-ib {
    display: inline-block;
}

.dis-g {
    display: grid;
}


/* Cursors */

.dropdown-toggle,
.c-p {
    cursor: pointer;
}

.sv-sorting-in-progress,
.c-move {
    cursor: move;
}

.c-no {
    pointer-events: none;
}


/* Hovers */

.h-opacity:HOVER {
    opacity: 1;
}


/* Overflows */

.of-hidden {
    overflow: hidden;
}


/* Word breaks */

.break-word {
    word-break: break-word;
}
