<div class="container container-light pad-top">
  <div>
    <div class="panel panel-defaul s-box">
      <div class="panel-body s-pad">
        <form ng-submit="updateAccount(form, user)" name="form">
          <h3 class="o-fade-soft">Settings</h3>
          <hr>
          <div class="form-group">
            <h4> Name</h4>
            <input class="form-control input-lg" type="text" ng-model="user.name">
          </div>
          <div class="form-group">
            <h4> About</h4>
            <textarea class="form-control input-lg" type="text-area" ng-model="user.about"></textarea>
          </div>
          <div class="form-group">
            <h4> Location</h4>
            <input class="form-control input-lg" type="text" ng-model="user.location">
          </div>
          <button class="btn btn-success btn-lg pull-right" ng-disabled="form.isSubmitting">Save</button>
        </form>
      </div>
    </div>
  </div>
</div>
