<div class="container">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default s-box">
      <div class="panel-body s-pad">
      <!-- Form -->
      <form ng-submit="resetPassword(form)" name="form">
        <!-- Title -->
        <h3 class="o-fade-soft">
          {{ 'RESET_PASSWORD' | translate }} <i class="fa fa-lock fa-fw text-danger pull-right"></i>
        </h3>
        <hr>
        <!-- Password -->
        <div class="form-group" ng-class="{'has-error': form.errors.password}">
          <input class="form-control input-lg" type="{{ showPassword ? 'text' : 'password' }}"
            name="password" ng-trim="false" placeholder="{{ 'NEW_PASSWORD' | translate }}"
            ng-model="password.password" required style="position: relative"/>
          <!--<ng-include src="'basement/password/password_strength.html'"></ng-include>-->
          <span class="help-block text-danger animated fadeInDown" ng-if="form.errors.password[0]">
            {{ form.errors.password[0] }}
          </span>
        </div>
        <!-- Confirm password -->
        <div class="form-group">
          <input class="form-control input-lg" type="{{ showPassword ? 'text' : 'password' }}" name="passsword2"
            placeholder="{{ 'CONFIRM_NEW_PASSWORD' | translate }}" ng-model="form.confirm" required/>
          <span id="password2" class="help-block" ng-show="password.password !== form.confirm && password.password.length > 8">
            <span class="text-danger" translate>PASSWORDS_NO_MATCH</span>
          </span>
        </div>
        <!-- Errors -->
        <div class="form-group alert alert-danger" ng-show="form.errors.detail">
          {{ form.errors.detail }}
        </div>
        <!-- Show/hide password -->
        <div class="form-group checkbox checkbox-primary ">
          <input id="showPassword" type="checkbox" ng-model="showPassword">
          <label for="showPassword" translate>SHOW_PASSWORD</label>
        </div>
        <!-- Submit -->
        <button class="btn btn-primary btn-block btn-lg"
          ng-disabled="form.loading || form.$invalid || password.password !== form.confirm || !password.isValid()"
          translate>
          CHANGE_PASSWORD
        </button>
      </form>
      </div>
      <div class="panel-footer s-pad">
        <span class="s-mar-no o-fade">{{ 'BACK_TO' | translate }} </span> <a ui-sref="signin" translate>LOGIN</a>
      </div>
    </div>
  </div>
</div>
