<div class="container">
  <div class="row">
    <!-- Left -->
    <div class="col-md-8">
      <!-- Latest comments -->
      <div class="panel panel-default" ng-if="Comment.list.length">
        <div class="panel-heading">
          Comments <span class="label label-default">{{ Metrics.list.comment_count }}</span>
        </div>
        <ul class="panel-body panel-list">
          <!-- Comment -->
          <li class="panel-list-item a-fade" ng-repeat="comment in Comment.list" ng-show="!comment.isDeleted">
            <!-- Username -->
            <small>{{ comment.get.user.name }}:</small>
            <!-- Content -->
            <a ng-click="comment.view()">{{ comment.get.comment }}</a>
            <!-- Options -->
            <span class="panel-list-item-button">
              <i class="fa fa-fw fa-ellipsis-v" data-toggle="dropdown"></i>
              <ul class="dropdown-menu">
                <!-- Delete -->
                <li>
                  <a ng-click="comment.remove()">
                    <i class="fa fa-fw fa-trash text-danger"></i> Delete
                  </a>
                </li>
              </ul>
            </span>
          </li>
        </ul>
      </div>
      <!-- Latest entries -->
      <div class="panel panel-default" ng-if="Entry.list.length">
        <!-- Title -->
        <div class="panel-heading">
          Entries <span class="label label-default">{{ Metrics.list.entry_count }}</span>
        </div>
        <!-- Entry list -->
        <ul class="panel-body panel-list">
          <!-- Entry -->
          <li class="panel-list-item s-fade" ng-repeat="entry in Entry.list" ng-show="!entry.isDeleted">
            <a ui-sref="dash.entry-edit({ entryId: entry.get.id })" ng-click="entry.cache()">
              {{ entry.get.title }}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Right -->
    <div class="col-md-4">
      <!-- Metrics:Entry -->
      <div class="panel panel-default" ng-if="Metrics.list">
        <!-- Title -->
        <div class="panel-heading">
          <i class="fa fa-list-alt text-primary"></i> Entry overview
        </div>
        <!-- Overview -->
        <ul class="panel-body list-group s-pad-no">
          <li class="list-group-item" ng-class="{'o-fade': !Metrics.list.entry_count}">
            Entries <b class="pull-right text-primary">{{ Metrics.list.entry_count }}</b>
          </li>
          <li class="list-group-item" ng-class="{'o-fade': !Metrics.list.published_entry_count}">
            Published entries <b class="pull-right text-primary">{{ Metrics.list.published_entry_count }}</b>
          </li>
          <li class="list-group-item" ng-class="{'o-fade': !Metrics.list.draft_entry_count}">
            Draft entries <b class="pull-right text-primary">{{ Metrics.list.draft_entry_count }}</b>
          </li>
        </ul>
      </div>
      <!-- Metrics:Comment -->
      <div class="panel panel-default" ng-if="Metrics.list">
        <!-- Title -->
        <div class="panel-heading">
          Comment overview <i class="fa fa-comment text-primary"></i>
        </div>
        <!-- Overview (Chart -->
        <ul class="panel-body s-pad">
          <canvas class="chart chart-doughnut"
            chart-labels="['Active Comments', 'Pending Comments', 'Hidden Comments']"
            chart-data="[
              Metrics.list.active_comment_count,
              Metrics.list.pending_comment_count,
              Metrics.list.hidden_comment_count
            ]">
          </canvas>
        </ul>
      </div>
      <!-- Metrics:Subscribers -->
      <div class="panel panel-default" ng-if="Metrics.list">
        <!-- Title -->
        <div class="panel-heading">
          Subscribers <i class="fa fa-user-plus text-primary"></i>
        </div>
        <!-- Overview -->
        <ul class="panel-body list-group s-pad-no">
          <li class="list-group-item" ng-class="{'o-fade': !Metrics.list.subscriber_count}">
            Subscribers <b class="pull-right text-primary">{{ Metrics.list.subscriber_count }}</b>
          </li>
        </ul>
      </div>
      <!-- Metrics:Dolphin -->
      <div class="panel panel-default" ng-if="Metrics.list">
        <!-- Title -->
        <div class="panel-heading">
          <i class="fa fa-cubes text-primary"></i> Files overview
        </div>
        <!-- Overview -->
        <ul class="panel-body list-group s-pad-no">
          <li class="list-group-item" ng-class="{'o-fade': !Metrics.list.dolphin.file_count}">
            Files <b class="pull-right text-primary">{{ Metrics.list.dolphin.file_count }}</b>
          </li>
          <li class="list-group-item" ng-class="{'o-fade': !Metrics.list.dolphin.used_storage}">
            Used storage <b class="pull-right text-primary">{{ Metrics.list.dolphin.used_storage | bytes }}</b>
          </li>
          <li class="list-group-item" ng-class="{'o-fade': !Metrics.list.dolphin.available_storage}">
            Available storage
            <b class="pull-right text-primary">
              {{ Metrics.list.dolphin.available_storage | bytes }}
            </b>
          </li>
        </ul>
        <!-- Footer (progress) -->
        <div class="panel-footer s-pad-no of-hidden">
          <div class="progress s-mar-no br-r-no"
            ng-init="dolphinProgress = Metrics.list.dolphin.used_storage_percentage">
            <div class="progress-bar progress-bar-striped"
              role="progressbar" aria-valuemax="100" aria-valuemin="0"
              aria-valuenow="{{ dolphinProgress }}" style="width: {{ dolphinProgress }}%"
              ng-class="{
                'progress-bar-success': dolphinProgress < 80,
                'progress-bar-warning': dolphinProgress >= 80 && dolphinProgress < 90,
                'progress-bar-danger':  dolphinProgress >= 90
              }">
            </div>
            <span class="sr-only">{{ dolphinProgress }}% Used storage</span>
          </div>
        </div>
      </div>
      <!-- Metrics:Team -->
      <div class="panel panel-default" ng-if="Metrics.list">
        <!-- Title -->
        <div class="panel-heading">
          <i class="fa fa-users text-primary"></i> Team overview
        </div>
        <!-- Overview -->
        <ul class="panel-body list-group s-pad-no">
          <li class="list-group-item">
            Team members <b class="pull-right text-primary">{{ Metrics.list.team_member_count }}</b>
          </li>
          <li class="list-group-item" ng-class="{'o-fade': !Metrics.list.pending_team_member_count}">
            Pending team members <b class="pull-right text-primary">{{ Metrics.list.pending_team_member_count }}</b>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>