<div class="container">
  <div class="row">
    <!-- Left -->
    <div class="col-md-8">
      <!-- Latest comments -->
      <div class="panel panel-default" ng-if="Comment.list.length">
        <div class="panel-heading">
          <a ui-sref="dash.comment-list" class="header-link">Comments</a>
          <span class="label label-default">{{ Metrics.list.comment_count }}</span>
        </div>
        <div class="list-group">
          <!-- Comment -->
          <a class="list-group-item a-fade"
             ng-click="comment.view()"
             ng-repeat="comment in Comment.list | limitTo: 10"
             ng-show="!comment.isDeleted">
            <div class="row">
              <div class="col-md-10 col-xs-8 col-lg-10 col-sm-10">
                <p class="list-group-item-text">
                  <span class="o-fade-soft small">{{ comment.get.user.name }}:</span> {{ comment.get.comment }}
                </p>
              </div>
              <div class="col-md-2 col-xs-4 col-lg-2 col-sm-2">
                <span class="o-fade-soft pull-right small">{{ comment.get.created | date }}</span>
              </div>
            </div>
            <!-- Content -->
          </a>
        </div>
      </div>
      <!-- Latest entries -->
      <div class="panel panel-default" ng-if="Entry.list.length">
        <!-- Title -->
        <div class="panel-heading">
          <a ui-sref="dash.entry-list" class="header-link">Entries</a>
          <span class="label label-default">{{ Metrics.list.entry_count }}</span>
        </div>
        <!-- Entry list -->
        <ul class="panel-body panel-list">
          <!-- Entry -->
          <li class="panel-list-item s-fade" ng-repeat="entry in Entry.list | limitTo: 10" ng-show="!entry.isDeleted">
            <!-- Title -->
            <a ui-sref="dash.entry-edit({ entryId: entry.get.id })" ng-click="entry.cache()">
              {{ entry.get.title }}
            </a>
            <!-- Views -->
            <span class="pull-right label label-default" ng-if="entry.get.view_count">
              {{ entry.get.view_count }} <i class="fa fa-eye o-fade"></i>
            </span>
            <!-- Comments -->
            <span class="pull-right label label-default" ng-if="entry.get.comment_count">
              {{ entry.get.comment_count }} <i class="fa fa-comments o-fade"></i>
            </span>
            <!-- Votes -->
            <span class="pull-right label label-default" ng-if="entry.get.vote_count">
              {{ entry.get.vote_count }} <i class="fa fa-heart o-fade"></i>
            </span>
          </li>
        </ul>
      </div>
    </div>
    <!-- Right -->
    <div class="col-md-4">
      <!-- Metrics:Entry -->
      <div class="panel panel-default" ng-if="Metrics.list">
        <!-- Title -->
        <div class="panel-heading">
          <i class="fa fa-list-alt text-primary"></i> Publication
        </div>
        <!-- Overview -->
        <ul class="panel-body list-group s-pad-no">
          <li class="list-group-item" ng-class="{'o-fade': !Metrics.list.entry_count}">
            Entries <b class="pull-right text-primary">{{ Metrics.list.entry_count }}</b>
          </li>
          <li class="list-group-item" ng-class="{'o-fade': !Metrics.list.published_entry_count}">
            Published entries <b class="pull-right text-primary">{{ Metrics.list.published_entry_count }}</b>
          </li>
          <li class="list-group-item" ng-class="{'o-fade': !Metrics.list.draft_entry_count}">
            Draft entries <b class="pull-right text-primary">{{ Metrics.list.draft_entry_count }}</b>
          </li>
        </ul>
      </div>
      <!-- Metrics:Comment -->
      <div class="panel panel-default" ng-if="Metrics.list">
        <!-- Title -->
        <div class="panel-heading">
          Comment overview <i class="fa fa-comment text-primary"></i>
        </div>
        <!-- Overview (Chart -->
        <ul class="panel-body panel-body-chart s-pad-no list-group">
          <div ng-if="Metrics.list.active_comment_count !== Metrics.list.comment_count">
            <!-- Chart text -->
            <h1 class="chart-text chart-text-doughnut">
              {{ Metrics.list.comment_count }}
              <small>Comments</small>
            </h1>
            <!-- Chart -->
            <div class="s-pad">
              <canvas class="chart chart-doughnut"
                      chart-labels="[' Active Comments', ' Pending Comments', ' Hidden Comments']"
                      chart-data="[
                Metrics.list.active_comment_count,
                Metrics.list.pending_comment_count,
                Metrics.list.hidden_comment_count
              ]">
              </canvas>
            </div>
          </div>
          <li class="list-group-item"
              ng-show="Metrics.list.comment_count && Metrics.list.active_comment_count == Metrics.list.comment_count">
            <i class="fa fa-border fa-check"></i> All comments are approved
            <b class="pull-right text-primary">{{ Metrics.list.comment_count }}</b>
          </li>
          <li class="list-group-item"
              ng-show="!Metrics.list.comment_count" ng-class="{'o-fade': !Metrics.list.comment_count}">
            Comments
            <b class="pull-right text-primary">{{ Metrics.list.comment_count }}</b>
          </li>
        </ul>
      </div>
      <!-- Site Overview -->
      <div class="panel panel-default" ng-if="Metrics.list">
        <!-- Title -->
        <div class="panel-heading">
          <a ui-sref="dash.site" class="header-link">Site overview</a>
          <i class="fa fa-globe text-primary"></i>
        </div>
        <!-- Overview -->
        <ul class="panel-body list-group s-pad-no">
          <!-- Followers -->
          <li class="list-group-item" ng-class="{'o-fade': !Metrics.list.subscriber_count}">
            <i class="fa fa-border fa-user-plus"></i> Followers
            <b class="pull-right text-primary">{{ Metrics.list.subscriber_count }}</b>
          </li>
          <!-- Template -->
          <li class="list-group-item">
            <i class="fa fa-border fa-paint-brush"></i> Theme and Layout
            <a class="pull-right btn btn-primary btn-sm" ui-sref="dash.site">
              {{ siteTemplate.name | uppercase }}
            </a>
          </li>
        </ul>
      </div>
      <!-- Metrics:Dolphin -->
      <div class="panel panel-default" ng-if="Metrics.list">
        <!-- Title -->
        <div class="panel-heading">
          <a ui-sref="dash.dolphin" class="header-link">Storage</a>
          <i class="fa fa-cubes text-primary"></i>
        </div>
        <!-- Overview -->
        <ul class="panel-body list-group s-pad-no">
          <li class="list-group-item" ng-class="{'o-fade': !Metrics.list.dolphin.file_count}">
            Files <b class="pull-right text-primary">{{ Metrics.list.dolphin.file_count }}</b>
          </li>
          <li class="list-group-item" ng-class="{'o-fade': !Metrics.list.dolphin.used_storage}">
            Used storage <b class="pull-right text-primary">{{ Metrics.list.dolphin.used_storage | bytes }}</b>
          </li>
          <li class="list-group-item" ng-class="{'o-fade': !Metrics.list.dolphin.available_storage}">
            Available storage
            <b class="pull-right text-primary">
              {{ Metrics.list.dolphin.available_storage | bytes }}
            </b>
          </li>
        </ul>
        <!-- Footer (progress) -->
        <div class="panel-footer s-pad-no of-hidden">
          <div class="progress s-mar-no br-r-no"
               ng-init="dolphinProgress = Metrics.list.dolphin.used_storage_percentage">
            <div class="progress-bar progress-bar-striped"
                 role="progressbar" aria-valuemax="100" aria-valuemin="0"
                 aria-valuenow="{{ dolphinProgress }}" style="width: {{ dolphinProgress }}%"
                 ng-class="{
                'progress-bar-success': dolphinProgress < 80,
                'progress-bar-warning': dolphinProgress >= 80 && dolphinProgress < 90,
                'progress-bar-danger':  dolphinProgress >= 90
              }">
            </div>
            <span class="sr-only">{{ dolphinProgress }}% Used storage</span>
          </div>
        </div>
      </div>
      <!-- Metrics:Team -->
      <div class="panel panel-default" ng-if="Metrics.list">
        <!-- Title -->
        <div class="panel-heading">
          <i class="fa fa-users text-primary"></i> Team
        </div>
        <!-- Overview -->
        <ul class="panel-body list-group s-pad-no">
          <li class="list-group-item">
            Team members <b class="pull-right text-primary">{{ Metrics.list.team_member_count }}</b>
          </li>
          <li class="list-group-item" ng-class="{'o-fade': !Metrics.list.pending_team_member_count}">
            Pending team members <b class="pull-right text-primary">{{ Metrics.list.pending_team_member_count }}</b>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>