<div class="nav-side-menu nav-side-static">
    <div class="brand">Dash</div>
    <i class="fa fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>
    <li class="dropdown" ng-if="auth.isAuthenticated()" data-target="#user" data-toggle="collapse">
      <a href="#"><i class="fa fa-user fa-lg"></i> {{user.username}} <span class="arrow"></span></a>
        <ul class="sub-menu collapse" id="user">
          <li><a ui-sref="dash.user">Your Profile</a></li>
            <li><a ng-click="auth.logout()">Logout</a></li>
          </ul>
        </li>
        <div class="menu-list">
          <ul id="menu-content" class="menu-content collapse out">
            <li ng-class="{'active': state.includes('dash.entry-new')}">
              <a ui-sref="dash.entry-new"><i class="fa fa-plus" aria-hidden="true"></i>Nevis</a>
            </li>

            <li ng-class="{'active': state.includes('dash.entry-list')}">
              <a ui-sref="dash.entry-list"><i class="fa fa-globe fa-lg"></i> Entries</a>
            </li>

            <li ng-class="{'active': state.includes('dash.site-new')}">
              <a ui-sref="dash.site-new"><i class="fa fa-sitemap fa-lg"></i> New site</a>
            </li>

            </ul>
            <br>
            <h4 class="o-fade">Settings</h4>
            <ul>
              <li ng-class="{'active': state.includes('dash.site-settings')}">
                <a ui-sref="dash.site-settings"><i class="fa fa-cog fa-lg"></i> General</a>
              </li>
              <li ng-class="{'active': state.includes('dash.tag-list')}">
                <a ui-sref="dash.tag-list"><i class="fa fa-tags fa-lg"></i> Tags</a>
              </li>
              <li  data-toggle="collapse" data-target="#userSites" class="collapsed">
                  <a><i class="fa fa-briefcase fa-lg"></i> Sites<span class="arrow"></span></a>
              </li>
              <ul class="sub-menu collapse" id="userSites">
                <li ng-repeat="site in user.sites" ng-class="{'active': param.s == $index}">
                  <a ui-sref="dash.main({s: $index})">{{ site.title }}</a>
                </li>
              </ul>
            </ul>
     </div>
</div>