<!-- Option -->
<div class="pull-left select-all">
  <input type="checkbox" ng-model="$ctrl.isAllSelected" ng-change="$ctrl.selectAll()">
  <span ng-if="$ctrl.countSelected > 0">{{ $ctrl.countSelected }} {{ 'SELECTED' | translate }}</span>
</div>

<!-- Actions -->
<div class="dropdown multi-selection pull-right">
  <button ng-disabled="$ctrl.countSelected === 0" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown">
    {{ 'ACTION' | translate }} <i class="fa fa-caret-down fa-fw"></i>
  </button>
  <ul class="dropdown-menu dropdown-menu-right">
    <li ng-repeat="action in $ctrl.actions">
      <a ng-click="$ctrl.onSelect(action.property, action.value)"
        uib-tooltip="{{ action.tooltip }}"
        tooltip-placement="left"
        tooltip-popup-delay="300"
        tooltip-class="init">
        <i class="fa fa-{{ action.icon }}"></i> {{ action.label }}
      </a>
    </li>
    <li class="divider"></li>
    <li>
      <a class="remove" ng-click="$ctrl.onSelect(null, null, true)">
        <i class="fa fa-trash"></i> {{ 'REMOVE_SELECTED' | translate }}
      </a>
    </li>
  </ul>
</div>
