<!-- Add button -->
<button type="button" class="btn btn-primary btn-corner" ng-click="create()">
  <i class="fa fa-plus"></i>
</button>

<!-- Content -->
<div class="container container-light pad-top">
  <div class="col-md-6 col-md-offset-3">
    <!-- Main -->
    <div class="panel panel-default s-box form-inline animated fadeIn">
      <div class="panel-heading">Navigations</div>
      <div class="panel-body">
        <!-- Nothing -->
        <ng-include src="'basement/nothing/nothing.html'" ng-if="!navigations.length && initialled"></ng-include>
        <!-- Form -->
        <form name="form" ng-submit="update(form)" sv-root sv-part="navigations">
          <div class="form-group sz-full s-mar-bottom-list" ng-repeat="nav in navigations" sv-element>
            <!-- Helper -->
            <div sv-helper class="helper-left" style="height: 34px">
              <i class="fa fa-arrows-v fa-border fa-2x"></i>
            </div>
            <!-- Handle -->
            <div class="col-xs-1" sv-handle>
              <i class="fa fa-reorder" style="margin-top: 8px"></i>
            </div>
            <!-- Label -->
            <div class="col-xs-4 s-pad-left-no">
              <input type="text" placeholder="Label" ng-model="nav.label" class="form-control sz-full" required />
            </div>
            <!-- URL -->
            <div class="col-xs-5 s-pad-no">
              <input type="text" placeholder="/URL" ng-model="nav.url" class="form-control sz-full" required />
            </div>
            <!-- Delete -->
            <div class="col-xs-2">
              <button class="btn btn-default btn-block" ng-click="remove($index)" type="button">
                <i class="fa fa-trash"></i>
              </button>
            </div>
          </div>
          <!-- Update -->
          <div class="form-group s-pad-right-soft s-mar-top-soft pull-right">
            <button class="btn btn-primary">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>