<div class="container container-light">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default s-box s-mar-top">
      <div class="panel-heading">
        <h3>
          <!-- Title -->
          {{ siteSettings.title }}
          <!-- Image -->
          <button class="btn btn-default btn-sm pull-right" ng-click="dolphinService.viewSelection()"
                  title="Set or Change cover image of site.">
            <i class="fa fa-image"></i> Cover Image
          </button>
        </h3>
      </div>
      <div class="panel-body s-pad">
        <!-- Title -->
        <div class="panel panel-default panel-body">
          <span editable-text="siteSettings.title" onbeforesave="updateSite('title', $data)">
            {{ siteSettings.title || "Nothing here..." }}
          </span>
          <small class="o-fade pull-right">TITLE</small>
        </div>
        <!-- Description -->
        <div class="panel panel-default panel-body">
          <span editable-textarea="siteSettings.description" onbeforesave="updateSite('description', $data)">
            {{ siteSettings.description || "Nothing here..." }}
          </span>
          <small class="o-fade pull-right">DESCRIPTION</small>
        </div>
        </div>
      </div>
      <div class="panel-footer">
        <!-- Delete -->
        <button class="btn btn-danger btn-sm" ng-click="remove(siteSettings.id)">
          <i class="fa fa-trash"></i> Delete Site
        </button>
      </div>
    </div>
  </div>
</div>
