<!-- Add button -->
<button type="button" class="btn btn-primary btn-corner" ng-click="create()">
  <i class="fa fa-plus"></i>
</button>

<!-- Content -->
<div class="container container-light pad-top">
  <div class="col-md-12">
    <!-- Main -->
    <div class="panel panel-default s-box form-inline animated fadeIn" ng-if="initialled">
      <div class="panel-heading">Navigations</div>
      <div class="panel-body">
        <!-- Nothing -->
        <!-- TODO: Translate -->
        <!-- <ng-include src="'basement/nothing/nothing.html'" ng-if="!navigations.length && initialled"
          ng-init="nothingText = 'It\'s lonely here... Try adding some navigations.'">
        </ng-include> -->
        <nothing ng-if="!navigations.length && initialled"></nothing>
        <!-- Form -->
        <form name="form" ng-submit="update(form)" sv-root sv-part="navigations">
          <div class="form-group sz-full s-mar-bottom-list" ng-repeat="nav in navigations" sv-element style="visibility: visible !important; opacity: 1 !important">
            <!-- Helper -->
            <div sv-helper class="helper-left" style="height: 34px">
            </div>
            <!-- Handle -->
            <div class="col-xs-1 s-pad-no" sv-handle>
              <button class="btn btn-default btn-block br-r-right-no br-right-no c-move" type="button">
                <i class="fa fa-reorder"></i>
              </button>
            </div>
            <!-- Label -->
            <div class="col-xs-2 s-pad-no">
              <input type="text" placeholder="Label" ng-model="nav.label" class="form-control br-r-no br-right-no sz-full">
            </div>
            <!-- URL -->
            <div class="col-xs-4 s-pad-no">
              <input type="text" placeholder="/URL" ng-model="nav.url" class="form-control br-r-no br-right-no sz-full" required />
            </div>
            <!-- Tooltip -->
            <div class="col-xs-2 s-pad-no">
              <input type="text" placeholder="Tooltip" ng-model="nav.tooltip" class="form-control br-r-no br-right-no sz-full">
            </div>
            <!-- Icon -->
            <div class="col-xs-1 s-pad-no">
              <input type="text" placeholder="Icon class" ng-model="nav.icon" class="form-control br-r-no br-right-no sz-full">
            </div>
            <!-- Color -->
            <div class="col-xs-1 s-pad-no">
              <input type="text" placeholder="Color" ng-model="nav.color" class="form-control br-r-no br-right-no color sz-full">
            </div>
            <!-- Delete -->
            <div class="col-xs-1 s-pad-no">
              <button class="btn btn-default btn-block br-r-left-no" ng-click="remove($index)" type="button">
                <i class="fa fa-close"></i>
              </button>
            </div>
          </div>
          <!-- Update -->
          <div class="form-group s-mar-top-soft pull-right">
            <button class="btn btn-primary">
              <i class="fa fa-check fa-fw"></i> Save Changes
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
