<div class="container container-light">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default s-box avatar-outside-wrapper">
      <div class="panel-body s-pad">
        <div class="row">
          <div class="col-md-4">
            <div class="avatar avatar-outside">
              <span ng-if="!user.media.picture">{{ user.name[0] }}</span>
              <img ng-if="user.media.picture" ng-src="{{ user.media.thumbnail_128x128 }}" />
            </div>
          </div>
          <div class="col-md-8">
            <h3 class="text-right o-fade-soft" editable-text="user.name" onbeforesave="updateProfile('name', $data)">{{ user.name || "You have no name :-[" }}</h3>
          </div>
        </div>
        <div class="s-mar-top">
          <div class="panel panel-default panel-body">
            <span editable-textarea="user.about" onbeforesave="updateProfile('about', $data)">{{ user.about || "Nothing here..." }}</span>
            <small class="o-fade pull-right">ABOUT</small>
          </div>
          <div class="panel panel-default panel-body">
            <span editable-text="user.location" onbeforesave="updateProfile('location', $data)">{{ user.location || "Nothing here..." }}</span>
            <small class="o-fade pull-right">LOCATION</small>
          </div>
          <!-- Receive email notification -->
          <div class="checkbox checkbox-primary panel panel-default panel-body">
            <input id="notification"
                   type="checkbox"
                   ng-model="notification"
                   ng-change="updateProfile('receive_email_notification', notification)">
              <label for="notification">Receive email notification</label>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <a ui-sref="dash.change-password" class="btn btn-danger btn-sm">
          <i class="fa fa-lock fa-fw"></i> Change Password
        </a>
        <button class="btn btn-default btn-sm pull-right" ngf-select="uploadFile($file)" title="Set or Change cover image of site.">
          <i class="fa fa-image"></i> Avatar
        </button>
        <div ng-show="errors">
          <small class="help-block">{{ errors.picture[0] }}</small>
        </div>
      </div>
    </div>
  </div>
</div>