<div class="container container-light">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default s-box" style="margin-top: 64px">
      <div class="panel-body s-pad">
        <div class="row">
          <div class="col-md-4">
            <div class="avatar avatar-outside">
              <span ng-if="!user.media">{{ user.name[0] }}</span>
              <img ng-if="user.media && viewloaded" ng-src="{{ user.media.picture.thumbnail }}" />
            </div>
          </div>
          <div class="col-md-8">
            <h3 class="text-right o-fade-soft" editable-text="user.name" onbeforesave="updateProfile('name', $data)">{{ user.name || "You have no name :-[" }}</h3>
          </div>
        </div>
        <div class="s-mar-top">
          <div class="panel panel-default panel-body">
            <span editable-textarea="user.about" onbeforesave="updateProfile('about', $data)">{{ user.about || "Nothing here..." }}</span>
            <small class="o-fade pull-right">ABOUT</small>
          </div>
          <div class="panel panel-default panel-body s-mar-no">
            <span editable-text="user.location" onbeforesave="updateProfile('location', $data)">{{ user.location || "Nothing here..." }}</span>
            <small class="o-fade pull-right">LOCATION</small>
          </div>
        </div>
      </div>
      <div class="panel-footer">
        <a ui-sref="dash.change-password" class="btn btn-danger btn-sm">
          <i class="fa fa-lock fa-fw"></i> Change Password
        </a>
        <button class="btn btn-default btn-sm pull-right" ng-click="dolphinService.viewSelection()" title="Set or Change cover image of site.">
          <i class="fa fa-image"></i> Avatar
        </button>
      </div>
    </div>
  </div>
</div>