<div class="container">
  <div class="col-md-4 col-md-offset-4">
    <div class="panel panel-default s-box">
      <!-- Header -->
      <div class="panel-heading">
        <h4>Reset Password <i class="fa fa-lock text-primary pull-right"></i></h4>
      </div>
      <!-- Form -->
      <form class="panel-body" ng-submit="resetPassword(form)" name="form">
        <!-- Password -->
        <div class="form-group" ng-class="{'has-error': form.errors.password}">
          <input class="form-control input-lg" type="password" name="password"
            placeholder="New password" ng-model="form.password" required minlength="5"/>
          <span class="help-block text-danger animated fadeInDown" ng-if="form.errors.password[0]">
            {{ form.errors.password[0] }}
          </span>
        </div>
        <!-- Confirm password -->
        <div class="form-group">
          <input class="form-control input-lg" type="password" name="passsword2"
            placeholder="Confirm new password" ng-model="form.password2" required/>
          <span id="password2" class="help-block text-danger" ng-show="form.password !== form.password2 && form.$valid">
            Passwords don't match!
          </span>
        </div>
        <!-- Errors -->
        <div class="form-group alert alert-danger" ng-show="form.errors.non_field_errors">
          {{ form.errors.non_field_errors[0] }}
        </div>
        <hr>
        <!-- Submit -->
        <button class="btn btn-warning btn-block btn-lg"
          ng-disabled="form.loading || form.$invalid || form.password !== form.password2">
          Change Password
        </button>
      </form>
    </div>
  </div>
</div>
