/* Global */

*,
*:focus,
*:hover,
*:active {
    outline: 0 !important;
}

.btn-link {
    text-decoration: none !important;
}

html,
body {
    background-color: #fcfcfc;
    font-family: "Lato", Helvetica, sans-serif;
}

textarea {
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a,
button {
    cursor: pointer;
    outline: 0 !important;
}

hr[soft] {
    margin: 10px 0;
}

.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

.open .dropdown-toggle {
    opacity: 1;
}

.form-control,
.input-group-btn,
.btn,
.panel,
.label,
.modal-content,
.thumbnail {
    border-radius: 2px;
}


/* Image container */

.container-image {
    height: 300px;
    margin-top: -20px;
    background-size: cover;
    background-position: center;
    margin-bottom: -100px;
    color: transparent;
    text-align: center;
    padding-top: 70px;
    transition: all 0.1s ease-in-out;
}

.container-image:hover {
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


/* Navbar */

.navbar {
    z-index: 10;
}

.navbar,
.navbar li {
    transition: background 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.navbar-brand {
    margin-right: 30px;
}

.navbar-brand:hover {
    color: #d17100 !important;
}

@media(min-width:768px) {
    .navbar {
        min-height: 60px;
    }
    .navbar-nav a,
    .navbar-brand {
        padding-top: 20px !important;
        padding-bottom: 20px !important;
    }
    .navbar a .fa.nav-icon {
        font-size: 24px;
        margin-top: -6px;
        position: relative;
        top: 4px;
    }
}


/* Forms */

.help-block {
    margin-left: 10px;
}

.form-control:focus {
    box-shadow: none;
}

.form-control.primary:focus {
    border-color: #d17100;
}

.input-xlg {
    padding: 25px;
    font-size: 1.1em;
}


/* Space */

.s-pad {
    padding: 30px;
}

.s-pad-soft {
    padding: 5px;
}

.s-pad-no {
    padding: 0;
}

.s-pad-no-force {
    padding: 0 !important;
}

.s-pad-y-no {
    padding-top: 0;
    padding-bottom: 0;
}

.s-mar-soft {
    margin: 15px;
}

.s-mar-x-soft {
    margin-right: 15px;
    margin-left: 15px;
}

.s-mar-no {
    margin: 0;
}

.s-mar-top-no {
    margin-top: 0;
}

.s-mar-left {
    margin-left: 15px;
}

.s-mar-top {
    margin-top: 30px;
}

.s-mar-y {
    margin-top: 30px;
    margin-bottom: 30px;
}

.s-mar-top-hard {
    margin-top: 80px;
}

.s-mar-top-soft {
    margin-top: 15px;
}

.s-mar-bottom {
    margin-bottom: 30px;
}

.s-mar-bottom-soft {
    margin-bottom: 15px;
}

.s-child-mar-bottom-soft>* {
    margin-bottom: 15px;
}

.s-mar-bottom-list {
    margin-bottom: 5px !important;
}

.s-mar-right {
    margin-right: 30px;
}

.s-mar-right-soft {
    margin-right: 10px;
}

.s-mar-left {
    margin-left: 30px;
}

.s-mar-left-soft {
    margin-left: 10px;
}

.s-pad-x {
    padding-right: 30px;
    padding-left: 30px;
}

.s-pad-x-no {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.s-pad-y {
    padding-top: 30px;
    padding-bottom: 30px;
}

.s-pad-y-hard {
    padding-top: 50px;
    padding-bottom: 50px;
}

.s-pad-y-soft {
    padding-top: 15px;
    padding-bottom: 15px;
}

.s-pad-left-no {
    padding-left: 0;
}

.s-pad-left-soft {
    padding-left: 15px;
}

.s-pad-right-soft {
    padding-right: 15px;
}


/* Sizes */

.sz-full {
    width: 100% !important;
}


/* Opacity */

.o-fade {
    opacity: 0.6;
}

.o-fade-hard {
    opacity: 0.3;
}

.o-fade-soft {
    opacity: 0.7;
}

.o-fade-max {
    opacity: 0;
}

.o-fade-hover-full:hover {
    opacity: 1;
}


/* Shadow */

.s-box {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}


/* Border */

.b-no {
    border: none;
}

.b-left {
    border-left: 4px solid rgba(0, 0, 0, 0.2);
}

.b-left-no {
    border-left: none;
}

.b-color-0 {
    border-color: orange;
}

.b-color-2,
.b-color-success {
    border-color: limegreen;
}


/* Displays */

.dis-b {
    display: block;
}

.dis-ib {
    display: inline-block;
}


/* Cursors */

.dropdown-toggle,
.c-p {
    cursor: pointer;
}

.sv-sorting-in-progress,
.c-move {
    cursor: move;
}


/* Hovers */

.h-opacity:HOVER {
    opacity: 1;
}


/* Overflows */

.of-hidden {
    overflow: hidden;
}


/* Transitions */

.trans,
.dolphin,
.ta-toolbar,
.modal.sidebar.pre {
    transition: all 0.3s ease-in-out;
}

.trans-opacity {
    transition: opacity .3s ease-in-out;
}


/* Animate */

.a-fade {
    transition: 0.5s linear all;
    opacity: 1;
}

.a-fade.ng-hide-add-active {
    opacity: 0;
}

.a-fade.ng-hide-remove {
    opacity: 0;
}

.animated.ng-leave {
    display: none !important;
}


/* Colors */

.c-white {
    color: #fff;
}

.c-grey {
    color: #777;
}


/* Avatar */

.avatar {
    position: relative;
    width: 132px;
    height: 132px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    background: #d17100;
    color: #fff;
    cursor: default;
}

.avatar span {
    line-height: 128px;
    text-align: center;
    font-size: 80px;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.avatar img {
    max-width: 100%;
}

.avatar-outside {
    margin-top: -94px;
    text-align: center;
}

.avatar-outside-wrapper {
    margin-top: 64px;
}

.avatar div {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    visibility: hidden;
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity .2s, visibility .2s;
    border-radius: 50%;
}

.avatar:hover div {
    visibility: visible;
    opacity: 1;
}

.avatar div a {
    transition: .2s;
    transform: translateY(1em);
}

.avatar:hover div a {
    transform: translateY(0);
}


/* List */

.list-panel {
    padding: 6px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.list-panel:last-child {
    border-bottom: none;
}


/* MD Toast */

md-toast {
    position: fixed;
    left: 10px;
    bottom: 10px;
}

.md-toast-animating {
    overflow: initial !important;
}


/* Link in Link */

.nav-link-in-link {
    position: absolute;
    background: rgba(209, 113, 0, 0.8) !important;
    right: 0;
    margin-top: -36px;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
}

.nav-link-in-link:hover {
    background: rgba(209, 113, 0, 1) !important;
}


/* Panels */

.panel-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.panel-list .panel-list-item {
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.panel-list .panel-list-item:last-child {
    border-bottom: none;
}

.panel-list .panel-list-item-button {
    position: absolute;
    right: 16px;
    background: #fff;
    width: 24px;
    box-shadow: -5px 0 10px #fff;
}

.panel-list .panel-list-item-button>.fa {
    opacity: 0.6;
    font-size: 1.3em;
    cursor: pointer;
}

.panel-list-item .label {
    padding: 4px;
    background: none;
    color: #333;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-left: 4px;
}

.panel-heading {
    padding: 18px 12px !important;
}

.heading-image {
    margin: -10px 0;
    margin-right: 5px;
    width: 42px;
    height: 42px;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.panel-heading .label:not(.init) {
    float: right;
    padding: 10px;
    margin-top: -7px;
    font-size: 1em;
    color: #d17100;
    background: rgba(0, 0, 0, 0.1);
    min-width: 34px;
}

.panel-heading>.fa:not(.init) {
    float: right;
    color: #d17100;
    background: rgba(0, 0, 0, 0.1);
    width: 34px;
    height: 34px;
    margin: -8px 0;
    border-radius: 100%;
    padding: 10px 0;
    text-align: center;
}

.panel-heading .header-link {
    color: #333;
}

.panel-heading .header-link:hover,
.panel-heading .header-link:focus {
    color: #d17100;
}


/* Panel Chart */

.panel-body-chart {
    position: relative;
}

.panel-body-chart .chart-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #d17100;
    font-weight: bold;
}

.panel-body-chart .chart-text small {
    text-transform: uppercase;
    font-size: 0.3em;
    display: block;
    margin-top: 5px;
}


/* Dolphin */

.dolphin {
    display: block;
    height: 256px;
    margin-bottom: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.dolphin.not-image {
    background: linear-gradient(to bottom, #020111 10%, #3a3a52 100%) !important;
}

.dolphin .caption {
    color: rgba(255, 255, 255, 0.9);
    background: rgba(0, 0, 0, 0.3);
    padding: 5px 5px;
    font-size: 13px;
    margin-top: 228px;
    text-overflow: ellipsis;
    text-align: center;
    width: 100%;
    overflow: hidden;
    font-weight: bold;
    white-space: nowrap;
    transition: background 0.2s ease-in-out;
}

.dolphin:hover .caption {
    background: rgba(0, 0, 0, 0.6);
}

.dolphin .progress {
    padding: 0;
    margin-top: 236px;
    border-radius: 0;
}

.dolphin.not-image .caption {
    margin-top: 0;
}

.dolphin.not-image .caption.progress {
    margin-top: 8px;
}

.dolphin+.options {
    position: absolute;
    z-index: 10;
    margin: 5px;
    right: 15px;
    top: 0;
}

.dolphin .fa {
    opacity: 0.6;
    padding: 72px 0;
    font-size: 6em;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.fa-file-archive-o {
    color: orange;
}

.fa-file-pdf-o {
    color: red;
}


/* Editing Mode + Text Angular */

.editor {
    position: absolute;
    width: 100%;
    left: 0;
    top: -60px;
    background: #fff;
    z-index: 9;
    box-shadow: 0 0 0 10000px #fff;
}

.editor.editingContent {
    z-index: 10;
}

.editor [contenteditable] {
    outline: none !important;
}

.editor .ta-toolbar {
    position: fixed;
    top: 0;
    background: #fff;
    padding: 10px 0;
    padding-top: 20px;
    width: 100%;
    margin-top: -160px;
    opacity: 0;
    z-index: 1;
}

.editingContent .ta-toolbar {
    margin-top: 0;
    opacity: 1;
}

.editor .ta-toolbar .btn-group {
    margin: 0 5px;
}

.editor .form-control {
    box-shadow: none !important;
    border: none;
    min-height: 400px;
    font-size: 1.2em;
}

.editor #title {
    min-height: initial;
    font-size: 2em;
}

.form-control .ng-empty {
    color: rgba(0, 0, 0, 0.4);
}

.editor .btn,
.editor .btn.active {
    border-color: none !important;
    background: none !important;
    border: none !important;
    border-bottom: 2px solid transparent !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    color: #777;
    opacity: 1;
    font-weight: bold;
}

.editor .btn:hover,
.editor .btn.active {
    color: #d17100;
}

.editor .btn.active {
    border-bottom-color: #d17100 !important;
}

.editor {
    font-size: 16px;
}

.editor p {
    line-height: 24px;
    margin-bottom: 16px;
}

.editor h1,
.editor h2,
.editor h3 {
    margin-top: 40px;
    margin-bottom: 20px;
}

.editor img {
    max-width: 100%;
    background: #eee;
}

.editor img[src="assets/img/avatar.png"] {
    display: none;
}

.editor li+li {
    margin-top: 0.25em;
}

.editor-draft-mode {
    position: fixed;
    bottom: 20px;
    border: 2px solid #d17100;
    left: 20px;
    z-index: 11;
    padding: 5px 12px;
    font-size: smaller;
    border-radius: 100px;
    color: #444;
    opacity: 0.8;
    cursor: default;
    font-weight: bold;
}

.editor-draft-mode:hover {
    opacity: 1;
}

.lights.off .editor {
    box-shadow: 0 0 0 10000px #333;
}

.lights.off .editor,
.lights.off .editor .form-control,
.lights.off .ta-toolbar {
    background: #333;
    color: #fff;
}

.lights.off .editor-draft-mode,
.lights.off .ta-toolbar .btn {
    color: #ddd;
    border-color: #222;
}

.lights.off code {
    color: #faa;
    background: #222;
}

.lights.off pre {
    background: #222;
    color: #ddd;
    border-color: #333;
}

.editor-draft-mode:hover {
    opacity: 1;
}

.editor,
.form-control,
.editor-draft-mode,
.navbar .active a,
code,
pre {
    transition-duration: 0.3s;
    transition-property: background, box-shadow, color;
    transition-timing-function: ease-in-out;
}


/* Navigation */

.navigation {
    margin-bottom: 6px;
}

.navigation-url {
    width: 400px !important;
    margin-left: 7px;
}

.navigation-label {
    width: 235px !important;
}

.navigation-trash {
    margin-left: 8px;
    font-size: 19px;
}

.navigation-button {
    border: 0px solid black;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    height: 35px;
    width: 35px;
}


/* White Spaces */

.ws-pre {
    white-space: pre-wrap;
}


/* Borders */

.br-x-no {
    border-right: 0;
    border-left: 0;
}

.br-right-no {
    border-right: 0;
}

.br-left-no {
    border-left: 0;
}

.br-right-no {
    border-right: 0;
}

.br-left-no {
    border-left: 0;
}

.br-r-no {
    border-radius: 0 !important;
}

.br-r-right-no {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.br-r-left-no {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}


/* Autocomplete */

tags-input .tags {
    border-radius: 4px;
    border-color: #ccc !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: all 0.3s ease-in-out;
}

tags-input .tags.focused {
    border-color: #66afe9 !important;
    outline: 0 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}

tags-input .autocomplete .suggestion-item.selected span:last-child {
    color: lavender;
}

.autocomplete-template .left-panel {
    float: left;
}

.autocomplete-template .left-panel img {
    width: 48px;
    height: 48px;
    vertical-align: middle;
}

.autocomplete-template .right-panel {
    margin-left: 5px;
    margin-top: 7px;
    padding-top: 10px;
}

.autocomplete-template .right-panel span:first-child {
    font-size: 16px;
    margin-left: 5px;
}

.autocomplete-template .right-panel span:nth-child(2) {
    font-size: 14px;
    color: gray;
}

.autocomplete-template .right-panel span:last-child {
    display: block;
    font-size: 14px;
    font-style: italic;
    color: gray;
}


/* Button Corner @btn */

.btn-corner {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    font-size: 1.5em;
    padding: 0;
    line-height: 60px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
    z-index: 11;
}

.btn-corner.btn-corner-navbar {
    color: rgba(0, 0, 0, 0.5);
    box-shadow: none;
    bottom: initial;
    top: 30px;
    right: 30px;
}

.btn-corner:focus,
.btn-corner:active {
    outline: 0 !important;
}

.lights.off .btn-corner {
    background: #222;
    color: #ddd !important;
    border-color: #080808;
}

.lights.off .btn-corner:hover {
    color: #fff !important;
    background: #333;
    border-color: #222;
}

@media(max-width:1160px) {
    .btn-corner.btn-corner-navbar {
        top: 60px;
        right: 10px;
    }
}


/* Button icon */

.btn .fa.left {
    padding: 4px 0;
    position: absolute;
    left: 10px;
}


/* Modal @override */

.modal-header:not(.modal-header-clickable) {
    background: rgba(0, 0, 0, 0.05);
    padding: 30px 20px;
}

.modal-header-clickable {
    background: rgba(0, 0, 0, 0.05);
    color: rgba(0, 0, 0, 0.3);
    padding: 20px 15px;
    height: 61px;
}

.lights.off .modal-header-clickable {
    background: #1f1f1f;
    border-bottom: 1px solid #070707;
    color: #ddd;
}

.modal-header-clickable:hover {
    background: rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.lights.off .modal-header-clickable:hover {
    background: #111;
    color: #fff;
}

img.modal-image {
    margin: -20px 0;
    border-radius: 100%;
    margin-right: 8px;
    width: 48px;
}

.modal.sidebar .modal-dialog {
    position: fixed;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
    width: 320px;
    height: 100%;
}

.modal.sidebar.sidebar-small .modal-dialog {
    width: 280px;
}

.modal.sidebar .modal-content {
    border-radius: 0;
    height: 100%;
    border: 0;
    overflow-y: scroll;
}

.modal.sidebar .modal-content::-webkit-scrollbar {
    width: 0 !important;
}

.modal.right:not(.in) .modal-dialog {
    -webkit-transform: translate3d(25%, 0, 0);
    transform: translate3d(25%, 0, 0);
}

.modal.sidebar.pre {
    display: block;
    position: fixed;
    right: -320px !important;
    z-index: 0;
    opacity: 0;
}

.modal.sidebar.pre.preIn {
    right: 0 !important;
    z-index: 1000;
    opacity: 1;
}

.modal.sidebar.pre .modal-dialog {
    position: absolute;
    box-shadow: 0 0 0 100000px rgba(0, 0, 0, 0.1);
    right: 0;
}

.modal .cover {
    transition: all 0.3s ease-in-out;
    height: 150px;
    margin: -15px;
    margin-bottom: -60px;
    background-size: 100%;
    background-position: center;
    box-shadow: inset 0 0 10000px rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #bbb;
}

.modal .cover.open {
    height: 256px;
}


/* Button Circle @btn */

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 100%;
    outline: 0 !important;
}

.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
}


/* Button Group Stack @btn-group */

.btn-group.stack {
    width: 100%;
    padding: 0;
}

.btn-group.stack .btn:first-child {
    width: 80%;
}

.btn-group.stack .btn:last-child {
    width: 20%;
}

.btn-group.stack.stack-equal .btn {
    width: 50%;
}

.btn-group.stack.stack-active .btn {
    width: 20%;
}

.btn-group.stack.stack-active .btn.active {
    width: 80%;
}


/* Dropdown @override */

.dropdown-menu {
    min-width: 200px;
}

.dropdown-menu a,
.dropdown-menu [ng-click] {
    padding: 8px 15px !important;
}

.dropdown-menu [ng-click]:hover {
    background-color: #f5f5f5;
}

.dropdown-menu .fa:not([init]) {
    width: 26px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: absolute;
    right: 10px;
    height: 20px;
    padding: 2px;
}

.dropdown-menu>[ng-click]>.fa {
    top: 10px;
}


/* Tag */

.tag-search {
    width: 450px;
    margin-bottom: 20px;
    margin-left: 318px;
}


/* Comment */

.comment-search {
    width: 350px;
    margin-left: 318px;
    margin-bottom: 10px;
}

img.comment {
    width: 32px;
    height: 32px;
    margin-left: -9px;
    margin-right: 9px;
    margin-top: 2px;
}


/* Editable */

.editable-hide {
    display: initial !important;
}

.editable-wrap {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    padding: 5% 20%;
}

.editable-input {
    width: 100% !important;
}

.editable-controls {
    width: 100% !important;
}

.editable-buttons {
    display: block;
    width: 100% !important;
    margin-top: 10px;
}

.editable-buttons .btn {
    padding: 10px 30px;
    margin: 0;
    margin-right: 10px;
}

.editable-input {
    font-size: large;
    padding: 30px;
}


/* Load more */

.load-more {
    margin: 15px 0;
    text-align: center;
}

.load-more .btn {
    transition: all 0.2s ease-in-out;
    margin-bottom: 15px;
    padding: 0;
    width: 130px;
    height: 130px;
    border-radius: 100%;
    font-size: 1.1em;
    color: #d17100 !important;
    border-color: rgba(0, 0, 0, 0.2) !important;
    background: transparent !important;
    opacity: 1 !important;
}

.load-more .btn:hover,
.load-more .btn:active,
.load-more .btn:focus {
    border-color: #d17100 !important;
}


/* Primary color */

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.btn-primary {
    background: #d17100;
}

.btn-primary,
.text-primary,
.editable-click,
a.editable-click,
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
    border-color: #b96400 !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background: #b96400;
}

.btn-primary:active {
    background: #ab5c00 !important;
    border-color: #ab5c00 !important;
}

a,
a:hover,
a:focus,
.text-primary,
.editable-click,
a.editable-click {
    color: #d17100;
    text-decoration: none;
}

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
    background: #b96400;
}

.text-primary {
    color: #b05f00;
}

a.text-primary:hover,
a.text-primary:focus {
    color: #7d4400;
}

.bg-primary {
    background-color: #b05f00;
}

a.bg-primary:hover,
a.bg-primary:focus {
    background-color: #7d4400;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
    background-color: #b05f00;
}

.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
    background-color: #b05f00;
    border-color: #b05f00;
}

.label-primary {
    background-color: #b05f00;
}

.label-primary[href]:hover,
.label-primary[href]:focus {
    background-color: #7d4400;
}

.list-group-item.active>.badge,
.nav-pills>.active>a>.badge {
    color: #b05f00;
}

a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
    border-color: #b05f00;
}

.progress-bar-primary {
    background-color: #b05f00;
}

.panel-primary {
    border-color: #b05f00;
}

.panel-primary>.panel-heading {
    background-color: #b05f00;
    border-color: #b05f00;
}

.panel-primary>.panel-heading+.panel-collapse>.panel-body {
    border-top-color: #b05f00;
}

.panel-primary>.panel-heading .badge {
    color: #b05f00;
}

.panel-primary>.panel-footer+.panel-collapse>.panel-body {
    border-bottom-color: #b05f00;
}


/* Progress Input */

.progress-input {
    height: 30px;
    margin-top: -8px;
    width: calc(100% - 1px);
    margin-bottom: 0;
}

.progress-input .progress-bar {
    padding-top: 8px;
    transition: all 0.3s ease-in-out !important;
}


/* List group item */

.list-group-item .pull-right.btn-sm {
    margin-top: -5px;
}

.list-group-item {
    border-color: whitesmoke;
}


/* Over flow */

.of {
    overflow: hidden;
}


/* Text */

.t-small {
    font-size: 12px;
}

.t-bold {
    font-weight: bold;
}

.t-cap {
    text-transform: capitalize;
}

.t-line {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.t-letter-spacing {
    letter-spacing: 1px;
}

.t-shadow {
    text-shadow: 0 0 2px #000;
}

.t-shadow-small {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}


/* Key Value */

.kv {
    text-align: right;
    width: calc(100% - 25px);
    margin-left: 25px;
}

.kv .fa {
    position: absolute;
    color: #777;
    left: 15px;
}


/* Outline */

.outline {
    border: 1px solid;
    padding: 2px 6px;
    border-radius: 2px;
    font-weight: bold;
}


/* Tag */

.tag-item {
    background: #eee !important;
    border: none !important;
    color: #666 !important;
}

.tag-item.selected {
    background: #faa !important;
}

img.tag {
    width: 32px;
    float: left;
    margin-right: 10px;
}


/* Tooltip @tooltip */

.tooltip:not(.init) .tooltip-inner {
    background: #d17100;
}

.tooltip.top:not(.init) .tooltip-arrow {
    border-top-color: #d17100;
}

.tooltip.bottom:not(.init) .tooltip-arrow {
    border-bottom-color: #d17100;
}


/* Stack element */

.stack-element {
    margin: 0 -15px;
    width: calc(100% + 30px);
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}


/* Options button */

.options.options-mid {
    margin: 9px;
    position: relative;
    right: -20px;
}


/* Loading bar */

#loading-bar .bar {
    background: #ff8a00;
}

#loading-bar .peg {
    -moz-box-shadow: #ff8a00 1px 0 6px 1px;
    -ms-box-shadow: #ff8a00 1px 0 6px 1px;
    -webkit-box-shadow: #ff8a00 1px 0 6px 1px;
    box-shadow: #ff8a00 1px 0 6px 1px;
}

#loading-bar-spinner .spinner-icon {
    border-top-color: #ff8a00;
    border-left-color: #ff8a00;
}


/* Button icon */

.btn-icon {
    position: absolute;
    left: 30px;
    margin: 2px;
}


/* SV Reorder */

.sv-visibility-hidden * {
    transition: all 0.3s ease-in-out;
    opacity: 0.6;
}


/* Toaster */

#toast-container>div {
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2) !important;
    transition: opacity 0.2s ease-in-out !important;
}


/* Backgrounds */

.bg-no {
    background: none;
}


/* Thumbnail selection */

.thumbnail-selection {
    padding: 2px;
    cursor: pointer;
}

.thumbnail-selection:hover,
.thumbnail-selection.active {
    border-color: #d17100;
}

.thumbnail-selection span {
    color: #fff;
    position: absolute;
    top: calc(50% - 40px);
    left: 50%;
    transform: translate(-50%, -50%) scale(2);
    text-align: center;
    opacity: 0;
    pointer-events: none;
    z-index: 1;
}

.thumbnail-selection.active span {
    color: #d17100;
}

.thumbnail-selection:hover span,
.thumbnail-selection.active span {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}

.thumbnail-selection div {
    font-weight: bold;
    padding: 10px;
}

.thumbnail-selection img,
.thumbnail-selection span {
    transition: all 0.15s ease-in-out;
}

.thumbnail-selection:hover:not(.active) span i {
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


/* Popover input */

.popover-input {
    position: relative;
    display: block;
    float: left;
    width: auto;
    max-width: 100%;
    margin: 0;
    margin-top: -15px !important;
    border-radius: 2px;
    box-shadow: none;
}

.popover-input.bottom>.arrow {
    left: 50px;
}


/* Page header button */

.page-header .btn.pull-right {
    margin: -10px;
    margin-right: 0;
}


/* Cache image */

img.cache {
    width: 1px;
    height: 1px;
    top: -100000px;
    left: -100000px;
    position: fixed;
}
