/* Global */

html,
body {
    background-color: #fcfcfc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

a,
button {
    cursor: pointer;
    outline: 0 !important;
}

hr[soft] {
    margin: 10px 0;
}

.nav,
.pagination,
.carousel,
.panel-title a {
    cursor: pointer;
}

.open .dropdown-toggle {
    opacity: 1;
}


/* Image container */

.container-image {
    height: 300px;
    margin-bottom: -180px;
    margin-top: -20px;
    background-size: 100%;
    background-position: center;
}


/* Navbar */

.navbar-brand {
    margin-right: 30px;
}


/* Forms */

.help-block {
    margin-left: 10px;
}


/* Space */

.s-pad {
    padding: 30px;
}

.s-pad-soft {
    padding: 5px;
}

.s-pad-no {
    padding: 0;
}

.s-pad-no-force {
    padding: 0 !important;
}

.s-pad-y-no {
    padding-top: 0;
    padding-bottom: 0;
}

.s-mar-soft {
    margin: 15px;
}

.s-mar-no {
    margin: 0;
}

.s-mar-top-no {
    margin-top: 0;
}

.s-mar-left {
    margin-left: 15px;
}

.s-mar-top {
    margin-top: 30px;
}

.s-mar-top-soft {
    margin-top: 15px;
}

.s-mar-bottom {
    margin-bottom: 30px;
}

.s-mar-bottom-soft {
    margin-bottom: 15px;
}

.s-mar-bottom-list {
    margin-bottom: 5px !important;
}

.s-mar-right {
    margin-right: 30px;
}

.s-mar-right-soft {
    margin-right: 10px;
}

.s-pad-x {
    padding-right: 30px;
    padding-left: 30px;
}

.s-pad-x-no {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.s-pad-y {
    padding-top: 30px;
    padding-bottom: 30px;
}

.s-pad-y-soft {
    padding-top: 15px;
    padding-bottom: 15px;
}

.s-pad-left-no {
    padding-left: 0;
}

.s-pad-left-soft {
    padding-left: 15px;
}

.s-pad-right-soft {
    padding-right: 15px;
}


/* Sizes */

.sz-full {
    width: 100% !important;
}


/* Opacity */

.o-fade {
    opacity: 0.6;
}

.o-fade-hard {
    opacity: 0.3;
}

.o-fade-soft {
    opacity: 0.7;
}

.o-fade-max {
    opacity: 0;
}


/* Shadow */

.s-box {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}


/* Border */

.b-no {
    border: none;
}

.b-left {
    border-left: 4px solid rgba(0, 0, 0, 0.2);
}

.b-left-no {
    border-left: none;
}

.b-color-0 {
    border-color: orange;
}

.b-color-2 {
    border-color: limegreen;
}


/* Displays */

.dis-b {
    display: block;
}

.dis-ib {
    display: inline-block;
}


/* Cursors */

.dropdown-toggle,
.c-p {
    cursor: pointer;
}


/* Hovers */

.h-opacity:HOVER {
    opacity: 1;
}


/* Overflows */

.of-hidden {
    overflow: hidden;
}


/* Transitions */

.trans,
.dolphin {
    transition: all 0.3s ease-in-out;
}

.trans-opacity {
    transition: opacity .3s ease-in-out;
}


/* Animate */

.a-fade {
    transition: 0.5s linear all;
    opacity: 1;
}

.a-fade.ng-hide-add-active {
    opacity: 0;
}

.a-fade.ng-hide-remove {
    opacity: 0;
}

.animated.ng-leave {
    display: none !important;
}


/* Avatar */

.avatar {
    width: 132px;
    height: 132px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    overflow: hidden;
    background: cornflowerblue;
    color: #fff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    cursor: default;
}

.avatar span {
    line-height: 128px;
    text-align: center;
    font-size: 80px;
}

.avatar img {
    max-width: 100%;
}

.avatar-outside {
    margin-top: -94px;
    text-align: center;
}

.avatar-outside-wrapper {
    margin-top: 64px;
}


/* List */

.list-panel {
    padding: 6px 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.list-panel:last-child {
    border-bottom: none;
}


/* MD Toast */

md-toast {
    position: fixed;
    left: 10px;
    bottom: 10px;
}

.md-toast-animating {
    overflow: initial !important;
}


/* Link in Link */

.nav-link-in-link {
    position: absolute;
    right: 0;
    margin-top: -36px;
}


/* Panels */

.panel-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.panel-list .panel-list-item {
    padding: 10px 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.08);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.panel-list .panel-list-item:last-child {
    border-bottom: none;
}

.panel-list .panel-list-item-button {
    position: absolute;
    right: 16px;
    background: #fff;
    width: 24px;
    box-shadow: -5px 0 10px #fff;
}

.panel-list .panel-list-item-button>.fa {
    opacity: 0.6;
    font-size: 1.3em;
    cursor: pointer;
}

.panel-heading {
    padding: 18px 12px !important;
}


/* Dolphin */

.dolphin {
    display: block;
    border-radius: 2px;
    height: 200px;
    margin-bottom: 15px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.dolphin:hover {
    border-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-decoration: none;
}

.dolphin .caption {
    color: rgba(255, 255, 255, 0.9);
    background: rgba(0, 0, 0, 0.3);
    padding: 5px 5px;
    font-size: 13px;
    margin-top: 170px;
    text-overflow: ellipsis;
    text-align: center;
    width: 100%;
    overflow: hidden;
    font-weight: bold;
    white-space: nowrap;
}

.dolphin+.options {
    position: absolute;
    z-index: 10;
    margin: 5px;
    right: 15px;
    top: 0;
}


/* Editing Mode + Text Angular */

.ta-toolbar .btn-group {
    margin-bottom: 4px;
}

.editing-mode .ta-toolbar .btn-group {
    margin-bottom: 4px;
    margin-top: 4px;
}

.editing-mode {
    position: absolute;
    width: 100%;
    left: 0;
    top: -60px;
    background: #fff;
    z-index: 2000;
    box-shadow: 0 0 0 10000px #fff;
}

.editing-mode .ta-toolbar {
    display: block;
}

.editing-mode .form-control {
    box-shadow: none !important;
    border: none;
    margin-top: 180px !important;
    min-height: 200px;
}

.editing-mode .btn {
    border-color: #eee !important;
    border-radius: 0 !important;
    color: #777;
}

.editing-mode .btn:hover {
    opacity: 1;
    background-color: #eee !important;
    color: #222;
}

.editing-mode .close {
    font-size: 1.6em;
    border-radius: 100%;
    width: 50px;
    text-align: center;
    height: 50px;
    line-height: 50px;
    padding: 0;
    z-index: 1000;
    position: fixed;
    top: 45px;
    right: 10px;
}

.editing-mode .ta-toolbar {
    background: #f9f9f9;
    position: fixed;
    width: 101%;
    left: 0;
    top: 0;
    z-index: 1;
    box-shadow: 0 0 10px #ccc;
    text-align: center;
}


/* Navigation */

.navigation {
    margin-bottom: 6px;
}

.navigation-url {
    width: 400px !important;
    margin-left: 7px;
}

.navigation-label {
    width: 235px !important;
}

.navigation-trash {
    margin-left: 8px;
    font-size: 19px;
}

.navigation-button {
    border: 0px solid black;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    height: 35px;
    width: 35px;
}


/* White Spaces */

.ws-pre {
    white-space: pre-wrap;
}


/* Borders */

.br-r-no {
    border-radius: 0 !important;
}


/* Autocomplete */

tags-input .tags {
    border-radius: 4px;
    border-color: #ccc !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    transition: all 0.3s ease-in-out;
}

tags-input .tags.focused {
    border-color: #66afe9 !important;
    outline: 0 !important;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
}


/* Button Corner @btn */

.btn-corner {
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 100%;
    width: 60px;
    height: 60px;
    font-size: 1.5em;
    padding: 0;
    line-height: 60px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.4);
}

.btn-corner:focus,
.btn-corner:active {
    outline: 0 !important;
}


/* Modal @override */

.modal-header:not([init]) {
    background: rgba(0, 0, 0, 0.05);
    padding: 30px 20px;
}

img.modal-image {
    margin: -20px 0;
    border-radius: 100%;
    margin-right: 8px;
    width: 48px;
}


/* Button Circle @btn */

.btn-circle {
    width: 40px;
    height: 40px;
    padding: 0;
    border-radius: 100%;
    outline: 0 !important;
}

.btn-circle.btn-sm {
    width: 30px;
    height: 30px;
}


/* Dropdown @override */

.dropdown-menu {
    min-width: 200px;
}

.dropdown-menu a,
.dropdown-menu [ng-click] {
    padding: 8px 15px !important;
}

.dropdown-menu [ng-click]:hover {
    background-color: #f5f5f5;
}

.dropdown-menu .fa:not([init]) {
    width: 26px;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    position: absolute;
    right: 10px;
    height: 20px;
    padding: 2px;
}

.dropdown-menu>[ng-click]>.fa {
    top: 10px;
}


/* Tag */

.tag-search {
    width: 450px;
    margin-bottom: 20px;
    margin-left: 318px;
}


/* Comment */

.comment-search {
    width: 350px;
    margin-left: 318px;
    margin-bottom: 10px;
}

img.comment {
    width: 32px;
    height: 32px;
    margin-left: -9px;
    margin-right: 9px;
    margin-top: 2px;
}


/* Editable */

.editable-hide {
    display: initial !important;
}

.editable-wrap {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    padding: 5% 20%;
}

.editable-input {
    width: 100% !important;
}

.editable-controls {
    width: 100% !important;
}

.editable-buttons {
    display: block;
    width: 100% !important;
    margin-top: 10px;
}

.editable-buttons .btn {
    padding: 10px 30px;
    margin: 0;
    margin-right: 10px;
}

.editable-input {
    font-size: large;
    padding: 30px;
}

.editable-empty,
.editable-empty:hover,
.editable-empty:focus,
a.editable-empty,
a.editable-empty:hover,
a.editable-empty:focus {
    opacity: 0.5;
}


/* Load more */

.load-more .btn {
    margin-bottom: 15px;
}

.load-more {
    margin: 15px 0;
    text-align: center;
}


/* Primary color */

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus,
.btn-primary {
    background: #d17100;
}

.btn-primary,
.text-primary,
.editable-click,
a.editable-click,
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
    border-color: #b96400 !important;
}

.btn-primary:hover,
.btn-primary:focus {
    background: #b96400;
}

.btn-primary:active {
    background: #ab5c00 !important;
    border-color: #ab5c00 !important;
}

a,
a:hover,
a:focus,
.text-primary,
.editable-click,
a.editable-click {
    color: #d17100;
    text-decoration: none;
}

.form-control:focus {
    border-color: #ab5c00;
    box-shadow: 0 0 4px rgba(171, 92, 0, 0.5);
}

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
    background: #b96400;
}


/* Over flow */

.of {
    overflow: hidden;
}


/* Text */

.t-small {
    font-size: 12px;
}

.t-bold {
    font-weight: bold;
}


/* Outline */

.outline {
    border: 1px solid;
    padding: 2px 6px;
    border-radius: 2px;
    font-weight: bold;
}


/* Tag */

.tag-item {
    background: #eee !important;
    border: none !important;
    color: #666 !important;
}

.tag-item.selected {
    background: #faa !important;
}

img.tag {
    width: 32px;
    float: left;
    margin-right: 10px;
}
