<div class="modal fade" id="tag">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fas fa-hashtag text-primary"></i>
        {{ form.data.name }}
        <i class="fas fa-times close pull-right" data-dismiss="modal"></i>
        <button class="btn btn-default btn-xs pull-right" ng-click="dolphinService.viewSelection('tagCover')"
          title="Set or Change cover image of site.">
          Cover Image
        </button>
      </div>
      <div class="modal-body">
        <form ng-submit="tag.update(form)">
          <ng-include src="'tag/includes/tag_form.html'"></ng-include>
          <div class="btn-group stack">
            <button class="btn btn-primary" ng-disabled="form.loading">Update</button>
            <button class="btn btn-default" ng-disabled="form.loading" type="button"
              title="Delete" type="button" ng-click="tag.remove()">
              <i class="fas fa-trash"></i>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
