<!-- Main -->
<div class="col-md-9">
  <!-- Title -->
  <div class="form-group row" ng-class="{'has-error': form.errors.title}">
    <div class="col-sm-11 col-xs-10">
      <input id="title" class="form-control" type="text" ng-model="form.title" placeholder="Title" required/>
      <small id="title" class="help-block" ng-show="form.errors.title">{{ form.errors.title[0] }}</small>
    </div>
    <!-- Cover select -->
    <div class="col-sm-1 col-xs-2 s-pad-no">
      <button class="btn btn-default btn-block" ng-click="dolphinService.viewSelection()" type="button" title="Select cover image for entry">
      <i class="fa fa-fw fa-image"></i>
      </button>
    </div>
  </div>
  <!-- Content -->
  <div class="form-group" ng-class="{'has-error': form.errors.content, 'editing-mode': editingMode}">
    <i class="fa fa-close close pull-right" ng-click="editingMode = false" ng-show="editingMode"></i>
    <text-angular ng-model="form.content" ng-focus="editingMode = true" placeholder="Content"></text-angular>
    <small id="content" class="help-block" ng-show="form.errors.content">{{ form.errors.content[0] }}</small>
  </div>
  <!-- Lead -->
  <div class="form-group" ng-class="{'has-error': form.errors.lead}">
    <textarea id="lead" class="form-control" type="text" ng-model="form.lead" placeholder="Lead paragraph" rows="5">
    </textarea>
    <small id="lead" class="help-block" ng-show="form.errors.lead">{{ form.errors.lead[0] }}</small>
  </div>
</div>
<!-- Side -->
<div class="col-md-3">
  <!-- Slug -->
  <div class="form-group" ng-class="{'has-error': form.errors.slug}">
    <input id="slug" class="form-control" type="text" ng-model="form.slug" placeholder="Slug (URL)" />
    <small id="slug" class="help-block">{{ form.errors.slug[0] }}</small>
  </div>
  <!-- Errors for slug -->
  <div class="form-group" ng-class="{'has-error': form.errors.tag_ids}">
    <tags-input ng-model="tagsToSubmit" display-property="name"
      replace-spaces-with-dashes="false"
      add-from-autocomplete-only="true">
      <auto-complete source="loadTags($query)"
        min-length="0"
        max-results-to-show="10"></auto-complete>
    </tags-input>
  </div>
  <!-- Expert -->
  <div class="form-group" ng-class="{'has-error': form.errors.excerpt}">
    <textarea id="excerpt" class="form-control" type="text" ng-model="form.excerpt" placeholder="Excerpt (For SEO)">
		</textarea>
    <small id="excerpt" class="help-block">{{ form.errors.excerpt[0] }}</small>
  </div>
  <!-- Status -->
  <div class="form-group">
    <select ng-init="form.status = statuses[0].id" ng-options="status.id as status.label for status in statuses"
      ng-value="status"
      ng-model="form.status"
      class="form-control">
		</select>
  </div>
  <!-- Advanced Options -->
  <div class="form-group">
    <button class="btn btn-default btn-sm" type="button" ng-model="showAdvanced"
      ng-click="showAdvanced = !showAdvanced">
			<i class="fa" ng-class="{'fa-minus-square-o': showAdvanced, 'fa-plus-square-o': !showAdvanced}"></i>
			Advanced Options
    </button>
  </div>
  <!-- Meta Title and Meta Desc -->
  <div class="animated" ng-show="showAdvanced" ng-class="{fadeInUp: showAdvanced, fadeOutDown: !showAdvanced}">
    <div class=" form-group">
      <input ng-model="form.meta_title" placeholder="Meta title" class="form-control">
    </div>
    <div class="form-group">
      <input ng-model="form.meta_description" placeholder="Meta description" class="form-control">
    </div>
    <!-- Date Picker -->
    <div class=" form-group">
      <label for="startDate">Start publication</label>
      <input id="startDate" ng-model="form.start_publication" type="datetime-local" class="form-control">
    </div>
    <div class="form-group">
      <label for="endDate">End publication</label>
      <input id="endDate" ng-model="form.end_publication" type="datetime-local" class="form-control">
    </div>
  </div>
  <!-- Comments enabled -->
  <div class="checkbox checkbox-primary">
    <input id="comments_enabled" type="checkbox" ng-model="form.comment_enabled">
    <label for="comments_enabled">Comment enabled</label>
  </div>
  <!-- Featured -->
  <div class="checkbox checkbox-primary ">
    <input id="featued" type="checkbox" ng-model="form.featured">
    <label for="featued">Featured</label>
  </div>
  <!-- Errors -->
  <div class="form-group alert alert-danger" ng-show="form.errors.non_field_errors">
    {{ form.errors.non_field_errors[0] }}
  </div>
  <hr>
  <!-- Submit -->
  <button class="btn btn-success btn-block btn-lg" ng-disabled="form.loading || form.$invalid" ng-if="!editing">
		SUBMIT
	</button>
  <button class="btn btn-primary btn-block btn-lg" ng-disabled="form.loading || form.$invalid" ng-if="editing">
		UPDATE
	</button>
  <br>
  <button class="btn btn-default btn-lg pull-right"
    title="Delete entry"
    type="button"
    ng-if="editing"
    ng-click="remove(form.id)">
		<i class="fa fa-trash"></i>
	</button>
</div>