<!-- View button -->
<button type="button" class="btn btn-default btn-corner btn-corner-navbar"
  ng-click="sidebar = true" ng-init="sidebar = false">
  <i class="fa fa-chevron-right"></i>
</button>

<!-- Draft mode -->
<div ng-if="form.get.status === 0" class="editor-draft-mode animated fadeInUp"
  uib-tooltip="Entry is not published" tooltip-placement="top">
  <i class="fa fa-pencil fa-fw"></i> DRAFT MODE
</div>

<!-- Selected dolphin preview -->
<img class="o-fade-soft" ng-if="set.editor.dolphin" width="100" ng-src="{{ set.editor.dolphin.get.thumbnail_128x128 }}"
  style="position: fixed;top: {{ set.pageY+10 }}px;left: {{ set.pageX+10 }}px;z-index: 10000">
</img>

<!-- Main -->
<div class="col-md-12">
  <!-- Nevis -->
  <div class="form-group editor" ng-class="{'editingContent': editingContent}">
    <!-- Title -->
    <input id="title" class="form-control" type="text" ng-model="form.get.title" placeholder="TITLE">
    <br>
    <!-- Editor (description) -->
    <div text-angular ng-model="form.get.content" placeholder="CONTENT" name="editor"
      ng-focus="editingContent = true" ng-blur="editingContent = false"  ng-show="form.get.format === formats.text.id">
    </div>
    <!-- Entry formats -->
    <div class="entry-formats" ng-if="form.get.format !== formats.text.id">
      <!-- Image -->
      <a class="thumbnail" ng-if="form.get.format === formats.image.id"
        ng-href="{{ form.get.media.cover_image.file }}" target="_blank">
        <img ng-src="{{ form.get.media.cover_image.file }}" alt="{{ form.get.title }}">
      </a>
    </div>
  </div>
</div>

<!-- Sidebar -->
<div class="modal sidebar sidebar-small pre" ng-class="{'preIn': sidebar}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header modal-header-clickable" ng-click="sidebar = false">
        <i class="fa fa-chevron-left"></i>
      </div>
      <div class="modal-body">
        <!-- Tag -->
        <div class="form-group" ng-class="{'has-error': form.errors.tag_ids}">
          <tags-input ng-model="tagsToSubmit" display-property="name" replace-spaces-with-dashes="false"
            add-from-autocomplete-only="true">
            <auto-complete source="loadTags($query)" min-length="0" max-results-to-show="10" template="tag">
            </auto-complete>
          </tags-input>
          <script type="text/ng-template" id="tag">
            <div class="autocomplete-template">
              <small>
                <span ng-bind-html="$highlight($getDisplayText())"></span>
                <span>{{ data.count }}</span>
              </small>
            </div>
          </script>
        </div>
        <!-- Cover select and view entry on site -->
        <div class="form-group">
          <button class="btn btn-default btn-sm btn-block" ng-click="dolphinService.viewSelection('entryCover')" type="button">
            <i class="fa fa-fw fa-image"></i> Select cover image
          </button>
          <a ng-href="{{ form.url }}" class="btn btn-default btn-sm btn-block" target="_blank" ng-if="editing">
            <i class="fa fa-external-link"></i> View on site
          </a>
        </div>
        <!-- Advanced options -->
        <div class="form-group">
          <button class="btn btn-default btn-sm btn-block stack-element"
            type="button" ng-model="advanced" ng-init="advanced = true" ng-click="advanced = !advanced">
            <i class="fa fa-fw text-left" ng-class="{'fa-chevron-up': !advanced, 'fa-chevron-down': advanced}"></i>
            Advanced options
          </button>
        </div>
        <!-- Meta Title and Meta Desc -->
        <div uib-collapse="advanced">
          <!-- Lead -->
          <div class="form-group" ng-class="{'has-error': form.errors.lead}">
            <textarea id="lead" class="form-control" type="text"
              ng-model="form.get.lead" placeholder="Lead paragraph" rows="5">
            </textarea>
            <small id="lead" class="help-block" ng-show="form.errors.lead">{{ form.errors.lead[0] }}</small>
          </div>
          <!-- Slug -->
          <div class="form-group" ng-class="{'has-error': form.errors.slug}">
            <input id="slug" class="form-control" type="text" ng-model="form.get.slug" placeholder="Slug (URL)" />
            <small id="slug" class="help-block">{{ form.errors.slug[0] }}</small>
          </div>
          <!-- Expert -->
          <div class="form-group" ng-class="{'has-error': form.errors.excerpt}">
            <textarea id="excerpt" class="form-control" type="text"
              ng-model="form.get.excerpt" placeholder="Excerpt (For SEO)">
            </textarea>
            <small id="excerpt" class="help-block">{{ form.errors.excerpt[0] }}</small>
          </div>
          <div class="form-group">
            <input ng-model="form.get.meta_title" placeholder="Meta title" class="form-control">
          </div>
          <div class="form-group">
            <input ng-model="form.get.meta_description" placeholder="Meta description" class="form-control">
          </div>
          <!-- Start publication -->
          <div class="form-group">
            <label for="startDate">Start publication</label>
            <input id="startDate" ng-model="form.get.start_publication" type="datetime-local" class="form-control">
          </div>
          <!-- Comments enabled -->
          <div class="checkbox checkbox-primary">
            <input id="comments_enabled" type="checkbox" ng-model="form.get.comment_enabled">
            <label for="comments_enabled">Comment enabled</label>
          </div>
          <!-- Featured -->
          <div class="checkbox checkbox-primary ">
            <input id="featued" type="checkbox" ng-model="form.get.featured">
            <label for="featued">Featured</label>
          </div>
          <hr>
        </div>
        <!-- Errors -->
        <div class="form-group alert alert-danger" ng-show="form.errors.non_field_errors">
          {{ form.errors.non_field_errors[0] }}
        </div>
        <!-- Status -->
        <div class="btn-group-vertical btn-block s-mar-bottom-soft">
          <label class="btn btn-{{ status.color }}" ng-repeat="status in statuses"
            ng-model="form.get.status" uib-btn-radio="status.id"
            ng-class="{'t-bold': form.get.status === status.id, 'o-fade-soft': form.get.status !== status.id}">
            <i class="fa fa-fw fa-{{ status.icon }} left"></i> {{ status.label }}
          </label>
        </div>
        <!-- New button -->
        <button class="btn btn-primary btn-block" ng-if="!editing">SUBMIT</button>
        <!-- Editing buttons -->
        <div class="btn-group stack" ng-if="editing">
          <button class="btn btn-primary" ng-disabled="form.loading || form.$invalid">UPDATE</button>
          <button class="btn btn-default" ng-disabled="form.loading || form.$invalid"
            title="Delete entry" type="button" ng-click="form.remove()">
            <i class="fa fa-trash"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
