<!-- Cover image -->
<div ng-hide="full" class="container-fluid reader-cover s-pad-no text-center" ng-if="post.media.cover_image"
	ng-style="{'background-image': 'url({{ post.media.cover_image.file }})'}">
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1>{{ post.title }}</h1>
			</div>
		</div>
	</div>
</div>
<!-- Content -->
<div class="reader-wrapper" ng-class="{'full-screen': full}">
	<div class="container">
		<nothing text="{{ 'ENTRY_GET_ERROR' | translate }}" ng-if="error"></nothing>
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<div class="reader-content" ng-if="!error && !loading">
          <!-- Title -->
          <h1 ng-if="!post.media.cover_image" class="text-center title s-mar-bottom">{{ post.title }}</h1>
          <!-- Content -->
          <div class="ql-editor" ng-bind-html="trustedContent"></div>
          <!-- Divider -->
          <hr>
          <!-- Voting and vote counts -->
          <button class="btn btn-light pull-right btn-sm" ng-class="{'btn-danger': post.is_voted}"
            disable-on-request="readerService.vote(post)">
            <i class="fa fa-heart fa-fw"></i>
            <span ng-show="post.vote_count">{{ post.vote_count }}</span>
          </button>
				</div>
				<!-- Comments section -->
				<div class="comments panel panel-default" ng-if="commentsInitialled">
					<!-- Comment add section -->
					<div class="panel-heading lower">
						{{ 'COMMENTS' | translate }} <span class="pull-right">{{ commentCount | number }}</span>
					</div>
					<div class="panel-body">
						<div ng-if="post.can_comment">
							<div class="form-group">
								<textarea class="form-control" ng-model="commentForm.comment"
									placeholder="{{ 'COMMENT_PLACEHOLDER' | translate }}" required>
								</textarea>
							</div>
							<!-- Submit button -->
							<button class="btn btn-primary pull-right" ng-disabled="!commentForm.comment"
								disable-on-request="comment(commentForm)">
								{{ 'COMMENT' | translate }}
							</button>
							<div class="clearfix"></div>
						</div>
						<!-- Comments are disabled -->
						<span class="alert alert-danger dis-b text-center"
							ng-if="!post.can_comment" translate>
							COMMENTING_DISABLED
						</span>
						<!-- Comment list -->
						<p class="text-center" ng-if="!comments.length && post.can_comment">{{ 'NO_COMMENTS_YET' | translate }}</p>
						<div ng-if="comments.length">
							<div class="media" ng-repeat="comment in comments" ng-show="!comment.isDeleted">
								<div class="media-left">
									<!-- User avatar -->
									<img class="media-object img-circle" style="max-width: 48px"
										ng-src="{{ comment.user.getMedia('tiny') }}">
								</div>
								<div class="media-body break-word">
									<div class="media-heading s-mar-no">
										<!-- Username -->
										<a ng-href="{{ comment.user.get.get_absolute_uri }}" target="_blank">
											{{ comment.user.getDisplayName() }}
										</a>
										<!-- Date -->
										<small class="o-fade-soft">&middot; {{ comment.get.created | date }}</small>
									</div>
									<!-- Comment -->
									<p class="s-mar-no" ng-bind-html="comment.get.comment"></p>
								</div>
							</div>
							<!-- Load more -->
							<pagination page-form="commentPageForm" normal="true" minimal="true"
								ng-if="commentsInitialled">
							</pagination>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Bottom bar -->
<div class="bottom-bar hidden-xs" ng-if="post">
	<div class="container">
		<div class="flex-container">
			<!-- Theme -->
			<div class="flex-auto">
				<i class="fa fa-fw" ng-class="{'fa-sun-o': !set.lights, 'fa-moon-o': set.lights}"
					ng-click="set.lights = !set.lights"
					uib-tooltip="{{ set.lights ? tooltips.theme.dark : tooltips.theme.bright }}"
					tooltip-trigger="'mouseenter'"
					tooltip-class="init"></i>
			</div>
			<!-- Content information -->
			<img class="img-circle s-mar-right-soft" ng-src="{{ siteLogo }}">
			<div class="s-mar-right" translate translate-compile>{{ bottomInfo }}</div>
			<div class="s-mar-left" ng-if="!isOwner">
				<button class="btn btn-primary" disable-on-request="subscribe(post.site.id)" ng-class="{active: isFollowing}">
					{{ isFollowing ? "UNFOLLOW" : "FOLLOW_FOR_MORE" | translate }}
				</button>
			</div>
			<!-- Full screen -->
			<div class="flex-auto text-right">
				<i class="fa fa-expand fa-fw" ng-click="fullScreen()" uib-tooltip="{{ tooltips.size.full }}"
          tooltip-trigger="'mouseenter'" tooltip-class="init">
        </i>
			</div>
		</div>
	</div>
</div>

<!-- Full screen buttons -->
<div class="full-screen-buttons">
	<!-- Theme -->
	<i class="fa fa-fw" ng-class="{'fa-sun-o': !set.lights, 'fa-moon-o': set.lights}" ng-click="set.lights = !set.lights"
    uib-tooltip="{{ set.lights ? tooltips.theme.dark : tooltips.theme.bright }}"
    tooltip-trigger="'mouseenter'" tooltip-class="init">
  </i>
	<!-- Exit full screen -->
	<i class="fa fa-compress fa-fw" ng-click="fullScreen()" uib-tooltip="{{ tooltips.size.normal }}"
		tooltip-trigger="'mouseenter'" tooltip-class="init"></i>
</div>
