/* Global */

html, body {
    background-color: #fcfcfc;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    cursor: pointer;
}

/* Navbar */

.navbar-brand {
    margin-right: 30px;
}

/* Forms */

.help-block {
    margin-left: 10px;
}

/* Space */

.s-pad {
    padding: 30px;
}

.s-mar-no {
    margin: 0;
}

.s-mar-top {
    margin-top: 30px;
}

.s-mar-right {
    margin-right:30px;
}

.s-mar-right-soft {
    margin-right: 10px;
}

/* Opacity */

.o-fade {
    opacity: 0.6;
}

.o-fade-hard {
    opacity: 0.3;
}

.o-fade-soft {
    opacity: 0.7;
}

/* Shadow */

.s-box {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

/* Avatar */

.avatar {
    width: 128px;
    height: 128px;
    border: 2px solid rgba(0,0,0,0.2);
    border-radius: 100%;
    overflow: hidden;
    line-height: 128px;
    text-align: center;
    font-size: 80px;
    background: cornflowerblue;
    color: #fff;
    text-shadow: 0 0 5px rgba(0,0,0,0.5);
    cursor: default;
}
