/* Global */

html,
body {
  background-color: #fcfcfc;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  cursor: pointer;
}

.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.open .dropdown-toggle {
  opacity: 1;
}


/* Navbar */

.navbar-brand {
  margin-right: 30px;
}


/* Forms */

.help-block {
  margin-left: 10px;
}


/* Space */

.s-pad {
  padding: 30px;
}

.s-pad-soft {
  padding: 5px;
}

.s-pad-no {
  padding: 0;
}

.s-pad-no-y {
  padding-top: 0;
  padding-bottom: 0;
}

.s-mar-no {
  margin: 0;
}

.s-mar-top {
  margin-top: 30px;
}

.s-mar-right {
  margin-right: 30px;
}

.s-mar-right-soft {
  margin-right: 10px;
}


/* Opacity */

.o-fade {
  opacity: 0.6;
}

.o-fade-hard {
  opacity: 0.3;
}

.o-fade-soft {
  opacity: 0.7;
}


/* Shadow */

.s-box {
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}


/* Border */

.b-no {
  border: none;
}

.b-left {
  border-left: 4px solid rgba(0, 0, 0, 0.2);
}

.b-left-no {
  border-left: none;
}

.b-color-0 {
  border-color: orange;
}

.b-color-2 {
  border-color: limegreen;
}


/* Displays */

.dis-b {
  display: block;
}


/* Cursors */

.c-p {
  cursor: pointer;
}


/* Hovers */

.h-opacity:HOVER {
  opacity: 1;
}


/* Overflows */

.of-hidden {
  overflow: hidden;
}


/* Avatar */

.avatar {
  width: 128px;
  height: 128px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 100%;
  overflow: hidden;
  line-height: 128px;
  text-align: center;
  font-size: 80px;
  background: cornflowerblue;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  cursor: default;
}


/* Text editor */

.ta-toolbar .btn-group {
  margin-bottom: 8px;
}


/* List */

.list-panel {
  padding: 6px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.list-panel:last-child {
  border-bottom: none;
}